<ng-form name="step9">
    <div class="row bs-callout  bs-callout-info" style="margin: 5px;padding:10px">
        <div class="row form-group">
            <div class="form-group required col-md-6">
                <label class="control-label">Premium Payment Frequency</label>
                <!-- <input type="text" class="form-control input-sm" ng-model="premiumPaymentDetails.premiumFrequency"/>-->
                <select class="form-control input-sm"  name="premiumFrequency" ng-disabled="mode=='new'||mode=='view'" ng-change="getpremiumFrequency(premiumPaymentDetails.premiumFrequency)" ng-model="premiumPaymentDetails.premiumFrequency">
                    <option  value="ANNUALLY">Annual</option>
                    <option  value="SEMI_ANNUALLY">Semi-Annual</option>
                    <option  value="QUARTERLY">Quarterly</option>
                    <option  value="MONTHLY">Monthly</option>
                </select>

                <div class="error" ng-messages="step9.premiumFrequency.$error" ng-if="step9.premiumFrequency.$dirty">
                    <small class="error" ng-message="required">Please specify premiumFrequency</small>
                </div>
            </div>
            <div class="form-group required col-md-6">
                <label class="control-label">Method Of Premium Payment</label>
                <!--<input type="text" class="form-control input-sm" ng-model="premiumPaymentDetails.premiumPaymentMethod" />-->
                <select class="form-control input-sm" name="methodOfPremium" ng-required="true" ng-disabled="mode=='new'||mode=='view'" ng-model="premiumPaymentDetails.premiumPaymentMethod">
                    <option value="CASH" >CASH</option>
                    <option value="STOP_ORDER">Stop Order</option>
                    <option value="DEBIT_ORDER">Bank Debit Order</option>
                    <!--<option value="CHEQUE"> Cheque</option>-->
                </select>
                <div class="error" ng-messages="step9.methodOfPremium.$error" ng-if="step9.methodOfPremium.$dirty">
                    <small class="error" ng-message="required">Please specify methodOfPremium</small>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <accordion close-others="true">
        <accordion-group is-open=" " ng-form="premiumEmpDetails " ng-if="premiumPaymentDetails.premiumPaymentMethod == 'STOP_ORDER'">
            <accordion-heading>
                Employer Details<i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-chevron-down': accordionStatus.proposerDetails.proposedAssured, 'glyphicon-chevron-right': !accordionStatus.proposerDetails.proposedAssured}"></i>
            </accordion-heading>
            <div class="col-md-6">
                <div class="form-group required" ng-if="premiumPaymentDetails.premiumPaymentMethod == 'STOP_ORDER'">
                    <label class="control-label">Employee No</label>
                    <input type="text" class="form-control input-sm" ng-maxlength="15" name="employeeNumber" ng-model="premiumEmployerDetails.employeeId" ng-disabled="mode=='new'||mode=='view'"
                            />

                    <div class="error" ng-messages="premiumEmpDetails.employeeNumber.$error" ng-if="premiumEmpDetails.employeeNumber.$dirty">
                        <!--<small class="error" ng-message="required">Please enter Spouse's Firstap Name</small>-->
                        <!--<small ng-message="pattern">Only alphabets are allowed.</small>-->
                        <small ng-message="maxlength">Only 15 characters are allowed.</small>
                    </div>

                </div>

                <div class="form-group required" ng-if="premiumPaymentDetails.premiumPaymentMethod == 'STOP_ORDER'">
                    <label class="control-label">Company Name and Postal Address</label>
                    <input type="text" class="form-control input-sm" ng-maxlength="100"  name="companyFullAddress1" ng-model="premiumEmployerDetails.companyNameAndPostalAddress" ng-disabled="mode=='new'||mode=='view'"/>

                    <div class="error" ng-messages="premiumEmpDetails.companyFullAddress1.$error" ng-if="premiumEmpDetails.companyFullAddress1.$dirty">
                        <!--<small class="error" ng-message="required">Please enter Spouse's First Name</small>-->
                        <!--<small ng-message="pattern">Only alphabets are allowed.</small>-->
                        <small ng-message="maxlength">Only 100 characters are allowed.</small>
                    </div>
                </div>
                <div class="form-group required" ng-if="premiumPaymentDetails.premiumPaymentMethod == 'STOP_ORDER'">
                    <label class="control-label">Per</label>
                    <!-- <input type="text" class="form-control input-sm" name="nrc" ng-model="premiumEmployerDetails.salaryPer" ng-disabled="mode=='new'||mode=='view'"/>-->
                    <select class="form-control input-sm" name="salaryPer" ng-required="true" ng-disabled="mode=='new'||mode=='view'" ng-model="premiumEmployerDetails.salaryPer">
                        <option value=" "> -- Select Per -- </option>
                        <option value="ANNUALLY">Annum</option>
                        <option value="MONTHLY">Month</option>
                        <option value="WEEKLY">Week</option>
                    </select>

                    <div class="error" ng-messages="premiumEmpDetails.salaryPer.$error" ng-if="premiumEmpDetails.salaryPer.$dirty">
                        <small class="error" ng-message="required">Please specify whether salary is paid per week or Month or Year.</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group required" ng-if="premiumPaymentDetails.premiumPaymentMethod == 'STOP_ORDER'">
                    <label class="control-label">Man No</label>
                    <input type="text" class="form-control input-sm"  ng-model="premiumEmployerDetails.manNumber" ng-disabled="mode=='new' || mode=='view'" name="manNo"
                           ng-maxlength="15" ng-required="true"/>

                    <div class="error" ng-messages="premiumEmpDetails.manNo.$error" ng-if="premiumEmpDetails.manNo.$dirty">
                        <small class="error" ng-message="maxlength">Upto 15 Character allowed.</small>
                    </div>

                </div>

                <div class="form-group required" ng-if="premiumPaymentDetails.premiumPaymentMethod == 'STOP_ORDER'">
                    <label class="control-label">Basic Salary</label>
                    <input type="number" class="form-control input-sm" name="basicSalary" ng-model="premiumEmployerDetails.basicSalary" max="{{getMax()}}" ng-disabled="mode=='new'||mode=='view'"  />

                    <div class="error" ng-messages="premiumEmpDetails.basicSalary.$error" ng-if="premiumEmpDetails.basicSalary.$dirty">
                        <small class="error" ng-message="max">Upto 9999999.99 allowed.</small>
                    </div>

                </div>
            </div>
        </accordion-group>
        <br />
        <accordion-group ng-if="premiumPaymentDetails.premiumPaymentMethod == 'DEBIT_ORDER'" ng-form="premiumBankDetail">
            <accordion-heading>
                Bank Details <i class="pull-right glyphicon"
                                ng-class="{'glyphicon-chevron-down': accordionStatus.proposerDetails.spouseDetails, 'glyphicon-chevron-right': !accordionStatus.proposerDetails.spouseDetails}"></i>
            </accordion-heading>
            <div class="col-md-6">
                <div class="form-group required" ng-if="premiumPaymentDetails.premiumPaymentMethod == 'DEBIT_ORDER'">
                    <label class="control-label">Bank Branch Sort Code</label>
                    <input type="text" class="form-control input-sm" readonly="true" ng-model="bankDetails.bankBranchSortCode" ng-disabled="mode=='new'||mode=='view'" name="spouseSurname"  ng-maxlength="20"
                           ng-required="true"/>

                    <!--<select class="form-control input-sm" name="bankSortCode" ng-disabled="mode=='new'||mode=='view'" ng-options="bankCode.SORT_CODE as bankCode.SORT_CODE for bankCode in bankCodeDetails"
                            ng-model="bankDetails.bankBranchSortCode" ng-required="true">
                    </select>-->

                </div>
                <div class="form-group required" ng-if="premiumPaymentDetails.premiumPaymentMethod == 'DEBIT_ORDER'">
                    <label class="control-label">Bank Branch Name</label>
                    <!-- <input type="text" class="form-control input-sm" ng-model="bankDetails.bankBranchName" ng-disabled="mode=='new'||mode=='view'" name="branchname"/>-->

                    <!--<select class="form-control input-sm" name="branchname" ng-disabled="mode=='new'||mode=='view'" ng-options="bankBranchDetail.branchName as bankBranchDetail.branchName for bankBranchDetail in bankBranchDetails"
                            ng-model="bankDetails.bankBranchName" ng-selected="bankBranchDetail.branchName" ng-required="true">
                    </select>-->

                    <input type="text" class="form-control input-sm" ng-model="bankDetails.bankBranchName" ng-disabled="mode=='new'||mode=='view'" name="branchname"/>

                    <div class="error" ng-messages="premiumBankDetail.branchname.$error" ng-if="premiumBankDetail.branchname.$dirty">
                        <small class="error" ng-message="required">Please specify Bank Branch Name.</small>
                    </div>


                    <!--<select class="form-control input-sm" name="branchname" ng-disabled="mode=='new'||mode=='view'" value="bankBranchDetail.BRANCH" ng-options=" bankBranchDetail.BRANCH for bankBranchDetail in bankBranchDetails"
                            ng-model="bankDetails.bankBranchName" ng-required="true">
                    </select>-->
                </div>

                <div class="form-group required" ng-if="bankDetails.bankName == 'INVESTRUST BANK PLC'">
                    <label class="control-label">Bank Account Number</label>
                    <input type="text" class="form-control input-sm" ng-model="bankDetails.bankAccountNumber" ng-maxlength="17" ng-disabled="mode=='new'||mode=='view'" name="bankAccountNumber"/>

                    <div class="error" ng-messages="premiumBankDetail.bankAccountNumber.$error" ng-if="premiumBankDetail.bankAccountNumber.$dirty">
                        <small class="error" ng-message="required">Please specify Bank Branch Name.</small>
                        <small class="error" ng-message="maxlength">Upto 17 Character Allow.</small>
                    </div>
                </div>

                <div class="form-group required" ng-if="bankDetails.bankName != 'INVESTRUST BANK PLC' ">
                    <label class="control-label">Bank Account Number</label>
                    <input type="text" class="form-control input-sm" ng-maxlength="13" ng-pattern="/^\d+$/" ng-required="true" ng-model="bankDetails.bankAccountNumber" ng-disabled="mode=='new'||mode=='view'" name="bankAccountNumber"/>

                    <div class="error" ng-messages="premiumBankDetail.bankAccountNumber.$error" ng-if="premiumBankDetail.bankAccountNumber.$dirty">
                        <small class="error" ng-message="required">Please specify Bank Name.</small>
                        <small ng-message="pattern">Only numeric are allowed.</small>
                        <small class="error" ng-message="maxlength">Upto 13 Numbers Allow.</small>
                    </div>
                </div>
            </div>
            <div class="form-group required col-md-6">
                <div class="form-group required" ng-if="premiumPaymentDetails.premiumPaymentMethod == 'DEBIT_ORDER'">
                    <label class="control-label">Bank Name</label>
                    <!-- <input type="text" class="form-control input-sm" ng-model="bankDetails.bankName" ng-disabled="mode=='new'||mode=='view'" name="bankName"/>-->
                    <select class="form-control input-sm" name="bankName" ng-disabled="mode=='new'||mode=='view'" ng-options="bankDetail.bankName as bankDetail.bankName for bankDetail in bankDetailsResponse"
                            ng-model="bankDetails.bankName"  ng-required="true">{{bankDetail.bankName}}
                    </select>
                    <div class="error" ng-messages="premiumBankDetail.bankName.$error" ng-if="premiumBankDetail.bankName.$dirty">
                        <small class="error" ng-message="required">Please specify Bank Name.</small>
                    </div>

                    <!--<select class="form-control input-sm" name="bankName"  ng-model="bankDetails.bankName" ng-disabled="mode=='new'||mode=='view'">
                        <option ng-repeat="bankDetail in bankDetails" value="{{bankDetail.BANK_NAME}}">{{bankDetail.BANK_NAME}}</option>
                    </select>-->
                </div>

                <div class="form-group required" ng-if="premiumPaymentDetails.premiumPaymentMethod == 'DEBIT_ORDER' ">
                    <label class="control-label">Bank Account Type</label>
                    <!--<input type="text" class="form-control input-sm" ng-required="true" ng-model="bankDetails.bankAccountType" ng-disabled="mode=='new'||mode=='view'" name="accountType"/>-->

                    <select class="form-control input-sm" name="accountType" ng-model="bankDetails.bankAccountType" ng-disabled="mode=='new'||mode=='view'">
                        <option  value="SAVING">Saving</option>
                        <option  value="CURRENT">Current</option>
                    </select>

                    <div class="error" ng-messages="premiumBankDetail.accountType.$error" ng-if="premiumBankDetail.accountType.$dirty">
                        <small class="error" ng-message="required">Please specify account type .</small>
                    </div>

                </div>
            </div>
        </accordion-group>
        <br/>
        <div class="row bs-callout  bs-callout-info" style="margin: 5px;padding:10px">
            <div class="row form-group">
                <div class="col-md-4">
                    <label class="control-label">Proposal Sign Date</label>
                    <!--<input type="text" class="form-control input-sm" />-->
                    <div class='input-group date'>
                        <input type="text" class="form-control input-sm"
                               datepicker-popup="" view-enabled=""
                               ng-required="true"
                               is-open="signDateA"
                               max-date="todayDate"
                               ng-model="premiumPaymentDetails.proposalSignDate" name="signDate" ng-disabled="mode=='new'||mode=='view'"/>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm"
                                            ng-disabled="mode=='new'||mode=='view'" ng-click="signDateLaunchPremium($event)">
                                        <i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                    </div>

                    <div class="error" ng-messages="step9.signDate.$error" ng-if="step9.signDate.$dirty">
                        <small ng-message="required">Please enter Sign Date.</small>
                        <small ng-message="date">Invalid Date.</small>
                    </div>

                </div>
            </div>
        </div>
        <br/>
        <accordion-group is-open="accordionStatus.proposerDetails.employment" ng-form="premiumDetailForm">
            <accordion-heading>
                Premium Details <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-chevron-down': accordionStatus.proposerDetails.employment, 'glyphicon-chevron-right': !accordionStatus.proposerDetails.employment}"></i>
            </accordion-heading>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Plan Annual Premium</label>
                    <input type="text" class="form-control input-sm" ng-readonly="true" ng-model="premiumResponse.planAnnualPremium" ng-disabled="mode=='new'||mode=='view'" name="premiumResponse.planAnnualPremium" ng-maxlength="100"/>
                </div>

                <!--<div class="form-group">
                    <label class="control-label"> Optional Coverage2 Name Annual Premium </label>
                    <input type="text" class="form-control input-sm" ng-disabled="mode=='new'||mode=='view'" name="addressLine1" ng-maxlength="100"/>
                </div>-->


                <div class="form-group">
                    <label class="control-label">Total Annual Premium Payable</label>
                    <input type="text" class="form-control input-sm" ng-readonly="true" ng-model="premiumResponse.totalPremium" ng-disabled="mode=='new'||mode=='view'" name="addressLine1" ng-maxlength="100"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-repeat="rider in premiumResponse.riderPremiums">
                    <div>
                        <td>{{rider.coverageName.coverageName}} Annual Premium </td>
                        <td>
                            <input type="number" ng-readonly="true" ng-model="rider.annualPremium"
                                   ng-disabled="mode=='new'||mode=='view'" class="form-control input-sm" view-enabled=""/>
                        </td>
                    </div>
                </div>

                <!--<div class="form-group">
                    <label class="control-label"> Optional Coverage3 Name Annual Premium</label>
                    <input type="text" class="form-control input-sm" ng-disabled="mode=='new'||mode=='view'" name="addressLine1" ng-maxlength="100"/>
                </div>-->
                <div class="form-group">
                    <label class="control-label">Frequency Premium Payable</label>
                    <input type="text" class="form-control input-sm" ng-readonly="true" ng-model="premiumPaymentDetails.premiumFrequencyPayable"  ng-disabled="mode=='new'||mode=='view'" name="addressLine2" ng-maxlength="100"/>
                </div>
            </div>
        </accordion-group>
    </accordion>
    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn btn-default btn-sm" ng-click="cancelAll()">Cancel</button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-default btn-sm" style="float: right" ng-disabled="(step9.$invalid)" ng-hide="mode=='new'||mode=='view'" ng-click="savePremiumDetail()">Save</button>
        </div>
    </div>
</ng-form>
