
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head th:include="fragments/common :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"/>
    <link href="https://www.fuelcdn.com/fuelux/3.6.3/css/fuelux.min.css" rel="stylesheet"/>
    <script data-main="../../../../static/js/requireConfig"
            src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.16/require.min.js"></script>

    <!--*/-->
</head>
<body class="fuelux">
<div th:include="fragments/common :: bodyHeader" th:remove="tag"/>
<script>
    var isEnterKey = function (event) {
        var charCode = (event.which) ? event.which : event.keyCode;

        if (charCode == 13) {
            event.preventDefault();
        }
    }
    requirejs.config({
        paths: {
            angucomplete: 'http://ghiden.github.io/angucomplete-alt/js/libs/angucomplete-alt'
        }
    });
    requirejs(['main', 'angular-file-upload', 'angucomplete'], function () {
        require(['/pla/js/sbcm/createsbcm.js?t=19'], function () {
            angular.element(document).ready(function () {
                angular.bootstrap(document, ['createSbcm']);
            });
        });
    });
</script>

<script type="text/ng-template" id="createsbcm.html">
    <nth-alert></nth-alert>
    <div class="wizard fuelux-wizard" selected-item="selectedWizard" style="overflow: visible"
         ng-class="{'form-submitted':isFormSubmitted}" remove-steps="stepsToRemove">
        <ul class="steps" style="margin-left: 0">
            <li data-step="1">
                <span class="badge badge-info" ></span>Services-Benefit-Coverage Mapping Record<span class="chevron"></span>
            </li>
        </ul>
        <div class="step-content">
            <div class="step-pane active" data-step="1">
                <ng-form name="hcpForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label class="control-label">Plan</label>
                                <select  class="form-control input-sm" name="product"
                                         ng-model="createsbcmcommand.planCode"  maxlength="100" minlength="1"
                                         ng-options="plan.planCode as plan.planName for plan in plans"
                                         placeholder="Enter Product" ng-disabled="mode =='view'"
                                         ng-required="true" ng-pattern="/^[a-zA-Z ]*$/"/>

                                <div class="error" ng-messages="hcpForm.hcpName.$error"
                                     ng-if="hcpForm.hcpName.$dirty">
                                    <small ng-message="required">Please Enter Product</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label class="control-label">Coverage</label>
                                <select  class="form-control input-sm" name="product"
                                         ng-model="createsbcmcommand.coverageId"  maxlength="100" minlength="1"
                                         ng-options="coverage.coverageId as coverage.coverageName for coverage  in coverages"
                                         placeholder="Enter Coverage" ng-disabled="mode =='view'"
                                         ng-required="true" ng-pattern="/^[a-zA-Z ]*$/"/>
                                <div class="error" ng-messages="hcpForm.hcpName.$error"
                                     ng-if="hcpForm.hcpName.$dirty">
                                    <small ng-message="required">Please Enter Coverage</small>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label class="control-label">Benefit</label>
                                <select class="form-control input-sm" name="product"
                                        ng-model="createsbcmcommand.benefitId"  maxlength="100" minlength="1"
                                        ng-options="benefit.benefitId as benefit.benefitName for benefit in benefits"
                                        placeholder="Enter Benifit" ng-disabled="mode =='view'"
                                        ng-required="true" ng-pattern="/^[a-zA-Z ]*$/"/>

                                <div class="error" ng-messages="hcpForm.hcpName.$error"
                                     ng-if="hcpForm.hcpName.$dirty">
                                    <small ng-message="required">Please Enter Benifit</small>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label class="control-label">Services</label>
                                <select class="form-control input-sm" name="product"
                                        ng-model="createsbcmcommand.service"  maxlength="100" minlength="1"
                                        placeholder="Enter Services" ng-disabled="mode =='view'"
                                        ng-options="service as service for service in services"
                                        ng-required="true" ng-pattern="/^[a-zA-Z ]*$/"/>

                                <div class="error" ng-messages="hcpForm.hcpName.$error"
                                     ng-if="hcpForm.hcpName.$dirty">
                                    <small ng-message="required">Please Enter Services</small>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row bs-callout-info bs-callout-info">
                        <div class="form-group col-md-6">
                            <button type="button" class="btn btn-primary  pull-right" style="margin-top:25px;" ng-if="mode!='view'" data-animation="am-flip-x" ng-disabled="hcpForm.$invalid"  ng-click="saveHCPRates()">save</button>
                        </div>
                        <div class="form-group col-md-1">
                            <button type="button" class="btn btn-danger  pull-right" style="margin-top:25px;" ng-if="mode !='view'" data-animation="am-flip-x">cancel</button>
                        </div>
                    </div>
                </ng-form>
            </div>
        </div>
    </div>
    <style>
        .fuelux .checkbox-custom:before {
            font-family: "Glyphicons Halflings" !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            line-height: 1;
            speak: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            border: 1px solid #adadad;
            border-radius: 4px;
            color: #fff;
            content: " ";
            font-size: 12px;
            height: 18px;
            left: 0;
            padding: 1px 0 0 1px;
            position: absolute;
            top: 3px;
            width: 18px;
        }
        .btn {
            font-size: 12px;
        }
    </style>
</script>
<div class="ng-view container">
</div>
<footer class="footer" th:include="fragments/common :: footer">
</footer>
</body>
</html>
