<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:include="fragments/common :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body style="padding-top: 70px;">
<div th:include="fragments/common :: bodyHeader" th:remove="tag"/>
<script>
    requirejs(['basic'],function(){
    requirejs(['/pla/js/region/viewRegionalManager.js'],function(){
    });
    })
</script>

<div class="container" style="padding-top: 0px!important;">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-6"><span th:text="#{listOfRegionalManagers}">List of Regional Managers
                        </span></div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered" id="regionalManager-table" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th th:text="#{regionName}">
                                Region Name
                            </th>
                            <th th:text="#{regionalManager}">
                                Regional Manager
                            </th>
                            <th th:text="#{regionalManagerFrom}">
                                Regional Manager From
                            </th>
                            <th th:text="#{actions}">
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr  th:each="region : ${regionList}">
                            <td th:text="${region.regionName}"></td>
                            <td th:text="${region.regionalManagerFirstName != null and region.regionalManagerLastName != null}? |${region.regionalManagerFirstName} ${region.regionalManagerLastName} |"> </td>
                            <td th:text="${region.regionalManagerFromDate}"></td>
                            <td style="text-align:center">
                                <a class="btn btn-default btn-xs" th:href="'/pla/core/region/redirecttoassignPage?regionId='+${region.regionCode}+''">Assign</a></td>

                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <ul class="pagination" id="logs-pagination-default"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" th:include="fragments/common :: footer">
</footer>
</body>
</html>