<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head th:include="fragments/common :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title name="Notification Role List"/>
    <script>
        requirejs.config({
            paths: {
                notification_role: '/pla/js/notification/notification-role.js?t=1221'
            },
            "shim": {"ilquotation": ["angular"]}
        });
        requirejs(['main'], function () {
            require(['notification_role', 'jquery'], function (app, $) {
                angular.bootstrap(document, ['NotificationRoleModule']);
            });
        });

    </script>
</head>
<body ng-controller="RoleMappingCtrl">

<style>
    .error {
        font-size: 10px;
        color: firebrick;
    }
</style>
<div th:include="fragments/common :: bodyHeader" th:remove="tag"></div>
<link href="/pla/css/xeditable.css"/>
<div class="splash">
    <div class="color-line"></div>
    <div class="splash-title"></div>
</div>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6"><span th:text="#{planList}">List of Notification Roles
                        </span></div>
                <div class="col-lg-6">
                    <a class="btn btn-default btn-sm" style="float: right"
                       href="#newRoleMapping" data-toggle="modal" ng-click="newRoleMapping()">New Role Mapping</a>
                </div>
            </div>
        </div>
        <div class="panel-body ">
            <div class="col-md-9">
                <nth-alert/>
            </div>
            <table class="dataTables_wrapper dataTable table table-striped table-bordered"
                   datatable="" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Role</th>
                    <th>Line of Business</th>
                    <th>Process Type</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="role : ${roleList}">
                    <td th:text="${role.roleType}"></td>
                    <td th:text="${role.lineOfBusiness}"></td>
                    <td th:text="${role.processType}"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <ul class="pagination" id="logs-pagination-default"></ul>
        </div>
    </div>
</div>


<div class="modal fade" id="newRoleMapping" tabindex="-1" role="dialog" aria-labelledby="newRoleMapping">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Role Mapping</h4>
            </div>
            <div class="modal-body">
                <ng-alert></ng-alert>
                <form name="roleForm" novalidate="ng">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="control-group required col-md-6">
                                <label class="control-label">Role</label>
                                <select class="form-control input-sm" id="role"
                                        ng-model="mapping.roleType" name="roleType" ng-required="true">
                                    <option value="QUOTATION_PREPROCESSOR">Quotation</option>
                                    <option value="PROPOSAL_PREPROCESSOR">Proposal</option>
                                    <option value="CLAIM_PREPROCESSOR">Claim</option>
                                </select>

                                <div class="error"
                                     ng-show="roleForm.roleType.$submitted &amp;&amp; roleForm.roleType.$invalid">
                                    <small class="error" ng-show="roleForm.roleType.$error.required">
                                        Please select Role.
                                    </small>
                                </div>
                            </div>
                            <div class="control-group required col-md-6">
                                <label class="control-label">Line of Business</label>
                                <select class="form-control input-sm" id="lineOfBusiness"
                                        ng-model="mapping.lineOfBusiness" name="lineOfBusiness"
                                        ng-required="true">
                                    <option value="INDIVIDUAL_LIFE">Individual Life</option>
                                    <option value="GROUP_HEALTH">Group Health</option>
                                    <option value="GROUP_LIFE">Group Life</option>
                                </select>

                                <div class="error"
                                     ng-show="roleForm.lineOfBusiness.$submitted &amp;&amp; roleForm.lineOfBusiness.$invalid">
                                    <small class="error" ng-show="roleForm.lineOfBusinessId.$error.required">
                                        Please indicate the Line Of Business.
                                    </small>
                                </div>
                            </div>
                            <div class="control-group required col-md-4">
                                <label class="control-label">Process Type</label>
                                <select class="form-control input-sm" id="processType"
                                        ng-model="mapping.processType" name="processType"
                                        ng-required="true">
                                    <option value="QUOTATION">Quotation</option>
                                    <option value="CLAIM">Claim</option>
                                    <option value="PROPOSAL">Proposal</option>
                                    <option value="REINSTATEMENT">Reinstatement</option>
                                    <option value="ENDORSEMENT">Endorsement</option>
                                    <option value="SURRENDER">Surrender</option>
                                    <option value="MATURITY">Maturity</option>
                                </select>

                                <div class="error"
                                     ng-show="roleForm.processType.$submitted &amp;&amp; roleForm.processType.$invalid">
                                    <small class="error" ng-show="roleForm.processType.$error.required">
                                        Please indicate the Process Type.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="roleForm.$invalid">Save
                </button>
            </div>
        </div>
    </div>
</div>
<footer class="footer" th:include="fragments/common :: footer"></footer>
<script>

    requirejs(['main'], function () {
        require(['angular', 'jquery'], function (app, $) {
            var module = angular.module('RoleMappingModule', []);
            module.controller('RoleMappingCtrl', ['$scope', '$http', '$window', function ($scope, $http, $window) {
                console.log('Role Mapping Controller ');
                $scope.original = {lineOfBusiness: null, processType: null, roleType: null};
                $scope.mapping = {};

                $scope.save = function () {
                    console.log('invoke saved...');
                    var requestUrl = '/pla/core/notification/createnotificationrolemapping';//new Url
                    $http.post(requestUrl, $scope.mapping).success();
                    $scope.clear();
                    $('#newRoleMapping').modal('hide');
                    $scope.reload();
                };

                $scope.clear = function () {
                    $scope.mapping = angular.copy($scope.original);
                };

                $scope.reload = function () {
                    $window.location = '';
                };

            }]);
            angular.bootstrap(document, ['RoleMappingModule']);
        });
    });


</script>
</body>
</html>
