<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-6"><span th:text="#{planList}">List of Plans
                        </span></div>
                    <div class="col-lg-6">
                        <a class="btn btn-default btn-sm" style="float: right"
                           href="#newplan">Create</a>
                    </div>
                </div>
            </div>
            <div class="panel-body ">
                <div class="col-md-9">
                    <nth-alert/>
                </div>
                <table class="dataTables_wrapper dataTable table table-striped table-bordered"
                       datatable="" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th th:text="#{planName}">Plan Name</th>
                        <th th:text="#{planCode}">Plan Code</th>
                        <th th:text="#{clientType}">Client Type</th>
                        <th th:text="#{planType}">Plan Type</th>
                        <th th:text="#{lineOfBusinessId}">Plan Type</th>
                        <th th:text="#{launchDate}">Launch Date</th>
                        <th th:text="#{withdrawalDate}">Withdrawal Type</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="plan : ${planList}">
                        <td th:text="${plan.planDetail.planName}"></td>
                        <td th:text="${plan.planDetail.planCode}"></td>
                        <td th:text="${plan.planDetail.clientType}"></td>
                        <td th:text="${plan.planDetail.planType}"></td>
                        <td th:text="${plan.planDetail.lineOfBusinessId}"></td>
                        <td th:text="${{plan.planDetail.launchDate}}"></td>
                        <td th:text="${{plan.planDetail.withdrawalDate}}"></td>
                        <td><a th:href="'#viewplan/'+${plan.planId.planId}+''">View</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <ul class="pagination" id="logs-pagination-default"></ul>
            </div>
        </div>
    </div>
</div>
