<div class="modal fade" id="beneficialModal" tabindex="-1" role="dialog" aria-labelledby="beneficialModal">
    <div class="modal-header">
    <h3 class="modal-title">Beneficiary Details</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Title</label>
                <select class="form-control input-sm" name="beneficiaryTitle" ng-model="beneficiary.title" ng-options="title for title in titleList">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" class="form-control input-sm" name="beneficiaryFirstName" ng-model="beneficiary.firstName"/>
            </div>
            <div class="form-group">
                <label class="control-label">NRC</label>
                <input type="text" class="form-control input-sm" name="beneficiaryNrc" ng-model="beneficiary.nrc"/>
            </div>
            <div class="form-group">
                <label class="control-label">Age</label>
                <input type="text" class="form-control input-sm" name="beneficiaryAge" ng-model="beneficiary.age" ng-readonly="true"/>
            </div>
            <div class="form-group">
                <label class="control-label">Relationship To Life Assured</label>
                <input type="text" class="form-control input-sm" name="relationship" ng-model="beneficiary.relationship"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Surname</label>
                <input type="text" class="form-control input-sm" name="beneficiarySurname" ng-model="beneficiary.surname"/>
            </div>
            <div class="form-group">
                <label class="control-label">Date Of Birth</label>
                <input type="text" class="form-control input-sm" name="dob" ng-model="beneficiary.dob"/>
            </div>
            <div class="form-group">
                <label class="control-label">Sex</label>
                <select type="text" class="form-control input-sm" name="sex" ng-model="beneficiary.sex" ng-options="gender.code as gender.description for gender in genderList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Share %</label>
                <select type="text" class="form-control input-sm" name="share" ng-model="beneficiary.share">
                    <option value="15">Select One</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="addBeneficiary(beneficiary)">Add</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
    </div>