<ng-form name="step6">
    <div class="row bs-callout  bs-callout-info" style="margin: 5px;padding:10px">
        <div class="form-group required col-md-10">
            <strong class="control-label">Have you ever received counseling or treatment, or had a blood test in connection with HIV infection, excluding blood test taken for the purpose of donating blood for blood transfusion ?</strong>
        </div>
        <div class="form-group required col-md-2">
            <select class="form-control input-sm"  name="compulsoryHealthDetailsQuestion1" ng-required="true" ng-disabled="mode=='new'||mode=='view'" ng-model="compulsoryHealthDetails[0].answer" ng-change="compulsoryHealthDetails[0].questionId=11">
                <option value="">--Select One--</option>
                <option value="true" ng-value="true">Yes</option>
                <option value="false" ng-value="false">No</option>
            </select>

            <div class="error" ng-messages="step5.compulsoryHealthDetailsQuestion1.$error" ng-if="step5.compulsoryHealthDetailsQuestion1.$dirty">
                <small class="error" ng-message="required">Please answer compulsoryHealthDetailsQuestion1</small>
            </div>

        </div>
    </div>

    <div class="row bs-callout  bs-callout-info" style="margin: 5px;padding:10px">
        <div class="form-group required col-md-10">
            <strong class="control-label">Do you have, or have you ever had any of the following:- Disease or disorder of the Kidneys, Bladder, or Reproductive Organs e.g. Protein in Urine, Kidney Stones, prostatitis, Cystitis, Urethritis, Sexual transmitted Disease, HIV infection?</strong>
        </div>
        <div class="form-group required col-md-2">
            <select class="form-control input-sm"  name="compulsoryHealthDetailsQuestion2"  ng-required="true" ng-disabled="mode=='new'||mode=='view'" ng-model="compulsoryHealthDetails[1].answer" ng-change="compulsoryHealthDetails[1].questionId=12">
                <option value="">--Select One--</option>
                <option value="true" ng-value="true">Yes</option>
                <option value="false" ng-value="false">No</option>
            </select>

            <div class="error" ng-messages="step5.compulsoryHealthDetailsQuestion2.$error" ng-if="step5.compulsoryHealthDetailsQuestion2.$dirty">
                <small class="error" ng-message="required">Please answer compulsoryHealthDetailsQuestion2</small>
            </div>
        </div>
    </div>

    <h5>Do you have, or have you ever had, any trouble with, or disorder or abnormality of :</h5>

    <accordion close-others="true">
        <div class="row" style="margin-bottom: 5px">
            <div class="form-group required col-md-10">
                <accordion-group is-open="accordionStatus.healthDetailsPart1.tab1">
                    <accordion-heading>
                        <strong class="control-label" style="font-size: 11px">Your heart circulation or blood vessels (e.g. rheumatic fever, heart murmur, chest pains, palpitations, blood pressure, stroke varicose veins etc.)?</strong>
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': accordionStatus.healthDetailsPart1.tab1, 'glyphicon-chevron-right': !accordionStatus.healthDetailsPart1.tab1}"></i>
                    </accordion-heading>
                    <div class="form-group required col-md-12" ng-if="compulsoryHealthDetails[2].answer == 'true' ">
                        <textarea class="form-control" ng-required="true" name="response1" ng-model="compulsoryHealthDetails[2].answerResponse" ng-maxlength="50" placeholder="Please give full details  e.g. name and address of attending doctor, treatment and results etc"></textarea>

                        <div class="error" ng-messages="step5.response1.$error" ng-if="step5.response1.$dirty">
                            <small class="error" ng-message="required">Please Answer</small>
                            <small ng-message="maxlength">Only 50 characters are allowed.</small>
                        </div>

                    </div>
                </accordion-group>
            </div>
            <div class="form-group required col-md-2">
                <!-- <select class="form-control input-sm"  ng-required="true" name="compulsoryHealthDetailsQuestion3" ng-disabled="mode=='new'||mode=='view'" ng-model="compulsoryHealthDetails[2].answer" ng-change="openAccordionCompulsoryQuestion('tab1')compulsoryHealthDetails[2].questionId=13">-->
                <select class="form-control input-sm"  ng-required="true" name="compulsoryHealthDetailsQuestion3" ng-disabled="mode=='new'||mode=='view'" ng-model="compulsoryHealthDetails[2].answer" ng-change="openAccordionCompulsoryQuestion1(compulsoryHealthDetails[2].answer,'tab1',2,13)">
                    <option value="">--Select One--</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>

                <div class="error" ng-messages="step5.compulsoryHealthDetailsQuestion3.$error" ng-if="step5.compulsoryHealthDetailsQuestion3.$dirty">
                    <small class="error" ng-message="required">Please answer compulsoryHealthDetailsQuestion3</small>
                </div>

            </div>
        </div>

        <div class="row" style="margin-bottom: 5px">
            <div class="form-group required col-md-10">
                <accordion-group is-open="accordionStatus.healthDetailsPart1.tab2">
                    <accordion-heading>
                        <strong class="control-label" style="font-size: 11px">Your glands and/or blood (e.g. haemophilia, abundant nose bleeding, diabetes, thyroid, spleen, leukaemia etc.)?</strong>
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': accordionStatus.healthDetailsPart1.tab2, 'glyphicon-chevron-right': !accordionStatus.healthDetailsPart1.tab2}"></i>
                    </accordion-heading>
                    <div class="form-group required col-md-12" ng-if="compulsoryHealthDetails[3].answer == 'true' ">
                        <textarea class="form-control"  ng-required="true" name="response2" ng-disabled="mode=='new'||mode=='view'" ng-maxlength="50" ng-model="compulsoryHealthDetails[3].answerResponse" placeholder="Please give full details  e.g. name and address of attending doctor, treatment and results etc"></textarea>

                        <div class="error" ng-messages="step5.response2.$error" ng-if="step5.response2.$dirty">
                            <small class="error" ng-message="required">Please answer </small>
                            <small ng-message="maxlength">Only 50 characters are allowed.</small>
                        </div>

                    </div>
                </accordion-group>
            </div>
            <div class="form-group required col-md-2">
                <!--<select class="form-control input-sm"  ng-required="true" name="compulsoryHealthDetailsQuestion4" ng-disabled="mode=='new'||mode=='view'" ng-model="compulsoryHealthDetails[3].answer" ng-change="compulsoryHealthDetails[3].questionId=14">-->
                <select class="form-control input-sm"  ng-required="true" name="compulsoryHealthDetailsQuestion4" ng-disabled="mode=='new'||mode=='view'" ng-model="compulsoryHealthDetails[3].answer" ng-change="openAccordionCompulsoryQuestion1(compulsoryHealthDetails[3].answer,'tab2',3,14)">
                    <option value="">--Select One--</option>
                    <option value="true" ng-value="true">Yes</option>
                    <option value="false" ng-value="false">No</option>
                </select>

                <div class="error" ng-messages="step5.compulsoryHealthDetailsQuestion4.$error" ng-if="step5.compulsoryHealthDetailsQuestion4.$dirty">
                    <small class="error" ng-message="required">Please answer compulsoryHealthDetailsQuestion4</small>
                </div>

            </div>
        </div>

        <div class="row" style="margin-bottom: 5px">
            <div class="form-group required col-md-10">
                <accordion-group is-open="accordionStatus.healthDetailsPart1.tab3">
                    <accordion-heading>
                        <strong class="control-label" style="font-size: 11px">Your lungs (e.g. persistent cough, asthma, bronchitis, tuberculosis pneumonia, shortness of breath etc.)?</strong>
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': accordionStatus.healthDetailsPart1.tab3, 'glyphicon-chevron-right': !accordionStatus.healthDetailsPart1.tab3}"></i>
                    </accordion-heading>
                    <div class="form-group required col-md-12" ng-if="compulsoryHealthDetails[4].answer == 'true' ">
                        <textarea class="form-control"  name="response3" ng-required="true" ng-disabled="mode=='new'||mode=='view'" ng-model="compulsoryHealthDetails[4].answerResponse" ng-maxlength="50" placeholder="Please give full details  e.g. name and address of attending doctor, treatment and results etc"></textarea>

                        <div class="error" ng-messages="step5.response3.$error" ng-if="step5.response3.$dirty">
                            <small class="error" ng-message="required">Please answer</small>
                            <small ng-message="maxlength">Only 50 characters are allowed.</small>
                        </div>

                    </div>
                </accordion-group>
            </div>
            <div class="form-group required col-md-2">
                <!--<select class="form-control input-sm"  name="compulsoryHealthDetailsQuestion5" ng-required="true" ng-disabled="mode=='new'||mode=='view'" ng-model="compulsoryHealthDetails[4].answer" ng-change="compulsoryHealthDetails[4].questionId=15">-->
                <select class="form-control input-sm"  ng-required="true" name="compulsoryHealthDetailsQuestion5" ng-disabled="mode=='new'||mode=='view'" ng-model="compulsoryHealthDetails[4].answer" ng-change="openAccordionCompulsoryQuestion1(compulsoryHealthDetails[4].answer,'tab3',4,15)">
                    <option value="">--Select One--</option>
                    <option value="true" ng-value="true">Yes</option>
                    <option value="false" ng-value="false">No</option>
                </select>

                <div class="error" ng-messages="step5.compulsoryHealthDetailsQuestion5.$error" ng-if="step5.compulsoryHealthDetailsQuestion5.$dirty">
                    <small class="error" ng-message="required">Please answer compulsoryHealthDetailsQuestion4</small>
                </div>

            </div>
        </div>

        <div class="row" style="margin-bottom: 5px">
            <div class="form-group required col-md-10">
                <accordion-group is-open="accordionStatus.healthDetailsPart1.tab4">
                    <accordion-heading>
                        <strong class="control-label" style="font-size: 11px">Your digestive system and liver (e.g. ulcers, recurrent indigestion, bleeding from the bowel, persistent diarrhoea, hepatitis, gall stones etc.)?</strong>
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': accordionStatus.healthDetailsPart1.tab4, 'glyphicon-chevron-right': !accordionStatus.healthDetailsPart1.tab4}"></i>
                    </accordion-heading>
                    <div class="form-group required col-md-12" ng-if="compulsoryHealthDetails[5].answer == 'true' ">
                        <textarea class="form-control"  name="response4" ng-required="true" ng-disabled="mode=='new'||mode=='view'" ng-model="compulsoryHealthDetails[5].answerResponse" ng-maxlength="50" placeholder="Please give full details  e.g. name and address of attending doctor, treatment and results etc"></textarea>

                        <div class="error" ng-messages="step5.response4.$error" ng-if="step5.response4.$dirty">
                            <small class="error" ng-message="required">Please answer</small>
                            <small ng-message="maxlength">Only 50 characters are allowed.</small>
                        </div>

                    </div>
                </accordion-group>
            </div>
            <div class="form-group required col-md-2">
                <!--<select class="form-control input-sm"  name="compulsoryHealthDetailsQuestion6" ng-required="true" ng-disabled="mode=='new'||mode=='view'" ng-model="compulsoryHealthDetails[5].answer" ng-change="compulsoryHealthDetails[5].questionId=16">-->
                <select class="form-control input-sm"  ng-required="true" name="compulsoryHealthDetailsQuestion6" ng-disabled="mode=='new'||mode=='view'" ng-model="compulsoryHealthDetails[5].answer" ng-change="openAccordionCompulsoryQuestion1(compulsoryHealthDetails[5].answer,'tab4',5,16)">
                    <option value="">--Select One--</option>
                    <option value="true" ng-value="true">Yes</option>
                    <option value="false" ng-value="false">No</option>
                </select>

                <div class="error" ng-messages="step5.compulsoryHealthDetailsQuestion6.$error" ng-if="step5.compulsoryHealthDetailsQuestion6.$dirty">
                    <small class="error" ng-message="required">Please answer compulsoryHealthDetailsQuestion6</small>
                </div>

            </div>
        </div>

        <div class="row" style="margin-bottom: 5px">
            <div class="form-group required col-md-10">
                <accordion-group is-open="accordionStatus.healthDetailsPart1.tab5">
                    <accordion-heading>
                        <strong class="control-label" style="font-size: 11px">Your skin (e.g. persistent or recurring rash, cancer, ulcers extensive lesions etc.)?</strong>
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': accordionStatus.healthDetailsPart1.tab5, 'glyphicon-chevron-right': !accordionStatus.healthDetailsPart1.tab5}"></i>
                    </accordion-heading>
                    <div class="form-group required col-md-12" ng-if="compulsoryHealthDetails[6].answer == 'true' ">
                        <textarea class="form-control"  name="response5" ng-required="true" ng-disabled="mode=='new'||mode=='view'" ng-model="compulsoryHealthDetails[6].answerResponse" ng-maxlength="50" placeholder="Please give full details  e.g. name and address of attending doctor, treatment and results etc"></textarea>

                        <div class="error" ng-messages="step5.response5.$error" ng-if="step5.response5.$dirty">
                            <small class="error" ng-message="required">Please answer</small>
                            <small ng-message="maxlength">Only 50 characters are allowed.</small>
                        </div>

                    </div>
                </accordion-group>
            </div>
            <div class="form-group required col-md-2">
                <!--<select class="form-control input-sm"  ng-required="true" name="compulsoryHealthDetailsQuestion7" ng-disabled="mode=='new'||mode=='view'" ng-model="compulsoryHealthDetails[6].answer" ng-change="compulsoryHealthDetails[6].questionId=17">-->
                <select class="form-control input-sm"  ng-required="true" name="compulsoryHealthDetailsQuestion7" ng-disabled="mode=='new'||mode=='view'" ng-model="compulsoryHealthDetails[6].answer" ng-change="openAccordionCompulsoryQuestion1(compulsoryHealthDetails[6].answer,'tab5',6,17)">
                    <option value="">--Select One--</option>
                    <option value="true" ng-value="true">Yes</option>
                    <option value="false" ng-value="false">No</option>
                </select>

                <div class="error" ng-messages="step5.compulsoryHealthDetailsQuestion7.$error" ng-if="step5.compulsoryHealthDetailsQuestion7.$dirty">
                    <small class="error" ng-message="required">Please answer compulsoryHealthDetailsQuestion7</small>
                </div>

            </div>
        </div>
    </accordion>

    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn btn-default btn-sm" ng-click="cancelAll()">Cancel</button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-default btn-sm"   ng-disabled="step5.$invalid" ng-hide="mode=='new'||mode=='view'" ng-click="saveCompulsoryQuestionDetails()" style="float: right">Save</button>
        </div>
    </div>
</ng-form>