<ng-form name="step7">
    <accordion close-others="true">
        <accordion-group is-open="accordionStatus.familyHabitAndBuild.tab1">
            <accordion-heading>
                Family History
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': accordionStatus.familyHabitAndBuild.tab1, 'glyphicon-chevron-right': !accordionStatus.familyHabitAndBuild.tab1}"></i>
            </accordion-heading>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                Family Member
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                State of health, give particulars
                            </th>
                            <th>
                                Age of death
                            </th>
                            <th>
                                Cause of Death
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Father</td>
                            <td>
                                <label class="radio-inline">
                                    <input type="radio" name="fatherStatus" ng-model="familyHistory.father.isAlive"
                                           value="true" ng-value="true"/> Alive
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="fatherStatus" ng-model="familyHistory.father.isAlive" ng-value="false"
                                           value="false"/> Dead
                                </label>
                            </td>
                            <td>
                                <input type="text" class="form-control input-sm" ng-model="familyHistory.father.healthState"/>
                            </td>
                            <td>
                                <input type="text" class="form-control input-sm" ng-disabled="familyHistory.father.isAlive" ng-model="familyHistory.father.deathAge"/>
                            </td>
                            <td>
                                <input type="text" class="form-control input-sm" ng-disabled="familyHistory.father.isAlive" ng-model="familyHistory.father.deathCause"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Mother</td>
                            <td>
                                <label class="radio-inline">
                                    <input type="radio" name="motherStatus" ng-model="familyHistory.mother.isAlive"  ng-value="true" value="true" /> Alive
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="motherStatus"  ng-model="familyHistory.mother.isAlive"  ng-value="false" value="false" /> Dead
                                </label>
                            </td>
                            <td>
                                <input type="text" class="form-control input-sm" ng-model="familyHistory.mother.healthState"/>
                            </td>
                            <td>
                                <input type="text" class="form-control input-sm" ng-disabled="familyHistory.mother.isAlive" ng-model="familyHistory.mother.deathAge"/>
                            </td>
                            <td>
                                <input type="text" class="form-control input-sm" ng-disabled="familyHistory.mother.isAlive" ng-model="familyHistory.mother.deathCause"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                Family Member
                            </th>
                            <th>
                                Number Of Siblings Alive
                            </th>
                            <th>
                                Number Of Siblings Dead
                            </th>
                            <th>
                                State of health,give particulars
                            </th>
                            <th>
                                Age at death
                            </th>
                            <th>
                                Cause Of Death
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Brothers</td>
                            <td><input type="text" class="form-control input-sm" ng-model="familyHistory.brother.alive"/></td>
                            <td><input type="text" class="form-control input-sm" ng-model="familyHistory.brother.death"/></td>
                            <td><input type="text" class="form-control input-sm" ng-model="familyHistory.brother.healthState"/></td>
                            <td><input type="text" class="form-control input-sm" ng-model="familyHistory.brother.deathAge"/></td>
                            <td><input type="text" class="form-control input-sm" ng-model="familyHistory.brother.deathCause"/></td>
                        </tr>
                        <tr>
                            <td>Sisters</td>
                            <td><input type="text" class="form-control input-sm" ng-model="familyHistory.sister.alive"/></td>
                            <td><input type="text" class="form-control input-sm" ng-model="familyHistory.sister.death"/></td>
                            <td><input type="text" class="form-control input-sm" ng-model="familyHistory.sister.healthState"/></td>
                            <td><input type="text" class="form-control input-sm" ng-model="familyHistory.sister.deathAge"/></td>
                            <td><input type="text" class="form-control input-sm" ng-model="familyHistory.sister.deathCause"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    If not already stated, is any close blood relative suffering from (or has any one had) diabetes, heart disease, high blood pressure, mental illness etc.
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm" ng-model="familyHistory.closeRelative.answer" ng-change="familyHistory.closeRelative.questionId=16">
                        <option value="">--Select One--</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <textarea class="form-control" placeholder="Please give full details" ng-model="familyHistory.closeRelative.answerResponse"></textarea>
                </div>
            </div>
        </accordion-group>

        <accordion-group is-open="accordionStatus.familyHabitAndBuild.tab2">
            <accordion-heading>
                Habits
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': accordionStatus.familyHabitAndBuild.tab2, 'glyphicon-chevron-right': !accordionStatus.familyHabitAndBuild.tab2}"></i>
            </accordion-heading>
            <div class="row">
                <div class="col-md-6">
                    What kind and quantity of alcohol liquor do you consume per week?
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Wine</th>
                            <th>Beer</th>
                            <th>Spirits</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control input-sm" ng-model="habits.wine"/>
                            </td>
                            <td>
                                <input type="text" class="form-control input-sm" ng-model="habits.beer"/>
                            </td>
                            <td>
                                <input type="text" class="form-control input-sm" ng-model="habits.spirit"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    How much, and what do you smoke per day?
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" ng-model="habits.smokePerDay"/>
                </div>
            </div>
            <div class="row" style="margin: 0">
                <accordion close-others="true">
                    <div class="row" style="margin-top: 5px">
                        <div class="col-md-10">
                            <accordion-group is-open="accordionStatus.familyHabitAndBuild.tab2_1">
                                <accordion-heading>
                                    <strong style="font-size: 11px">Have you ever received personal medical advise to reduce or discontinue your liquor tobacco consumption?</strong>
                                    <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': accordionStatus.familyHabitAndBuild.tab2_1, 'glyphicon-chevron-right': !accordionStatus.familyHabitAndBuild.tab2_1}"></i>
                                </accordion-heading>
                                <div class="col-md-12">
                                    <textarea class="form-control" ng-model="questionList[0].answerResponse"
                                              placeholder="Please give full details  e.g. name and address of attending doctor, diagnosis etc">
                                    </textarea>
                                </div>
                            </accordion-group>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control input-sm" ng-model="questionList[0].answer"
                                    ng-change="questionList[0].questionId='17'">
                                <option value="">--Select One--</option>
                                <option ng-value="true" value="true">Yes</option>
                                <option ng-value="false" value="false">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 5px">
                        <div class="col-md-10">
                            <accordion-group is-open="accordionStatus.familyHabitAndBuild.tab2_2">
                                <accordion-heading>
                                    <strong style="font-size: 11px">Have you ever, in the past, used quantities of liquor or tobacco greater than the amounts indicated above?</strong>
                                    <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': accordionStatus.familyHabitAndBuild.tab2_2, 'glyphicon-chevron-right': !accordionStatus.familyHabitAndBuild.tab2_2}"></i>
                                </accordion-heading>
                                <div class="col-md-12">
                                    <textarea class="form-control" ng-model="questionList[1].answerResponse"
                                              placeholder="Please give full details  "></textarea>
                                </div>
                            </accordion-group>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control input-sm" ng-model="questionList[1].answer" ng-change="questionList[1].questionId='18'">
                                <option value="">--Select One--</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 5px">
                        <div class="col-md-10">
                            <accordion-group is-open="accordionStatus.familyHabitAndBuild.tab2_3">
                                <accordion-heading>
                                    <strong style="font-size: 11px">Have you ever taken drugs, medicine or tranquilisers prescribed by a medical practitioner for more than two weeks.</strong>
                                    <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': accordionStatus.familyHabitAndBuild.tab2_3, 'glyphicon-chevron-right': !accordionStatus.familyHabitAndBuild.tab2_3}"></i>
                                </accordion-heading>
                                <div class="col-md-12">
                                    <textarea class="form-control" ng-model="questionList[2].answerResponse" placeholder="Please give full details  "></textarea>
                                </div>
                            </accordion-group>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control input-sm" ng-model="questionList[2].answer" ng-change="questionList[2].questionId='19'">
                                <option value="">--Select One--</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 5px">
                        <div class="col-md-10">
                            <accordion-group is-open="accordionStatus.familyHabitAndBuild.tab2_4">
                                <accordion-heading>
                                    <strong style="font-size: 11px">Have you ever taken drugs for non medicinal purpose?</strong>
                                    <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': accordionStatus.familyHabitAndBuild.tab2_4, 'glyphicon-chevron-right': !accordionStatus.familyHabitAndBuild.tab2_4}"></i>
                                </accordion-heading>
                                <div class="col-md-12">
                                    <textarea class="form-control" placeholder="Please give full details " ng-model="questionList[3].answerResponse" ></textarea>
                                </div>
                            </accordion-group>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control input-sm" ng-model="questionList[3].answer" ng-change="questionList[3].questionId='20'">
                                <option value="">--Select One--</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>
                </accordion>
            </div>
        </accordion-group>

        <accordion-group is-open="accordionStatus.familyHabitAndBuild.tab3">
            <accordion-heading>
                Build
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': accordionStatus.familyHabitAndBuild.tab3, 'glyphicon-chevron-right': !accordionStatus.familyHabitAndBuild.tab3}"></i>
            </accordion-heading>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Height</th>
                            <th>Height Type</th>
                            <th>Weight</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" class="form-control input-sm" ng-model="build.height"/></td>
                            <td><input type="text" class="form-control input-sm" ng-model="build.heightType"/></td>
                            <td><input type="text" class="form-control input-sm" ng-model="build.weight"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <accordion close-others="true">
                <div class="row" style="margin-top: 5px">
                    <div class="col-md-10">
                        <accordion-group is-open="accordionStatus.familyHabitAndBuild.tab3_1">
                            <accordion-heading>
                                <strong style="font-size: 11px">Has your weight altered by more than 5Kgs during the past year?</strong>
                                <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-chevron-down': accordionStatus.familyHabitAndBuild.tab3_1, 'glyphicon-chevron-right': !accordionStatus.familyHabitAndBuild.tab3_1}"></i>
                            </accordion-heading>
                            <div class="col-md-12">
                                <textarea class="form-control" ng-model="build.overWeightQuestion.answerResponse"
                                          placeholder="state whether increase or decrease, by how much, reason and for long present weight has remained constant."></textarea>
                            </div>
                        </accordion-group>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control input-sm" ng-model="build.overWeightQuestion.answer" ng-change="build.overWeightQuestion.questionId='21'">
                            <option value="">--Select One--</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
            </accordion>
        </accordion-group>

    <strong>For Female Applicants</strong>
    <div class="row bs-callout  bs-callout-info" style="margin: 5px;padding:10px">
        <div class="col-md-2">
            Are you now pregnant?
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm" ng-model="familyPersonalDetail.isPregnant">
                <option value="">--Select One--</option>
                <option value="true" ng-value="true">Yes</option>
                <option value="false" ng-value="false">No</option>
            </select>
        </div>
        <div class="col-md-2 col-md-offset-6">
            <div class="form-group">
                <label class="control-label">If <strong>Yes</strong> how many months?</label>
                <input type="text" class="form-control input-sm" ng-model="familyPersonalDetail.pregnancyMonth"/>
            </div>
        </div>
    </div>
    </accordion>
    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn btn-default btn-sm">Cancel</button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-default btn-sm" style="float: right"
                    ng-click="saveFamilyHistory()">Save</button>
        </div>
    </div>
</ng-form>