<ng-form name="step10">
    <accordion>
        <accordion-group>
            <accordion-heading>
                Mandatory Documents <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': accordionStatusDocuments.documents,
                                                            'glyphicon-chevron-right': !accordionStatusDocuments.documents}"></i>
            </accordion-heading>
            <div class="bs-callout  bs-callout-info" style="overflow:auto;height:240px;">
                <div class="form-group "  ng-repeat="document in documentList" >
                    <label class="col-sm-3 control-label">{{document.documentName}}</label>
                    <div class="col-md-1"></div>
                    <div class="input-group">
                        <a  href="downloadmandatorydocument/{{document.gridFsDocId}}" style="display:inline;float:right;margin-top:10px;"  hg-show="!document.submitted">{{document.fileName}}</a>
                        <button class="btn btn-default"
                                style="display:inline;float:right;margin-right:5px;" ng-file-select=""
                                ng-disabled="mode=='new'||mode=='view'" ng-model="document.documentAttached">Browse
                        </button>
                        <label class="form-control input-sm" style="border:1px solid #ccc;width:380px;" >{{document.documentAttached[0].name}} </label>
                    </div>

                </div>
                <div class="btn btn-default" style="display:inline;float:right;clear:both"
                     ng-disabled="mode=='new'||mode=='view'" ng-click="uploadDocumentFiles()">Upload All
                </div>
            </div>
        </accordion-group>

        <accordion-group>
        <accordion-heading>
            Additional Documents <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordionStatusDocuments.additionalDocuments, 'glyphicon-chevron-right': !accordionStatusDocuments.additionalDocuments}"></i>
        </accordion-heading>
        <div class="bs-callout  bs-callout-info" style="overflow:auto;height:250px;">

            <div class="row" >
                <button class="btn btn-default"
                        style="display:inline;float:left;margin-right:5px;"
                        ng-disabled="mode=='new'||mode=='view'" ng-click="addAdditionalDocument()">Add Document
                </button>
            </div>
            <br/><br/>

            <div class="row" >
                <div ng-repeat="additionalDocument in additionalDocumentList">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Document Title</label>
                            <input type="text" class="form-control input-sm" style="width:400px;"
                                   ng-disabled="mode=='new'||mode=='view'" name="documentTitle" ng-model="additionalDocument.documentId" />
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Browse File</label>
                            <button class="btn btn-default"
                                    style="display:inline;float:right;margin-right:10px;margin-top:18px;" ng-file-select="callAdditionalDoc(additionalDocument.documentAttached)"
                                    ng-disabled="mode=='new'||mode=='view'" ng-model="additionalDocument.documentAttached">Browse
                            </button>
                            <input class="form-control input-sm" style="width:320px;"
                                   value="{{additionalDocument.documentAttached[0].name}}"
                                   readonly="true"/>
                            <!--<label class="form-control input-sm" style="border:1px solid #ccc;width:320px;">
                                {{additionalDocument.documentAttached[0].name}}
                            </label>-->
                            <a  href="downloadmandatorydocument/{{additionalDocument.gridFsDocId}}" style="display:inline;margin-top:0px;float:left;">{{additionalDocument.fileName}}</a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" style="margin-top:20px;" ng-disabled="mode=='new'||mode=='view'" ng-click="removeAdditionalDocument($index)" >Remove</button>
                        <!--<a  href="downloadmandatorydocument/{{additionalDocument.gridFsDocId}}" style="display:inline;margin-top:25px;float:right;">{{additionalDocument.fileName}}</a>-->
                    </div>

                </div>

            </div>

            <button class="btn btn-default"
                    style="display:inline;float:right;margin-right:5px;margin-top:20px;" ng-hide="mode=='new'||mode=='view'" ng-disabled="!checkDocumentAttached" ng-click="uploadAdditionalDocument()">Upload
            </button>

        </div>
        </accordion-group>
    </accordion>

        <div class="row" ng-if="returnStatusCheck">
            {{returnComments}}
            <div class="col-lg-6">
                <div class="form-group required">
                    <label class="control-label">Comments</label>
                        <textarea class="form-control input-sm" rows="4" cols="50"
                                  name="comments"
                                  ng-disabled="mode=='new'||mode=='view'" ng-blur="setComments(returnComments)" ng-model="returnComments" />
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Cancel</button>
        </div>
        <div class="col-sm-6">
            {{showSubmitStatus}}
            <button type="button" class="btn btn-default btn-sm" style="float: right" ng-hide="mode=='new'||mode=='view'" ng-disabled="showSubmitStatus" ng-click="submitAdditionalDocument()">Submit</button>
        </div>
    </div>
</ng-form>
