<ng-form name="step3">
    <accordion>
        <accordion-group is-open="accordionStatus.planDetails.plan">
            <accordion-heading>
                Plan Details <i class="pull-right glyphicon"
                                ng-class="{'glyphicon-chevron-down': accordionStatus.planDetails.plan, 'glyphicon-chevron-right': !accordionStatus.planDetails.plan}"></i>
            </accordion-heading>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Plan</label>
                   <!--<input type="text" class="form-control input-sm" name="plan" ng-blur="searchRiders()" ng-model="proposalPlanDetail.planId"/>-->

                <!-- <div data-angucomplete-alt="" id="searchPlan" placeholder="Search Plans" pause="500"
                         selected-object="selectedPlan" disable-input="uneditable"
                         remote-url="/pla/individuallife/proposal/searchplan?proposalId=" field-required="true"
                         remote-url-data-field="" title-field="plan_name,plan_id"
                         minlength="3"
                         input-class="form-control form-control-small"
                         match-class="highlight">
                    </div>
-->
                    <select class="form-control input-sm" name="plan" ng-options=" planDetail.plan_id as planDetail.plan_name for planDetail in iLplanDetails"
                            ng-model="proposalPlanDetail.planId" ng-required="true" ng-change="searchRiders()">
                    </select>

                    <div class="error" ng-messages="step1.title.$error" ng-if="step3.title.$dirty">
                        <small ng-message="autocomplete-required">Please enter title.</small>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label">Policy Term</label>
                    <input type="text" class="form-control input-sm" name="policyTerm" ng-model="proposalPlanDetail.policyTerm"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Riders Applied For</label>
                    <!--<input type="text" class="form-control input-sm" name="ridersAppliedFor" ng-model="proposalPlanDetail.ridersapplied"/>-->

                    <select class="form-control input-sm" name="ridersAppliedFor" ng-disabled="mode=='new' || mode=='view'" ng-options="searchRider.coverageName for searchRider in searchRiders"
                            ng-model="proposalPlanDetail.ridersapplied">
                    </select>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            Optional Cover Name
                        </th>
                        <th>
                            Sum Assured
                        </th>
                        <th>
                            CoverTerm
                        </th>
                        <th>
                            WaiverOfPremium
                        </th>
                    </tr>
                    </thead>
                   <tbody>
                        <tr ng-repeat="searchRider in searchRiders">
                            <td>{{searchRider.coverageName}}</td>
                            <!--<td>{{searchRider.sumAssured}}</td>-->
                            <td>
                                <input type="text" ng-disabled="mode=='new'||mode=='view'" ng-blur="testPlan(searchRider)" contenteditable="updateFlag" ng-model="searchRider.sumAssured" value="{{searchRider.sumAssured}}" />
                                <!-- <div contenteditable="true" ng-model="row.update" ng-blur="test(row)" ng-change="test(row)" >{{row.commission}}</div>-->
                            </td>
                            <!--<td>{{searchRider.coverTerm}}</td>-->
                            <td>
                                <input type="text" ng-disabled="mode=='new'||mode=='view'" contenteditable="updateFlag" ng-blur="testPlan(searchRider)" ng-model="searchRider.coverTerm" value="{{searchRider.coverTerm}}" />
                                <!-- <div contenteditable="true" ng-model="row.update" ng-blur="test(row)" ng-change="test(row)" >{{row.commission}}</div>-->
                            </td>
                            <!--<td>{{searchRider.waiverOfPremium}}</td>-->
                            <td>
                            <input type="text" ng-disabled="mode=='new'||mode=='view'" contenteditable="updateFlag" ng-blur="testPlan(searchRider)" ng-model="searchRider.waiverOfPremium" value="{{searchRider.waiverOfPremium}}"/>
                            <!-- <div contenteditable="true" ng-model="row.update" ng-blur="test(row)" ng-change="test(row)" >{{row.commission}}</div>-->
                        </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Sum Assured</label>
                    <input type="text" class="form-control input-sm" name="sumAssured" ng-model="proposalPlanDetail.sumAssured"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Premium Payment Term</label>
                    <input type="text" class="form-control input-sm" name="plan" ng-model="proposalPlanDetail.premiumPaymentTerm"/>
                </div>
            </div>
        </accordion-group>


        <accordion-group is-open="accordionStatus.planDetails.beneficiary">
            <accordion-heading>
                Beneficiary Details <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': accordionStatus.planDetails.beneficiary, 'glyphicon-chevron-right': !accordionStatus.planDetails.beneficiary}"></i>
            </accordion-heading>
            <div class="row" style="margin: 0px">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default btn-xs pull-right"
                            data-toggle="modal" data-target="#beneficialModal"
                            style="margin-bottom: 5px"><strong>Add Beneficiary</strong></button>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                Beneficiary Name
                            </th>
                            <th>
                                Relationship To Proposed Assured
                            </th>
                            <th>
                                Share %
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="beneficiary in beneficiaries">
                                <td>{{beneficiary.firstName +' '+ beneficiary.surname}}</td>
                                <td>{{beneficiary.relationshipId}}</td>
                                <td>{{beneficiary.share}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </accordion-group>
    </accordion>
    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn btn-default btn-sm">Cancel</button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-default btn-sm" style="float: right" ng-click="savePlanDetail()">Save</button>
        </div>
    </div>
</ng-form>

