<ng-form name="step2">
    <div ng-init="setForm(step1);"></div>
    <accordion close-others="true">
        <accordion-group is-open="accordionStatus.proposedAssuredDetails.proposedAssured" ng-form="proposedAssuredDetails"
                         ng-class="{'accordion-error':hasAccordionError(proposedAssuredDetails)}">
            <accordion-heading>
                Proposed Assured <i class="pull-right glyphicon"
                                    ng-class="{'glyphicon-chevron-down': accordionStatus.proposedAssuredDetails.proposedAssured, 'glyphicon-chevron-right': !accordionStatus.proposedAssuredDetails.proposedAssured}"></i>
            </accordion-heading>
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="control-label">Title</label>
                    <select class="form-control input-sm" name="title" ng-disabled="mode=='new'||mode=='view' || readOnlyStatusProposedAssured" ng-required="true" ng-change="getProposedAssuredGender(proposedAssured.title)" ng-model="proposedAssured.title" ng-options="title as title for title in titles">
                    </select>

                    <div class="error" ng-messages="proposedAssuredDetails.title.$error" ng-if="proposedAssuredDetails.title.$dirty">
                        <small ng-message="required">Please enter title.</small>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label">Surname</label>
                    <input type="text" class="form-control input-sm" name="surname"  ng-disabled="mode=='new'||mode=='view' || readOnlyStatusProposedAssured" ng-pattern="/^[a-zA-Z ]*$/" ng-required="true" ng-model="proposedAssured.surname" ng-maxlength="20"/>

                    <div class="error" ng-messages="proposedAssuredDetails.surname.$error" ng-if="proposedAssuredDetails.surname.$dirty">
                        <small class="error" ng-message="required">Please enter Surname.</small>
                        <small ng-message="maxlength">Only 20 characters are allowed.</small>
                        <small ng-message="pattern">Only alphabets are allowed.</small>
                    </div>
                </div>
                <div class="form-group required">
                <label class="control-label">NRC</label>
                <input type="text" class="form-control input-sm" name="nrc" ng-disabled="mode=='new'||mode=='view' || readOnlyStatusProposedAssured" ng-model="proposedAssured.nrc" ng-required="true" ng-maxlength="11" ng-pattern="/^[0-9]{6}\/[0-9]{2}\/[0-9]{1}$/"/>

                <div class="error" ng-messages="proposedAssuredDetails.nrc.$error" ng-if="proposedAssuredDetails.nrc.$dirty">
                    <small class="error" ng-message="required">Please enter NRC.</small>
                    <small ng-message="maxlength">Only 11 characters are allowed.</small>
                    <small ng-message="pattern"> Follow Pattern 999999/99/1</small>
                </div>
            </div>
                <div class="form-group required">
                    <label class="control-label">Age Next Birthday</label>
                    <input type="text" class="form-control input-sm" ng-disabled="mode=='new'||mode=='view'" ng-readonly="true"
                           validate-proposed-dob="" name="ageNextBirthday" ng-model="proposedAssured.nextDob"/>

                    <div class="error" ng-messages="proposedAssuredDetails.ageNextBirthday.$error" ng-if="proposedAssuredDetails.$dirty">
                        <small ng-message="invalidProposedMinAge">Minimum Entry Age For Proposed Assured
                            is
                            {{plan.planDetail.minEntryAge}} years.
                        </small>
                        <small ng-message="invalidProposedMaxAge">Maximum Entry Age For Proposed Assured
                            is
                            {{plan.planDetail.maxEntryAge}} Years.
                        </small>
                    </div>

                </div>
                <div class="form-group required">
                    <label class="control-label">Mobile Number</label>
                    <input type="text" class="form-control input-sm" name="mobileNumber" ng-disabled="mode=='new'||mode=='view' || readOnlyStatusProposedAssured" ng-model="proposedAssured.mobileNumber" ng-pattern="/^\d+$/" ng-required="true" ng-minlength="10" maxlength="10" ng-maxLength="10" />

                    <div class="error" ng-messages="proposedAssuredDetails.mobileNumber.$error" ng-if="proposedAssuredDetails.mobileNumber.$dirty">
                        <small class="error" ng-message="required">Please enter Mobile Number</small>
                        <small ng-message="pattern">Please enter a valid mobile number.</small>
                        <small ng-message="maxlength">Only 10 number are allowed.</small>
                        <small ng-message="minlength">Minimum 10 number are allowed.</small>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label">Marital Status</label>
                    <select class="form-control input-sm" ng-disabled="mode=='new'||mode=='view' || readOnlyStatusProposedAssured" ng-model="proposedAssured.maritalStatus" name="maritalStatus" ng-required="true" ng-init="selectSpouse(proposedAssured.maritalStatus)" ng-change="selectSpouse(proposedAssured.maritalStatus)">
                        <option value="MARRIED">Married</option>
                        <option value="UNMARRIED">UnMarried</option>
                        <option value="DIVORCED">Divorced</option>
                        <option value="WIDOW">Widow/Widower</option>
                    </select>

                    <div class="error" ng-messages="proposedAssuredDetails.maritalStatus.$error" ng-if="proposedAssuredDetails.maritalStatus.$dirty">
                        <small class="error" ng-message="required">Please enter Marital Status</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Client Id</label>
                    <input type="text" class="form-control input-sm" ng-minlength="12" ng-maxlength="12" ng-pattern="/^(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])(\d{8})$/" name="clientId" ng-disabled="mode=='new'||mode=='view' || readOnlyStatusProposedAssured" ng-model="proposedAssured.clientId"/>

                    <div class="error" ng-messages="proposedAssuredDetails.clientId.$error"  ng-if="proposedAssuredDetails.clientId.$dirty">
                        <!--<small class="error" ng-message="required">Please enter  Client Id. </small>-->
                        <small class="error" ng-message="maxlength">Upto 12 numerics are allowed.</small>
                        <small class="error" ng-message="minlength">Minimum 12 numerics are allowed.</small>
                        <small class="error" ng-message="pattern">Follow ddmmyyXXXXXX Pattern Only</small>
                    </div>

                </div>


            </div>
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="control-label">First Name</label>
                    <input type="text" class="form-control input-sm" ng-pattern="/^[a-zA-Z ]*$/"  ng-disabled="mode=='new'||mode=='view' || readOnlyStatusProposedAssured" name="firstName"  ng-model="proposedAssured.firstName" ng-maxlength="20" ng-required="true"/>

                    <div class="error" ng-messages="proposedAssuredDetails.firstName.$error" ng-if="proposedAssuredDetails.firstName.$dirty">
                        <small class="error" ng-message="required">
                            Please enter FirstName
                        </small>
                        <small ng-message="maxlength">Only 20 characters are allowed.</small>
                        <small ng-message="pattern">Only alphabets are allowed.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Other Name</label>
                    <input type="text" class="form-control input-sm" ng-disabled="mode=='new'||mode=='view' || readOnlyStatusProposedAssured" name="otherName" ng-maxlength="20" ng-model="proposedAssured.otherName" ng-pattern="/^[a-zA-Z ]*$/"/>

                    <div class="error" ng-messages="proposedAssuredDetails.otherName.$error" ng-if="proposedAssuredDetails.otherName.$dirty">
                        <small ng-message="maxlength">Only 20 characters are allowed.</small>
                        <small ng-message="pattern">Only alphabets are allowed.</small>
                    </div>
                </div>

                <div class="form-group required">
                <label class="control-label">Date Of Birth</label>
                <div class='input-group date'>
                    <input type="text" class="form-control input-sm"
                           datepicker-popup="" view-enabled=""
                           ng-required="true"
                           is-open="launchdob"
                           max-date="todayDate"
                           ng-model="proposedAssured.dateOfBirth" name="dob" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-init="showDob(proposedAssured.dateOfBirth)" ng-blur="showDob(proposedAssured.dateOfBirth)"/>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm"
                                            ng-disabled="mode=='new'||mode=='view' || readOnlyStatusProposedAssured" ng-click="launchProposedAssuredeDob($event)">
                                        <i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                </div>
                <div class="error" ng-messages="proposedAssuredDetails.dob.$error" ng-if="proposedAssuredDetails.dob.$dirty">
                    <small ng-message="required">Please enter Employment Date.</small>
                    <small ng-message="date">Invalid Date.</small>
                </div>
            </div>

                <div class="form-group required">
                    <label class="control-label">Sex</label>
                    <select class="form-control input-sm" name="gender" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-model="proposedAssured.gender" ng-required="true">
                        <option value="MALE" >Male</option>
                        <option value="FEMALE">Female</option>
                    </select>

                    <div class="error" ng-messages="proposedAssuredDetails.gender.$error" ng-if="proposedAssuredDetails.gender.$dirty">
                        <small class="error" ng-message="required">Please enter Sex</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Email Address</label>
                    <input type="email" class="form-control input-sm" name="email" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-model="proposedAssured.emailAddress"/>

                    <div class="error" ng-messages="proposedAssuredDetails.email.$error"  ng-if="proposedAssuredDetails.email.$dirty">
                        <small class="error" ng-message="required">Please enter  email address. </small>
                        <small class="error" ng-message="email">Please enter  Valid email address. </small>
                    </div>

                </div>

                <div class="form-group" >
                    <label class="control-label">Relationship with Proposer</label>
                    <!--<select class="form-control input-sm" name="relation" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-options="relation.relationCode as relation.description for relation in relationshipList"
                            ng-model="proposedAssured.relationshipId" >
                    </select>-->
                    <select class="form-control input-sm" name="relation" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-options="relation as relation for relation in relationshipList"
                            ng-model="proposedAssured.relationshipId" >
                    </select>

                    <div class="error" ng-messages="proposedAssuredDetails.relationshipId.$error" ng-if="proposedAssuredDetails.relationshipId.$dirty">
                        <small class="error" ng-message="required">Please enter Relationship</small>
                    </div>
                </div>
            </div>
        </accordion-group>

        <accordion-group is-open="accordionStatus.proposedAssuredDetails.spouseDetails" ng-form="spouseDetails" ng-if="spouseChoice">
            <accordion-heading>
                Spouse Details <i class="pull-right glyphicon"
                                  ng-class="{'glyphicon-chevron-down': accordionStatus.proposedAssuredDetails.spouseDetails, 'glyphicon-chevron-right': !accordionStatus.proposedAssuredDetails.spouseDetails}"></i>
            </accordion-heading>
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="control-label">Spouse's First Name</label>
                    <input type="text" class="form-control input-sm" name="spouseFirstName" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-maxlength="20" ng-pattern="/^[a-zA-Z ]*$/" ng-model="spouse.firstName" ng-required="true"/>

                    <div class="error" ng-messages="spouseDetails.spouseFirstName.$error" ng-if="spouseDetails.spouseFirstName.$dirty">
                        <small class="error" ng-message="required">Please enter Spouse's First Name</small>
                        <small ng-message="pattern">Only alphabets are allowed.</small>
                        <small ng-message="maxlength">Only 20 characters are allowed.</small>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label">Spouse's Mobile Number</label>
                    <input type="text" class="form-control input-sm" name="spouseMobileNumber" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-pattern="/^\d+$/" maxlength="10" ng-minlength="10" ng-maxLength="10" ng-model="spouse.mobileNumber" ng-required="true"/>

                    <div class="error" ng-messages="spouseDetails.spouseMobileNumber.$error" ng-if="spouseDetails.spouseMobileNumber.$dirty">
                        <small class="error" ng-message="required">Please enter Spouse's Mobile Number</small>
                        <small ng-message="maxlength">Only 10 number are allowed.</small>
                        <small ng-message="minlength">Minimum 10 number are allowed.</small>
                        <small ng-message="pattern">Please enter a valid mobile number.</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="control-label">Spouse's Surname</label>
                    <input type="text" class="form-control input-sm" name="spouseSurname" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-pattern="/^[a-zA-Z ]*$/" ng-maxlength="20" ng-model="spouse.surname" ng-required="true"/>

                    <div class="error" ng-messages="spouseDetails.spouseSurname.$error" ng-if="spouseDetails.spouseSurname.$dirty">
                        <small class="error" ng-message="required">Please enter Spouse's Surname</small>
                        <small ng-message="maxlength">Only 20 characters are allowed.</small>
                        <small ng-message="pattern">Only alphabets are allowed.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Spouse's Email ID</label>
                    <input type="email" class="form-control input-sm" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" name="spouseEmailId" ng-model="spouse.emailAddress"/>

                    <div class="error" ng-messages="spouseDetails.spouseEmailId.$error"  ng-if="spouseDetails.spouseEmailId.$dirty">
                        <small class="error" ng-message="email">Please enter  Valid email address. </small>
                    </div>

                </div>
            </div>
        </accordion-group>


        <accordion-group is-open="accordionStatus.proposedAssuredDetails.employment" ng-form="employmentDetails">
            <accordion-heading>
                Employment Details <i class="pull-right glyphicon"
                                      ng-class="{'glyphicon-chevron-down': accordionStatus.proposedAssuredDetails.employment, 'glyphicon-chevron-right': !accordionStatus.proposedAssuredDetails.employment}"></i>
            </accordion-heading>
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="control-label">Occupation</label>
                    <select class="form-control input-sm" name="occupation" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-required="true" ng-model="employment.occupation"
                            ng-options="occupation.description as occupation.description for occupation in occupations"></select>

                    <div class="error" ng-messages="employmentDetails.occupation.$error" ng-if="employmentDetails.occupation.$dirty">
                        <small class="error" ng-message="required">Please enter Occupation</small>
                    </div>
                </div>
                <div class="form-group required" ng-if="employmentTypeStaus">
                    <label class="control-label">Employment Date</label>
                    <div class='input-group date'>
                        <input type="text" class="form-control input-sm"
                               datepicker-popup="" view-enabled=""
                               ng-required="true"
                               is-open="launchdob1"
                               max-date="todayDate"
                               ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-model="employment.employmentDate" name="dob"/>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm"
                                            ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-click="launchProposedAssuredeDate($event)">
                                        <i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                    </div>
                    <div class="error" ng-messages="employmentDetails.employmentDate.$error" ng-if="employmentDetails.employmentDate.$dirty">
                        <small ng-message="required">Please enter Employment Date.</small>
                        <small ng-message="date">Invalid Date.</small>

                    </div>
                </div>

                <div class="form-group required" ng-if="employmentTypeStaus">
                    <label class="control-label">Address Line 1</label>
                    <input type="text" class="form-control input-sm" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" name="addressLine1" ng-maxlength="100" ng-model="employment.address1" ng-required="true"/>

                    <div class="error" ng-messages="employmentDetails.address1.$error" ng-if="employmentDetails.address1.$dirty">
                        <small class="error" ng-message="required">Please enter Address Line 1</small>
                        <small ng-message="maxlength">Only 100 characters are allowed.</small>
                    </div>
                </div>
                <div class="form-group" ng-if="employmentTypeStaus">
                    <label class="control-label">Postal Code</label>
                    <input type="text" class="form-control input-sm" name="postalCode" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-maxlength="7" ng-pattern="/^\d+$/" ng-model="employment.postalCode"/>

                    <div class="error" ng-messages="employmentDetails.postalCode.$error" ng-if="employmentDetails.postalCode.$dirty">
                    <small ng-message="maxlength">Only 7 characters are allowed.</small>
                    <small ng-message="pattern">Only Numeric are allowed.</small>
                </div>
                </div>
                <div class="form-group required" ng-if="employmentTypeStaus">
                    <label class="control-label">Town</label>
                    <select class="form-control input-sm" name="town" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-required="true" ng-model="employment.town"
                            ng-options="city.geoId as city.geoName for city in proposedAssuredEmploymentCities"></select>

                    <div class="error" ng-messages="employmentDetails.town.$error" ng-if="employmentDetails.town.$dirty">
                        <small class="error" ng-message="required">Please enter Town</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-if="employmentTypeStaus">
                <div class="form-group required">
                    <label class="control-label">Employer</label>
                    <input type="text" class="form-control input-sm" name="employer" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-required="true" ng-maxlength="30" ng-model="employment.employer"/>

                    <div class="error" ng-messages="employmentDetails.employer.$error" ng-if="employmentDetails.employer.$dirty">
                        <small class="error" ng-message="required">Please enter Employer</small>
                        <small ng-message="maxlength">Only 30 characters are allowed.</small>
                    </div>
                </div>
                <div class="form-group required" ng-if="employmentTypeStaus">
                    <label class="control-label">Employment Type</label>
                    <select class="form-control input-sm" name="employmentType" ng-required="true" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-init="getProposeAssuredEmpType(employment.employmentType)" ng-change="getProposeAssuredEmpType(employment.employmentType)" ng-model="employment.employmentType" ng-options="employmentType.employment_id as employmentType.description for employmentType in employmentTypes">
                            </select>

                    <div class="error" ng-messages="employmentDetails.employmentType.$error" ng-if="employmentDetails.employmentType.$dirty">
                        <small class="error" ng-message="required">Please enter Employment Type</small>
                    </div>
                </div>
                <div class="form-group" ng-if="employmentTypeStaus">
                    <label class="control-label">Address Line 2</label>
                    <input type="text" class="form-control input-sm" name="addressLine2" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-maxlength="100" ng-model="employment.address2"/>

                    <div class="error" ng-messages="employmentDetails.address2.$error" ng-if="employmentDetails.address2.$dirty">
                        <small ng-message="maxlength">Only 100 characters are allowed.</small>
                    </div>
                </div>
                <div class="form-group required" ng-if="employmentTypeStaus">
                    <label class="control-label">Province</label>
                    <select class="form-control input-sm" name="province" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-options="province.provinceId as province.provinceName for province in provinces"
                           ng-init="getProposedAssuredEmpProvinceValue(employment.province)"  ng-change="getProposedAssuredEmpProvinceValue(employment.province)" ng-model="employment.province" ng-required="true">
                    </select>

                    <div class="error" ng-messages="employmentDetails.province.$error" ng-if="employmentDetails.province.$dirty">
                        <small class="error" ng-message="required">Please enter Province</small>
                    </div>
                </div>
                <div class="form-group" ng-if="employmentTypeStaus">
                    <label class="control-label">Work phone</label>
                    <input type="text" class="form-control input-sm" name="workPhone" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-minlength="10" maxlength="10" ng-maxlength="10" ng-pattern="/^\d+$/" ng-model="employment.workPhone"/>

                    <div class="error" ng-messages="employmentDetails.workPhone.$error" ng-if="employmentDetails.workPhone.$dirty">
                        <small ng-message="maxlength">Only 10 Number are allowed.</small>
                        <small ng-message="minlength">Minimum 10 Numbers are allowed.</small>
                        <small ng-message="pattern">Only Numeric are allowed.</small>
                    </div>
                </div>
            </div>
        </accordion-group>


        <accordion-group is-open="accordionStatus.proposedAssuredDetails.resident" ng-form="residentDetails">
            <accordion-heading>
                Residential Details <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': accordionStatus.proposedAssuredDetails.resident, 'glyphicon-chevron-right': !accordionStatus.proposedAssuredDetails.resident}"></i>
            </accordion-heading>
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="control-label">Address Line 1</label>
                    <input type="text" class="form-control input-sm" name="residentAddress1" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-maxlength="100" ng-model="residentialAddress.address1" ng-required="true"/>

                    <div class="error" ng-messages="residentDetails.residentAddress1.$error" ng-if="residentDetails.residentAddress1.$dirty">
                        <small class="error" ng-message="required">Please enter Address Line 1</small>
                        <small ng-message="maxlength">Only 100 characters are allowed.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Postal Code</label>
                    <input type="text" class="form-control input-sm" name="residentPostalCode" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-pattern="/^\d+$/" ng-maxlength="7" ng-model="residentialAddress.postalCode"/>

                    <div class="error" ng-messages="residentDetails.residentPostalCode.$error" ng-if="residentDetails.residentPostalCode.$dirty">
                        <small ng-message="maxlength">Only 7 characters are allowed.</small>
                        <small ng-message="pattern">Only Numeric are allowed.</small>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label">Town</label>
                    <select type="text" class="form-control input-sm" name="residentTown" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-model="residentialAddress.town"
                            ng-options="city.geoId as city.geoName for city in proposedAssuredResidentialCities" ng-required="true">
                    </select>

                    <div class="error" ng-messages="residentDetails.residentTown.$error" ng-if="residentDetails.residentTown.$dirty">
                        <small class="error" ng-message="required">Please enter Town</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Email Address</label>
                    <input type="email" class="form-control input-sm" name="residentEmail" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-model="residentialAddress.emailAddress"/>

                    <div class="error" ng-messages="residentDetails.residentEmail.$error"  ng-if="residentDetails.residentEmail.$dirty">
                        <small class="error" ng-message="email">Please enter  Valid email address. </small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Address Line 2</label>
                    <input type="text" class="form-control input-sm" name="residentAddress2" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-maxlenght="100" ng-model="residentialAddress.address2"/>

                     <div class="error" ng-messages="residentDetails.residentAddress2.$error" ng-if="residentDetails.residentAddress2.$dirty">
                         <small ng-message="maxlength">Only 100 characters are allowed.</small>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label">Province</label>
                    <select class="form-control input-sm" name="residentProvince" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-options="province.provinceId as province.provinceName for province in provinces"
                            ng-init="getProposedAssuredResProvinceValue(residentialAddress.province)" ng-change="getProposedAssuredResProvinceValue(residentialAddress.province)" ng-model="residentialAddress.province" ng-required="true"/>

                    <div class="error" ng-messages="residentDetails.residentProvince.$error" ng-if="residentDetails.residentProvince.$dirty">
                        <small class="error" ng-message="required">Please enter Province</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Home Phone</label>
                    <input type="text" class="form-control input-sm" name="residentPhone1" ng-disabled="mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-minlength="10" ng-maxlength="10" maxlength="10"  ng-pattern="/^\d+$/" ng-model="residentialAddress.homePhone"/>

                    <div class="error" ng-messages="residentDetails.residentPhone1.$error" ng-if="residentDetails.residentPhone1.$dirty">
                        <small ng-message="pattern">Please enter a valid mobile number.</small>
                        <small ng-message="maxlength">Only 10 characters are allowed.</small>
                        <small ng-message="minlength">Minimum 10 Numbers are allowed.</small>
                    </div>

                </div>
            </div>
        </accordion-group>
    </accordion>
    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn btn-default btn-sm" ng-click="cancelAll()">Cancel</button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-default btn-sm" style="float: right" ng-disabled="(step2.$invalid || statusCount)"   ng-hide=" mode=='new'||mode=='view'||readOnlyStatusProposedAssured" ng-click="saveProposedAssuredDetails()">Save</button>
        </div>
    </div>
</ng-form>
