<ng-form name="step1">
    <div ng-init="setForm(step1);"></div>
    <accordion close-others="true">
        <accordion-group is-open="accordionStatus.proposedAssuredDetails.agents" ng-class="{'accordion-error':isAgentEmpty}">
            <accordion-heading>
                Agent
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': accordionStatus.proposedAssuredDetails.agents, 'glyphicon-chevron-right': !accordionStatus.proposedAssuredDetails.agents}"></i>
            </accordion-heading>
            <div class="col-md-12">
                <button type="button" class="btn btn-default btn-xs pull-right" ng-click="openAgentModal()" style="margin-bottom: 5px"><strong>Add Agent</strong></button>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Agent Code</th>
                        <th>Agent Name</th>
                        <th>Commission %</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in agentDetails">
                        <td>{{row.agentCode}}</td>
                        <td>{{row.firstName+' '+row.lastName}}</td>
                        <td>{{row.commission}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </accordion-group>
        <accordion-group is-open="accordionStatus.proposedAssuredDetails.proposedAssured" ng-form="proposedAssuredDetails"
                         ng-class="{'accordion-error':hasAccordionError(proposedAssuredDetails)}">
            <accordion-heading>
                Proposed Assured <i class="pull-right glyphicon"
                                    ng-class="{'glyphicon-chevron-down': accordionStatus.proposedAssuredDetails.proposedAssured, 'glyphicon-chevron-right': !accordionStatus.proposedAssuredDetails.proposedAssured}"></i>
            </accordion-heading>
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="control-label">Title</label>
                    <select class="form-control input-sm" name="title" ng-required="true" ng-model="proposedAssured.title" ng-options="title as title for title in titles">
                    </select>

                    <div class="error" ng-messages="proposedAssuredDetails.title.$error">
                        <small ng-message="required">Please enter title.</small>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label">Surname</label>
                    <input type="text" class="form-control input-sm" name="surname" ng-required="true" ng-model="proposedAssured.surname"/>

                    <div class="error" ng-messages="proposedAssuredDetails.surname.$error">
                        <small class="error" ng-message="required">Please enter Surname.</small>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label">NRC</label>
                    <input type="text" class="form-control input-sm" name="nrc" ng-model="proposedAssured.nrc" ng-required="true"/>

                    <div class="error" ng-messages="proposedAssuredDetails.nrc.$error">
                        <small class="error" ng-message="required">Please enter NRC.</small>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label">Age Next Birthday</label>
                    <input type="text" class="form-control input-sm" name="ageNextBirthday"/>
                </div>
                <div class="form-group required">
                    <label class="control-label">Mobile Number</label>
                    <input type="text" class="form-control input-sm" name="mobileNumber" ng-model="proposedAssured.mobileNumber" ng-required="true" ng-maxLength="10"/>

                    <div class="error" ng-messages="proposedAssuredDetails.mobileNumber.$error">
                        <small class="error" ng-message="required">Please enter Mobile Number</small>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label">Marital Status</label>
                    <select class="form-control input-sm" ng-model="proposedAssured.maritalStatus" name="maritalStatus" ng-required="true">
                        <option value="MARRIED">Married</option>
                        <option value="UNMARRIED">UnMarried</option>
                    </select>

                    <div class="error" ng-messages="proposedAssuredDetails.maritalStatus.$error">
                        <small class="error" ng-message="required">Please enter Marital Status</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="control-label">First Name</label>
                    <input type="text" class="form-control input-sm" name="firstName" ng-model="proposedAssured.firstName" ng-required="true"/>

                    <div class="error" ng-messages="proposedAssuredDetails.firstName.$error">
                        <small class="error" ng-message="required">
                            Please enter FirstName
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Other Name</label>
                    <input type="text" class="form-control input-sm" name="otherName" ng-model="proposedAssured.otherName"/>
                </div>
                <div class="form-group required">
                    <label class="control-label">Date Of Birth</label>
                    <input type="text" class="form-control input-sm" name="dateOfBirth" ng-model="proposedAssured.dateOfBirth" ng-required="true"/>

                    <div class="error" ng-messages="proposedAssuredDetails.dateOfBirth.$error">
                        <small class="error" ng-message="required">Please enter Date of Birth</small>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label">Sex</label>
                    <select class="form-control input-sm" name="gender" ng-model="proposedAssured.gender" ng-required="true">
                        <option value="MALE" ng-value="MALE">Male</option>
                        <option value="FEMALE" ng-value="FEMALE">Female</option>
                    </select>

                    <div class="error" ng-messages="proposedAssuredDetails.gender.$error">
                        <small class="error" ng-message="required">Please enter Sex</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Email Address</label>
                    <input type="text" class="form-control input-sm" name="email" ng-model="proposedAssured.emailAddress"/>
                </div>
            </div>
        </accordion-group>

        <accordion-group is-open="accordionStatus.proposedAssuredDetails.spouseDetails" ng-form="spouseDetails">
            <accordion-heading>
                Spouse Details <i class="pull-right glyphicon"
                                  ng-class="{'glyphicon-chevron-down': accordionStatus.proposedAssuredDetails.spouseDetails, 'glyphicon-chevron-right': !accordionStatus.proposedAssuredDetails.spouseDetails}"></i>
            </accordion-heading>
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="control-label">Spouse's First Name</label>
                    <input type="text" class="form-control input-sm" name="spouseFirstName" ng-model="spouse.firstName" ng-required="true"/>

                    <div class="error" ng-messages="spouseDetails.spouseFirstName.$error">
                        <small class="error" ng-message="required">Please enter Spouse's First Name</small>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label">Spouse's Mobile Number</label>
                    <input type="text" class="form-control input-sm" name="spouseMobileNumber" ng-model="spouse.mobileNumber" ng-required="true"/>

                    <div class="error" ng-messages="spouseDetails.spouseMobileNumber.$error">
                        <small class="error" ng-message="required">Please enter Spouse's Mobile Number</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="control-label">Spouse's Surname</label>
                    <input type="text" class="form-control input-sm" name="spouseSurname" ng-model="spouse.surname" ng-required="true"/>

                    <div class="error" ng-messages="spouseDetails.spouseSurname.$error">
                        <small class="error" ng-message="required">Please enter Spouse's Surname</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Spouse's Email ID</label>
                    <input type="text" class="form-control input-sm" name="spouseEmailId" ng-model="spouse.emailAddress"/>
                </div>
            </div>
        </accordion-group>


        <accordion-group is-open="accordionStatus.proposedAssuredDetails.employment" ng-form="employmentDetails">
            <accordion-heading>
                Employment Details <i class="pull-right glyphicon"
                                      ng-class="{'glyphicon-chevron-down': accordionStatus.proposedAssuredDetails.employment, 'glyphicon-chevron-right': !accordionStatus.proposedAssuredDetails.employment}"></i>
            </accordion-heading>
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="control-label">Occupation</label>
                    <select class="form-control input-sm" name="occupation" ng-required="true" ng-model="employment.occupation"
                            ng-options="occupation.description as occupation.description for occupation in occupations"></select>

                    <div class="error" ng-messages="employmentDetails.occupation.$error">
                        <small class="error" ng-message="required">Please enter Occupation</small>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label">Employment Date</label>
                    <input type="text" class="form-control input-sm" name="employmentDate" ng-model="employment.employmentDate" ng-required="true"/>

                    <div class="error" ng-messages="employmentDetails.employmentDate.$error">
                        <small class="error" ng-message="required">Please enter Employment Date</small>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label">Address Line 1</label>
                    <input type="text" class="form-control input-sm" name="addressLine1" ng-model="employment.address1" ng-required="true"/>

                    <div class="error" ng-messages="employmentDetails.employmentDate.$error">
                        <small class="error" ng-message="required">Please enter Address Line 1</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Postal Code</label>
                    <input type="text" class="form-control input-sm" name="postalCode" ng-model="employment.postalCode"/>
                </div>
                <div class="form-group required">
                    <label class="control-label">Town</label>
                    <select class="form-control input-sm" name="town" ng-required="true" ng-model="employment.town"
                            ng-options="city.geoId as city.geoName for city in proposedAssuredEmploymentCities"/>

                    <div class="error" ng-messages="employmentDetails.town.$error">
                        <small class="error" ng-message="required">Please enter Town</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="control-label">Employer</label>
                    <input type="text" class="form-control input-sm" name="employer" ng-required="true" ng-model="employment.employer"/>

                    <div class="error" ng-messages="employmentDetails.employer.$error">
                        <small class="error" ng-message="required">Please enter Employer</small>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label">Employment Type</label>
                    <select class="form-control input-sm" name="employmentType" ng-required="true" ng-model="employment.employmentType" ng-options="employmentType.employment_id as employmentType.description for employmentType in employmentTypes">
                            </select>

                    <div class="error" ng-messages="employmentDetails.employmentType.$error">
                        <small class="error" ng-message="required">Please enter Employment Type</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Address Line 2</label>
                    <input type="text" class="form-control input-sm" name="addressLine2" ng-model="employment.address2"/>
                </div>
                <div class="form-group required">
                    <label class="control-label">Province</label>
                    <select class="form-control input-sm" name="province" ng-options="province.provinceId as province.provinceName for province in provinces"
                            ng-model="employment.province" ng-required="true">
                    </select>

                    <div class="error" ng-messages="employmentDetails.province.$error">
                        <small class="error" ng-message="required">Please enter Province</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Work phone</label>
                    <input type="text" class="form-control input-sm" name="workPhone" ng-model="employment.workPhone"/>
                </div>
            </div>
        </accordion-group>


        <accordion-group is-open="accordionStatus.proposedAssuredDetails.resident" ng-form="residentDetails">
            <accordion-heading>
                Residential Details <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': accordionStatus.proposedAssuredDetails.resident, 'glyphicon-chevron-right': !accordionStatus.proposedAssuredDetails.resident}"></i>
            </accordion-heading>
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="control-label">Address Line 1</label>
                    <input type="text" class="form-control input-sm" name="residentAddress1" ng-model="residentialAddress.address1" ng-required="true"/>

                    <div class="error" ng-messages="residentDetails.residentAddress1.$error">
                        <small class="error" ng-message="required">Please enter Address Line 1</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Postal Code</label>
                    <input type="text" class="form-control input-sm" name="residentPostalCode" ng-model="residentialAddress.postalCode"/>
                </div>
                <div class="form-group required">
                    <label class="control-label">Town</label>
                    <select type="text" class="form-control input-sm" name="residentTown" ng-model="residentialAddress.town"
                            ng-options="city.geoId as city.geoName for city in proposedAssuredResidentialCities" ng-required="true">
                    </select>

                    <div class="error" ng-messages="residentDetails.residentTown.$error">
                        <small class="error" ng-message="required">Please enter Town</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Email Address</label>
                    <input type="text" class="form-control input-sm" name="residentEmail" ng-model="residentialAddress.emailAddress"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Address Line 2</label>
                    <input type="text" class="form-control input-sm" name="residentAddress2" ng-model="residentialAddress.address2"/>
                </div>
                <div class="form-group required">
                    <label class="control-label">Province</label>
                    <select class="form-control input-sm" name="residentProvince" ng-options="province.provinceId as province.provinceName for province in provinces"
                            ng-model="residentialAddress.province" ng-required="true"/>

                    <div class="error" ng-messages="residentDetails.residentProvince.$error">
                        <small class="error" ng-message="required">Please enter Province</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Home Phone</label>
                    <input type="text" class="form-control input-sm" name="residentPhone" ng-model="residentialAddress.homePhone"/>
                </div>
            </div>
        </accordion-group>
    </accordion>
    <div class="form-group required">
        <label class="control-label" style="margin-right: 25px">Is Proposed Assured the Proposer?</label>
        <label class="radio-inline">
            <input type="radio" name="proposedAssuredAsProposer" ng-value="true" value="true" ng-required="true" ng-model="proposedAssured.isProposer"/> Yes
        </label>
        <label class="radio-inline">
            <input type="radio" name="proposedAssuredAsProposer" ng-value="false" value="false" ng-required="true" ng-model="proposedAssured.isProposer"/> No
        </label>

        <div class="error" ng-messages="step1.isProposed.$error">
            <small class="error" ng-message="required">Please select one.</small>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn btn-default btn-sm">Cancel</button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-default btn-sm" style="float: right" ng-click="saveProposedAssuredDetails()">Save</button>
        </div>
    </div>
</ng-form>
