<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en" >
<head th:include="fragments/common :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body style="padding-top: 70px;">
<div th:include="fragments/common :: bodyHeader" th:remove="tag"/>
<script>
    require(['moment'], function(moment) {
    });
    requirejs(['main'],function(){
    require(['/pla/js/branch/assignBranchManager.js'],function(){
    angular.bootstrap(document, ['assignBranchManager']);
    });
    });
</script>
<div class="container" style="padding-top: 0px!important;" ng-Controller="AssignBranchManagerController">
    <div class="row">
        <div class="col-lg-8" style="left:230px;position:absolute;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-4"><span th:text="#{assignBranchManager}">Assign Branch Manager
                        </span></div>
                    </div>
                </div>
                <div class="panel-body">
                    <form novalidate="true" class="css-form">
                        <div class="row">
                        <div class="form-group col-md-6" style="margin: auto;margin-top:10px;">
                            <label class="control-label">Region Name</label>
                            <div class="controls readonly" ng-model="assignBranchManager.regionName">{{assignBranchManager.regionName}}</div>
                        </div>
                        <div class="form-group col-md-6" style="margin: auto;margin-top:10px;">
                            <label class="control-label">Branch Name</label>
                            <div class="controls readonly" ng-model="assignBranchManager.branchName">{{assignBranchManager.branchName}}</div>
                        </div>
                         </div>
                        <div class="row">
                        <div class="form-group col-md-6" style="margin: auto;margin-top:10px;">
                            <label class="control-label">Branch Manager</label>
                            <select class="form-control input-sm"  ng-model="assignBranchManager.branchManagerName" ng-change="getNewBranchManager(assignBranchManager.branchManagerName)"  >
                                <option value="">---Select option-----</option>
                                <option ng-selected="assignBranchManager.branchManagerName == branchManager.branchManagerId" value="{{branchManager.branchManagerId}}" ng-repeat="branchManager in branchManagerList" ></option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 " style="margin: auto;margin-top:10px;">
                            <label class="control-label">Branch Manager From</label>
                            <p class="input-group">
                                <input type="text" class="form-control input-sm" ng-required="true" ng-click="open($event)" min-date="selectedDate"  datepicker-popup="dd/MM/yyyy" ng-model="assignBranchManager.fromDate"  datepicker-options="datePickerSettings.dateOptions" is-open="datePickerSettings.isOpened"  close-text="Close" show-button-bar="false"/>
                                   <span class="input-group-btn">
                                      <button type="button" class="btn btn-default btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                   </span>
                            </p>
                        </div>
                            </div>
                        <div class="row">
                            <div class="form-group col-md-6" style="margin: auto;margin-top:10px;">
                                <label class="control-label">Branch BDE</label>
                                <select class="form-control input-sm"  ng-model="assignBranchManager.branchBDE" ng-change="getNewBranchManager(assignBranchManager.branchBDE)"  >
                                    <option value="">---Select option-----</option>
                                    <option ng-selected="assignBranchManager.branchBDE == branchBDE.branchBDEId" value="{{branchBDE.branchBDEId}}" ng-repeat="branchBDE in branchbranchBDEList" ></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 " style="margin: auto;margin-top:10px;">
                                <label class="control-label">Branch branchBDE From</label>
                                <p class="input-group">
                                    <input type="text" class="form-control input-sm" ng-required="true" ng-click="openBDE($event)" min-date="selectedDate"  datepicker-popup="dd/MM/yyyy" ng-model="assignBranchManager.BDEfromDate"  datepicker-options="datePickerSettingsBDE.dateOptions" is-open="datePickerSettingsBDE.isOpened"  close-text="Close" show-button-bar="false" />
                                   <span class="input-group-btn">
                                      <button type="button" class="btn btn-default btn-sm" ng-click="openBDE($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                   </span>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                        <div class="col-lg-12" style="text-align: center;margin-top:10px;">
                            <button type="submit" class="btn btn-default" style="float:right;" ng-disabled="(!assignBranchManager.branchManagerName || !assignBranchManager.fromDate)">Save</button>
                            <a class="btn btn-default" th:href="@{/core/branch/view}" style="float:left;">Cancel</a>

                        </div>
                        </div>
                    </form>
                </div>
             </div>
        </div>
    </div>
</div>
<style>
    .form-control {
    font-size: 12px;
    padding:5px;
    }

</style>
<footer class="footer" th:include="fragments/common :: footer">
</footer>
</body>
</html>