<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/common :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--/*-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link href="https://www.fuelcdn.com/fuelux/3.6.3/css/fuelux.min.css" rel="stylesheet">
    <link href="../../../../../static/css/common.css" rel="stylesheet">
    <script data-main="../../../../../static/js/requireConfig" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.16/require.min.js"></script>
    <!--*/-->
</head>
<body class="fuelux container" style="padding-top: 70px;font-size: 12px">
<div th:include="fragments/common :: bodyHeader" th:remove="tag"/>
<script>
    requirejs(['quotation/createQuotation'],function(){
        angular.bootstrap(document, ['createQuotation']);
    });
</script>
<script type="text/ng-template" id="createQuotationTpl.html">
    <div class="wizard fuelux-wizard"  selected-item="1" style="overflow: visible">
        <ul class="steps" style="margin-left: 0">
            <li data-step="1"><span class="badge badge-info">1</span>Basic Details<span class="chevron"></span></li>
            <li data-step="2"><span class="badge">2</span>Proposed Assured Details<span class="chevron"></span></li>
            <li data-step="3"><span class="badge">3</span>Proposer Details<span class="chevron"></span></li>
            <li data-step="4"><span class="badge">4</span>Plan Details<span class="chevron"></span></li>
            <li data-step="5"><span class="badge">5</span>Premium Information<span class="chevron"></span></li>
        </ul>
        <div class="actions">
            <span style="font-weight: bolder;margin-right: 15px;color: #999">Quotation ID :<span style="font-size: 13px;color: #3a87ad;">5100000010315 - 01</span></span>
            <button type="button" class="btn btn-default btn-prev" disabled="disabled"><span class="glyphicon glyphicon-arrow-left"></span>Prev</button>
            <button type="button" class="btn btn-default btn-next">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
        <div class="step-content">
            <div class="step-pane active" data-step="1">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Agent ID</label>
                            <input type="text" class="form-control input-sm" name="agentId">
                        </div>
                    </div>
                </div>
                <div class="bs-callout  bs-callout-info" style="margin-bottom: 7px">
                    <div class="row">
                        <p><Strong>Proposed Assured Details</Strong></p>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label >Title</label>
                                <input type="text" class="form-control input-sm">
                            </div>
                            <div class="form-group">
                                <label >Surname</label>
                                <input type="text" class="form-control input-sm">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label >First Name</label>
                                <input type="text" class="form-control input-sm">
                            </div>
                            <div class="form-group">
                                <label >NRC</label>
                                <input type="text" class="form-control input-sm">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Plan</label>
                            <input type="text" class="form-control input-sm">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-default btn-sm">Cancel</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-default btn-sm" style="float: right">Save</button>
                    </div>
                </div>
            </div>
            <div class="step-pane" data-step="2">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Agent ID</label>
                            <input type="text" class="form-control input-sm" name="agentId" readonly="true">
                        </div>
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control input-sm" name="title" readonly="true">
                        </div>
                        <div class="form-group">
                            <label>Surname</label>
                            <input type="text" class="form-control input-sm" name="surname" readonly="true">
                        </div>
                        <div class="form-group">
                            <label>Date Of Birth</label>
                            <input type="text" class="form-control input-sm" name="dob">
                        </div>
                        <div class="form-group">
                            <label>Sex</label>
                            <select class="form-control input-sm">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control input-sm" name="email">
                        </div>
                        <div class="form-group">
                            <label style="text-align: left">Is Proposed Assured the proposer?</label>
                            <label style="padding-right: 5px"><input type="radio"  name="overrideCommission" ng-model="agentDetails.overrideCommissionApplicable" value="yes"/>Yes</label>
                            <label><input type="radio"  name="overrideCommission" ng-model="agentDetails.overrideCommissionApplicable" value="no"/>No</label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control input-sm" name="firstName" readonly="true">
                        </div>
                        <div class="form-group">
                            <label>NRC</label>
                            <input type="text" class="form-control input-sm" name="title" readonly="true">
                        </div>
                        <div class="form-group">
                            <label>Age Next Birthday</label>
                            <input type="text" class="form-control input-sm" name="age">
                        </div>
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <input type="number" class="form-control input-sm" name="mobile">
                        </div>
                        <div class="form-group">
                            <label>Occupation</label>
                            <input type="text" class="form-control input-sm" name="occupation">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-default btn-sm">Cancel</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-default btn-sm" style="float: right">Save</button>
                    </div>
                </div>
            </div>
            <div class="step-pane" data-step="3">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Title</label>
                            <select class="form-control input-sm">
                                <option>Mr.</option>
                                <option>Mrs.</option>
                                <option>Miss.</option>
                                <option>Dr.</option>
                                <option>Prof.</option>
                                <option>Hon.</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Surname</label>
                            <input type="text" class="form-control input-sm" name="surname" readonly="true">
                        </div>
                        <div class="form-group">
                            <label>Date Of Birth</label>
                            <input type="text" class="form-control input-sm" name="dob">
                        </div>
                        <div class="form-group">
                            <label>Sex</label>
                            <select class="form-control input-sm">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control input-sm" name="email">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control input-sm" name="firstName" readonly="true">
                        </div>
                        <div class="form-group">
                            <label>NRC</label>
                            <input type="text" class="form-control input-sm" name="title" readonly="true">
                        </div>
                        <div class="form-group">
                            <label>Age Next Birthday</label>
                            <input type="text" class="form-control input-sm" name="age">
                        </div>
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <input type="number" class="form-control input-sm" name="mobile">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-default btn-sm">Cancel</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-default btn-sm" style="float: right">Save</button>
                    </div>
                </div>
            </div>
            <div class="step-pane" data-step="4">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Plan</label>
                            <input type="text" class="form-control input-sm" name="plan">
                        </div>
                        <div class="form-group">
                            <label>Policy Term</label>
                            <input type="text" class="form-control input-sm" name="policyTerm">
                        </div>
                        <div class="form-group">
                            <label>Optional Coverages Applied For</label>
                            <select class="form-control input-sm">
                                <option>Optional Cover One</option>
                                <option>Optional Cover Two</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Optional Cover Sum Assured</th>
                                    <th>Optional Cover Term</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1000</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>2000</td>
                                    <td>5</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Sum Assured</label>
                            <input type="text" class="form-control input-sm" name="mobile">
                        </div>
                        <div class="form-group">
                            <label>Premium Payment Term</label>
                            <input type="text" class="form-control input-sm" name="mobile">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-default btn-sm">Cancel</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-default btn-sm" style="float: right">Submit</button>
                    </div>
                </div>
            </div>
            <div class="step-pane" data-step="5">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Coverage 1 Annual Premium</label>
                            <input type="text" class="form-control input-sm" >
                        </div>
                        <div class="form-group">
                            <label>Coverage 2 Annual Premium</label>
                            <input type="text" class="form-control input-sm" >
                        </div>
                        <div class="form-group">
                            <label>Plan Annual Premium</label>
                            <input type="text" class="form-control input-sm" readonly="true">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Toatl Annual Premium</label>
                            <input type="text" class="form-control input-sm" readonly="true">
                        </div>
                        <div class="form-group">
                            <label>Semi-Annual Premium</label>
                            <input type="text" class="form-control input-sm" readonly="true">
                        </div>
                        <div class="form-group">
                            <label>Quarterly Premium</label>
                            <input type="text" class="form-control input-sm" readonly="true">
                        </div>
                        <div class="form-group">
                            <label>Monthly Premium</label>
                            <input type="text" class="form-control input-sm" readonly="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-default btn-sm">Cancel</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-default btn-sm" style="float: right">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <style>
        .bs-callout-info {
            border-left-color: #1b809e!important;
        }

        .bs-callout {
            padding: 20px;
            border: 1px solid #E4E2E2;
            border-left-width: 5px;
            border-radius: 3px;
        }
        .fuelux .checkbox-custom:before {
            font-family: "Glyphicons Halflings" !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            line-height: 1;
            speak: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            border: 1px solid #adadad;
            border-radius: 4px;
            color: #fff;
            content: " ";
            font-size: 12px;
            height: 18px;
            left: 0;
            padding: 1px 0 0 1px;
            position: absolute;
            top: 3px;
            width: 18px;
        }

        .form-group{
            margin-bottom: 5px!important;
        }
        .form-group > label{
            margin-bottom: 0px!important;
        }
        #createAgentForm input.ng-invalid.ng-touched {
            border-color: #FA787E;
        }
        #createAgentForm button.ng-invalid.ng-touched {
            border-color: #FA787E;
        }
        #createAgentForm select.ng-invalid.ng-touched {
            border-color: #FA787E;
        }
        #createAgentForm.ng-submitted input.ng-invalid{
            border-color: #FA787E;
        }
        #createAgentForm.ng-submitted button.ng-invalid{
            border-color: #FA787E;
        }
        #createAgentForm.ng-submitted select.ng-invalid{
            border-color: #FA787E;
        }
        .red-text-color{
            color: #ce4844 !important;
        }
        .background-red{
            background-color: #ce4844!important;
        }
    </style>
</script>
<div ng-view></div>
<footer class="footer" th:include="fragments/common :: footer">
</footer>
</body>
</html>