<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head th:include="fragments/common :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body style="padding-top: 70px"
      class="fuelux" ng-controller="planSetUpCtrl">
<script>

    requirejs.config({
        paths: {
            'plansetup': '/pla/js/plan-app'
        },
        "shim": {"plansetup": ["angular"]}
    });

    require(['main'], function (angular) {
        require(['plansetup'], function () {

        });
    })

</script>
<div th:include="fragments/common :: bodyHeader" th:remove="tag"/>
<div class="container" style="padding-top: 0px!important;">
    <div class="wizard" fuelux-wizard="" id="planSetUpWizard">
        <ul class="steps">
            <li data-step="1" data-name="campaign" class="active">
                <span class="badge">1</span>Plan Details<span class="chevron"></span></li>
            <li data-step="2"><span class="badge">2</span>Sum Assured<span class="chevron"></span></li>
            <li data-step="3"><span class="badge">3</span>Policy Term<span class="chevron"></span></li>
            <li data-step="4" data-name="template"><span class="badge">4</span>Premium Term<span class="chevron"></span>
            </li>
            <li data-step="5" data-name="template"><span class="badge">5</span>Coverage<span class="chevron"></span>
            </li>
            <li data-step="6" data-name="template"><span class="badge">6</span>Benefits<span class="chevron"></span>
            </li>
        </ul>
        <div class="actions">
            <button type="button" class="btn btn-default btn-prev">
                <span class="glyphicon glyphicon-arrow-left"></span>Prev
            </button>
            <button type="button" class="btn btn-default btn-next" data-last="Complete">Next<span
                    class="glyphicon glyphicon-arrow-right"></span></button>
        </div>

        <div class="step-content">
            <div class="step-pane active sample-pane alert" data-step="1">
                <h4>Plan Details</h4>
                {{plan.planDetail}}
                <!-- Select Basic -->
                <form id="planSetUpForm" name="planSetUpForm" novalidate="true"
                      method="post" class="form-horizontal">
                    <div class="control-group required col-sm-6">
                        <label class="control-label" for="lineOfBusinessId">Line of
                            Business/Product Line</label>

                        <div class="controls">
                            <select class="form-control col-sm-6" id="lineOfBusinessId"
                                    ng-model="plan.planDetail.lineOfBusinessId">
                                <option value="INDIVIDUAL_INSURANCE">Individual</option>
                                <option value="GROUP_HEALTH">Group Health</option>
                                <option value="GROUP_INSURANCE">Group Insurance</option>
                            </select>

                            <div class="error"
                                 ng-show="planSetUpForm.lineOfBusinessId.$dirty &amp;&amp; planSetUpForm.lineOfBusinessId.$invalid">
                                <small class="error"
                                       ng-show="planSetUpForm.lineOfBusinessId.$error.required">
                                    Please indicate the Product Line/Line Of Business.
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group required col-sm-6">
                        <label class="control-label" for="planName">Plan Name</label>

                        <div class="controls">
                            <input id="planName" name="planName" ng-model="plan.planDetail.planName" ng-required="true"
                                   ng-maxlength="10"
                                   type="text" class="form-control" required="true"/>

                            <div class="error"
                                 ng-show="planSetUpForm.planName.$dirty &amp;&amp; planSetUpForm.planName.$invalid">
                                <small class="error"
                                       ng-show="planSetUpForm.planName.$error.maxlength">
                                    Exceeded max length.
                                </small>
                            </div>
                        </div>
                    </div>
                    <!-- Select Basic -->
                    <div class="col-md-6">
                        <div class="col-md-5" style="padding: 0px">
                            <div class="control-group required">
                                <label class="control-label" for="clientType">Client Type</label>
                                <div class="controls">
                                    <select id="clientType" class="form-control col-md-5"
                                            ng-model="clientType">
                                        <option value="INDIVIDUAL">Individual</option>
                                        <option value="GROUP">Group</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5" style="padding: 0px">
                            <div class="control-group required">
                                <label class="control-label" for="productType">Plan Type</label>
                                <div class="controls">
                                    <select id="productType" ng-model="plan.planDetail.planType"
                                            class="form-control col-md-5"
                                            ng-requied="true" aria-required="true">
                                        <option value="INVESTMENT">Investment</option>
                                        <option value="NON-INVESTMENT">Non-Investment</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="col-sm-6">
                        <div class="control-group required col-sm-5" style="padding: 0px">
                            <label class="control-label" for="productCode">Plan Code</label>
                            <div class="controls">
                                <input id="productCode" name="productCode"
                                       ng-model="plan.planDetail.planCode" type="text" size="10" class=" form-control"
                                       ng-required="true"/>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="control-group  required col-sm-5" style="padding: 0px">
                            <label class="control-label" for="freeLookPeriod">FreeLook Period</label>

                            <div class="controls">
                                <input id="freeLookPeriod" name="freeLookPeriod" type="number" required="true"
                                       class="form-control" ng-model="plan.planDetail.freeLookPeriod"
                                       ng-pattern="onlyNumbers"
                                       ng-required="true"/>

                                <p class="help-block">(in days)</p>

                                <div ng-show="planSetUpForm.freeLookPeriod.$dirty &amp;&amp; planSetUpForm.freeLookPeriod.$invalid">
                                    <small class="error" ng-show="planSetUpForm.freeLookPeriod.$error.required">Please
                                        enter Free Look Period.
                                    </small>
                                    <small class="error" ng-show="planSetUpForm.freeLookPeriod.$error.pattern">Please
                                        enter Numbers only.
                                    </small>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Text input-->
                    <div class="col-md-6">
                        <div class="control-group col-md-5 required" style="padding: 0px">
                            <label class="control-label">Launch Date</label>
                            <div class="controls">
                                <div class='input-group date'>
                                    <input type="text" class="form-control"
                                           datepicker-popup=""
                                           is-open="launchDateOpen"
                                           ng-model="launchDt" name="launchDate" id='launchDate'/>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openLaunchDate($event)">
                                        <i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="control-group col-md-5" style="padding-left: 0px">
                            <label class="control-label" for="withdrawalDate">Withdrawal Date</label>
                            <div class="controls" style="padding-left: 0px">
                                <div class='input-group date'>
                                    <input type="text" class="form-control"
                                           is-open="withdrawalDateOpen"
                                           min-date="launchDt"
                                           datepicker-popup="" name="withdrawalDate"
                                           ng-model="plan.planDetail.withdrawalDate" id='withdrawalDate'/>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openWithdrawalDate($event)">
                                        <i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="control-group required col-md-6">
                        <div class="col-md-5" style="padding: 0px">
                            <label class="control-label" for="minEntryAge">Min Entry Age</label>

                            <div class="controls">
                                <div class='input-group date'>
                                    <input type="number" ng-required="true" ng-pattern="onlyNumbers"
                                           class="form-control" name="minEntryAge" id='minEntryAge'
                                           ng-model="plan.planDetail.minEntryAge"/>

                                    <div ng-show="planSetUpForm.minEntryAge.$dirty &amp;&amp; planSetUpForm.minEntryAge.$invalid">
                                        <small class="error" ng-show="planSetUpForm.minEntryAge.$error.required">Please
                                            enter Minimum Entry Age.
                                        </small>
                                        <small class="error" ng-show="planSetUpForm.minEntryAge.$error.pattern">Please
                                            enter Numbers only.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="control-group  col-md-5" ng-class="error('maxEntryAge')" style="padding-left: 0px">
                            <label class="control-label" for="maxEntryAge">Max Entry Age</label>

                            <div class="controls" style="padding-left: 0px">
                                <div class='input-group date'>
                                    <input type="number" class="form-control" ng-required="true"
                                           name="plan.planDetail.maxEntryAge"
                                           id='maxEntryAge' ng-pattern="onlyNumbers"/>

                                    <div ng-show="planSetUpForm.maxEntryAge.$dirty &amp;&amp; planSetUpForm.maxEntryAge.$invalid">
                                        <small class="error" ng-show="planSetUpForm.maxEntryAge.$error.required">Please
                                            enter Max Entry Age.
                                        </small>
                                        <small class="error" ng-show="planSetUpForm.maxEntryAge.$error.pattern">Please
                                            enter Numbers only.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="control-group col-sm-6" ng-class="isSurrenderReq()">
                        <label class="control-label" for="surrenderAfter">
                            Number of years post which surrender option should be accepted </label>

                        <div class="controls">
                            <input id="surrenderAfter" ng-pattern="onlyNumbers" name="surrenderAfter"
                                   ng-required="!isSurrenderDisabled()"
                                   ng-model="plan.planDetail.surrenderAfter"
                                   type="number" class="form-control" ng-disabled="isSurrenderDisabled()"/>

                            <p class="help-block">(in years)</p>
                        </div>
                    </div>

                    <div class="control-group required col-sm-6">
                        <label class="control-label">Is Tax Applicable?</label>

                        <div class="controls">
                            <label class="radio-inline">
                                <input type="radio" name="taxable" id="taxable" ng-required="true" value="yes"
                                       ng-model="plan.planDetail.taxApplicable"/>Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="taxable" ng-required="true" value="no"
                                       ng-model="plan.planDetail.taxApplicable"/>No
                            </label>

                            <div class="error"
                                 ng-show="planSetUpForm.taxable.$dirty &amp;&amp; planSetUpForm.taxable.$invalid">
                                <small class="error"
                                       ng-show="planSetUpForm.taxable.$error.required">
                                    Please indicate whether taxes are applicable for the product.
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- Select Multiple -->
                    <div class="control-group  col-sm-12">
                        <label class="control-label">Relationships Covered</label>

                        <div class="controls">
                            <label class="checkbox-inline" ng-repeat="rel in relations">

                                <input type="checkbox"
                                       checklist-model="plan.planDetail.applicableRelationships"
                                       checklist-value="rel.val"/>{{rel.desc}}
                            </label>
                        </div>
                    </div>
                    <!-- Select Multiple -->
                    <div class="control-group  col-sm-12">
                        <label class="control-label">Endorsements Available</label>

                        <div class="controls">
                            <label class="checkbox-inline"
                                   ng-repeat="endorsementType in endorsementTypes|filter:clientType">
                                <input type="checkbox" checklist-value="endorsementType.val"
                                       checklist-model="plan.planDetail.endorsementTypes"/>{{endorsementType.desc}}
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="step-pane sample-pane alert" data-step="2">
                <h4>Sum Assured</h4>

                <div class="row">
                    <div class="control-group col-md-3">
                        <label class="control-label" for="groupTerm">Defined Sum Assured Type</label>

                        <div class="controls">
                            <select ng-model="plan.sumAssured.sumAssuredType" class="form-control  col-sm-3">
                                <option value="SPECIFIED_VALUES">Specified Values</option>
                                <option value="RANGE">Specified Range</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Sum Assured Values</h3>
                        </div>
                        <div class="panel-body">
                            <div class="control-group required col-md-4">
                                <label class="control-label">Sum Assured</label>

                                <div class="controls">
                                    <tags-input class="form-control col-sm-12"
                                                ng-model="plan.sumAssured.sumAssuredValue"
                                                min-tags="0" min-length="1"
                                                max-length="3" placeholder="Add a number"
                                                allow-leftover-text="false"
                                                allowed-tags-pattern="^[0-9]+$"
                                                ng-disabled="isSumAssuredTypeRange()"></tags-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Sum Assured Range</h3>
                        </div>
                        <div class="panel-body">
                            <div class="control-group required col-md-4">
                                <label class="control-label" for="groupTerm">Minimum Sum Assured</label>

                                <div class="controls">
                                    <input type="text" ng-pattern="onlyNumbers" class="form-control col-sm-3"
                                           ng-model="plan.sumAssured.minSumInsured"
                                           ng-disabled="!isSumAssuredTypeRange()"/>
                                </div>
                            </div>
                            <div class="control-group required  col-md-4">
                                <label class="control-label" for="groupTerm">Maximum Sum Assured</label>

                                <div class="controls">
                                    <input type="text" ng-pattern="onlyNumbers" class="form-control col-sm-3"
                                           ng-model="plan.sumAssured.maxSumInsured"
                                           ng-disabled="!isSumAssuredTypeRange()"/>
                                </div>
                            </div>
                            <div class="control-group required col-md-4">
                                <label class="control-label" for="groupTerm">Multiples of</label>

                                <div class="controls">
                                    <input type="text" class="form-control col-sm-3"
                                           ng-model="plan.sumAssured.multiplesOf"
                                           ng-disabled="!isSumAssuredTypeRange()"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="step-pane sample-pane alert" data-step="3">
                <h4>Policy Term</h4>

                <div class="row">
                    <div class="control-group col-sm-3">
                        <label class="control-label" for="groupTerm">Group Term</label>

                        <div class="controls">
                            <input type="number" class="form-control col-sm-3" id="groupTerm" ng-model="groupTerm"
                                   ng-disabled="{{clientType=='GROUP'}}"/>
                        </div>
                    </div>
                    <div class="control-group col-md-3">
                        <label class="control-label" for="groupTerm">Defined Sum Assured Type</label>

                        <div class="controls">
                            <select ng-model="plan.policyTermType" class="form-control  col-sm-3">
                                <option value="SPECIFIED_VALUES">Specified Values</option>
                                <option value="MATURITY_AGE_DEPENDENT">Dependent on Maturity Age</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Policy Term Based on Age</div>
                    <div class="panel-body">
                        <div class="control-group col-sm-12">
                            <label class="control-label" for="groupTerm">Various Maturity Ages</label>

                            <div class="controls">
                                <tags-input class=" col-sm-3"
                                            ng-model="plan.policyTerm.maturityAges" min-tags="0" min-length="1"
                                            max-length="3"
                                            ng-disabled="!isPolicyTermByValue()"
                                            placeholder="Add a number" allow-leftover-text="false"
                                            allowed-tags-pattern="^[0-9]+$"></tags-input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Policy Term Based on Term Values</div>
                    <div class="panel-body">
                        <div class="control-group col-sm-3">
                            <label class="control-label">Maximum Maturity Age</label>

                            <div class="controls">
                                <input type="number" ng-disabled="isPolicyTermByValue()" class="form-control col-sm-3"
                                       ng-model="maximumMaturityAge"/>
                            </div>
                        </div>
                        <div class="control-group col-sm-9">
                            <label class="control-label">Policy Term Values</label>

                            <div class="controls">
                                <tags-input class=" col-sm-3"
                                            ng-model="plan.policyTerm.validTerms"
                                            ng-disabled="isPolicyTermByValue()"
                                            min-tags="0" min-length="1"
                                            max-length="3" placeholder="Add a number" allow-leftover-text="false"
                                            allowed-tags-pattern="^[0-9]+$"></tags-input>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="step-pane sample-pane" data-step="4">
                <h4>Premium Payment Term</h4>

                <div class="row">
                    <div class="control-group col-md-3">
                        <label class="control-label" for="groupTerm">Premium Payment Term Type</label>

                        <div class="controls">
                            <select ng-model="plan.premiumTermType" class="form-control  col-sm-3">
                                <option value="REGULAR">Regular</option>
                                <option value="SINGLE">Single</option>
                                <option value="SPECIFIED_VALUES">Specified Values</option>
                                <option value="SPECIFIED_AGES">Specified Ages</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Premium Payment Term Values</h3>
                        </div>
                        <div class="panel-body">
                            <div class="control-group required col-md-12">
                                <label class="control-label">Payment Terms</label>

                                <div class="controls">
                                    <tags-input class=" col-sm-3"
                                                ng-model="plan.premiumTerm.validTerms"
                                                ng-disabled="!isPaymentTermByValue()"
                                                min-tags="0" min-length="1"
                                                max-length="3" placeholder="Add a number"
                                                allow-leftover-text="false"
                                                allowed-tags-pattern="^[0-9]+$"></tags-input>
                                </div>
                            </div>
                            <div class="control-group required col-md-4">
                                <label class="control-label" for="groupTerm">Premium Payment Cutoff Age</label>

                                <div class="controls">
                                    <input type="text" ng-pattern="onlyNumbers" class="form-control col-sm-3"
                                           ng-model="plan.premiumTerm.maxMaturityAge"
                                           ng-disabled="!isPaymentTermByValue()"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Premium Payment Term Age</h3>
                        </div>
                        <div class="panel-body">
                            <div class="control-group required col-md-4">
                                <label class="control-label" for="groupTerm">Premium Ages</label>

                                <div class="controls">
                                    <tags-input class=" col-sm-3"
                                                ng-model="plan.premiumTerm.maturityAges"
                                                ng-disabled="isPaymentTermByValue()"
                                                min-tags="0" min-length="1"
                                                max-length="3" placeholder="Add a number"
                                                allow-leftover-text="false"
                                                allowed-tags-pattern="^[0-9]+$"></tags-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="step-pane sample-pane" data-step="5">
                <h4>Coverage<span class="badge">{{coverages.length}}</span></h4>

                <form name="coverageForm">
                    <div class="panel panel-default">
                        <div class="panel-heading">Attach a new Coverage</div>
                        <div class="panel-body" data-spy="scroll" data-target="#navbar-example">
                            <div class="row">
                                <div class="control-group required col-md-2">
                                    <label class="control-label">Coverage</label>

                                    <div class="controls">
                                        <select ng-model="newCoverage.coverage"
                                                ng-options="item as item.coverageName for item in coverageList track by item.coverageId"
                                                class="form-control  col-sm-3">
                                        </select>
                                    </div>
                                </div>
                                <div class="required col-md-3">
                                    <label class="control-label">Cover Type</label>

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="coverType" ng-model="newCoverage.coverType"
                                                   value="ACCELERATED"/> Accelerated
                                        </label>
                                        <label>
                                            <input type="radio" name="coverType" ng-model="newCoverage.coverType"
                                                   value="ADDITIONAL"/> Additional
                                        </label>
                                    </div>
                                </div>
                                <div class="control-group required col-md-4">
                                    <label class="control-label">Deductible Type</label>

                                    <div class="controls">
                                        <label class="radio-inline">
                                            <input type="radio" name="deductibleType"
                                                   ng-model="newCoverage.deductibleType" value="AMOUNT"/>Amount
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="deductibleType"
                                                   ng-model="newCoverage.deductibleType" value="PERCENTAGE"/>% of
                                            Claimed
                                            Amount
                                        </label>
                                    </div>
                                </div>

                                <div class="control-group required col-md-2">
                                    <label class="control-label">Minimum Entry Age</label>

                                    <div class="controls">
                                        <input type="number" ng-model="newCoverage.minAge" class="form-control"
                                               ng-pattern="onlyNumbers" ng-required="true"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="control-group required col-md-2">
                                    <label class="control-label">Coverage Type</label>

                                    <div class="controls">
                                        <label class="radio-inline">
                                            <input type="radio" name="coverageType" ng-model="newCoverage.coverageType"
                                                   value="BASE"/> Base
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="coverageType" ng-model="newCoverage.coverageType"
                                                   value="OPTIONAL"/> Optional
                                        </label>
                                    </div>
                                </div>
                                <div class="control-group required col-md-3">
                                    <label class="control-label">Tax Applicable</label>

                                    <div class="controls">
                                        <label class="radio-inline">
                                            <input type="radio" value="yes" ng-model="newCoverage.taxApplicable"/>Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="no" ng-model="newCoverage.taxApplicable"/>No
                                        </label>
                                    </div>
                                </div>
                                <div class="control-group col-md-2">
                                    <label class="control-label">Deductible</label>

                                    <div class="controls">
                                        <input type="text" ng-pattern="onlyNumbers"
                                               ng-model="newCoverage.deductiblePercentage"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <div class="control-group col-md-2">
                                    <label class="control-label">Waiting Period</label>

                                    <div class="controls">
                                        <input type="text" ng-pattern="onlyNumbers" ng-model="newCoverage.waitingPeriod"
                                               class="form-control input-sm"/>

                                        <p class="help">(in years)</p>
                                    </div>
                                </div>
                                <div class="control-group required col-md-2">
                                    <label class="control-label">Maximum Entry Age</label>

                                    <div class="controls">
                                        <input type="number" ng-model="newCoverage.maxAge" class="form-control"
                                               ng-pattern="onlyNumbers" ng-required="true"/>
                                    </div>
                                </div>
                            </div>
                            <div id="accordion">
                                <h5>Coverage Sum Assured</h5>

                                <div>
                                    <div class="row">
                                        <div class="control-group required col-md-3">
                                            <label class="control-label">Sum Assured Type</label>
                                            <select ng-model="newCoverage.coverageSumAssuredType"
                                                    class="form-control  col-sm-3">
                                                <option value="VALUE">Specified Values</option>
                                                <option value="RANGE">Specified Range</option>
                                                <option value="PERCENTAGE">% of the Product Sum Assured</option>
                                            </select>
                                        </div>
                                        <div class="control-group required col-md-6">
                                            <label class="control-label">Sum Assured Value</label>

                                            <div class="controls">
                                                <tags-input class=""
                                                            ng-model="newCoverage.sumAssured.sumAssuredValue"
                                                            ng-disabled="true"
                                                            min-tags="0" min-length="1"
                                                            ng-required="!isCoverageSumAssuredDisabled('VALUE')"
                                                            max-length="3" placeholder="Add a number"
                                                            allow-leftover-text="false"
                                                            allowed-tags-pattern="^[0-9]+$"></tags-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="control-group required col-md-3">
                                            <label class="control-label">Minimum Sum Assured</label>

                                            <div class="controls">
                                                <input type="number" ng-model="newCoverage.sumAssured.minSumInsured"
                                                       class="form-control"
                                                       ng-disabled="isCoverageSumAssuredDisabled('RANGE')"
                                                       ng-pattern="onlyNumbers"
                                                       ng-required="!isCoverageSumAssuredDisabled('RANGE')"/>
                                            </div>
                                        </div>
                                        <div class="control-group required col-md-3">
                                            <label class="control-label">Maximum Sum Assured</label>

                                            <div class="controls">
                                                <input type="number" ng-model="newCoverage.sumAssured.maxSumInsured"
                                                       class="form-control"
                                                       ng-disabled="isCoverageSumAssuredDisabled('RANGE')"
                                                       ng-pattern="onlyNumbers"
                                                       ng-required="!isCoverageSumAssuredDisabled('RANGE')"/>
                                            </div>
                                        </div>
                                        <div class="control-group col-md-3">
                                            <label class="control-label">Multiples Of</label>

                                            <div class="controls">
                                                <select ng-model="newCoverage.sumAssured.multiplesOf"
                                                        ng-disabled="isCoverageSumAssuredDisabled('RANGE')"
                                                        class="form-control">
                                                    <option value="1000">1000</option>
                                                    <option value="10000">10000</option>
                                                    <option value="100000">100000</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="control-group required col-md-3">
                                            <label class="control-label">% of Plan Sum Assured</label>

                                            <div class="controls">
                                                <input type="number" ng-model="newCoverage.sumAssured.percentage"
                                                       class="form-control"
                                                       ng-disabled="isCoverageSumAssuredDisabled('PERCENTAGE')"
                                                       ng-pattern="onlyNumbers"
                                                       ng-required="!isCoverageSumAssuredDisabled('PERCENTAGE')"/>
                                            </div>
                                        </div>
                                        <div class="control-group required col-md-3">
                                            <label class="control-label">Max Limit</label>

                                            <div class="controls">
                                                <input type="number" ng-model="newCoverage.sumAssured.maxLimit"
                                                       class="form-control"
                                                       ng-disabled="isCoverageSumAssuredDisabled('PERCENTAGE')"
                                                       ng-pattern="onlyNumbers"
                                                       ng-required="!isCoverageSumAssuredDisabled('PERCENTAGE')"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5>Coverage Term</h5>

                                <div>
                                    <div class="control-group required col-md-4">
                                        <label class="control-label">Coverage Term Type</label>

                                        <div class="controls">
                                            <select ng-model="newCoverage.coverageTermType"
                                                    class="form-control">
                                                <option value="SPECIFIED_VALUES">Specified Values</option>
                                                <option value="AGE_DEPENDENT">Maturity Age Dependent</option>
                                                <option value="POLICY_TERM">Policy Term</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group required col-md-2">
                                        <label class="control-label">Maturity Age</label>

                                        <div class="controls">
                                            <input type="number" ng-model="newCoverage.maxMaturityAge"
                                                   class="form-control"
                                                   ng-disabled="isCoverageTermDisabled('AGE')"
                                                   ng-required="!isCoverageTermDisabled('AGE')"
                                                   ng-pattern="onlyNumbers"/>
                                        </div>
                                    </div>
                                    <div class="control-group required col-md-9">
                                        <label class="control-label">Coverage Term Values</label>

                                        <div class="controls">
                                            <tags-input class=""
                                                        ng-model="newCoverage.coverageTermValues"
                                                        ng-disabled="isCoverageTermDisabled('VALUE')"
                                                        ng-required="!isCoverageTermDisabled('VALUE')"
                                                        min-tags="0" min-length="1"
                                                        max-length="3" placeholder="Add a number"
                                                        allow-leftover-text="false"
                                                        allowed-tags-pattern="^[0-9]+$"></tags-input>
                                        </div>
                                    </div>
                                    <div class="control-group required col-md-3">
                                        <label class="control-label">Maximum Maturity Age</label>

                                        <div class="controls">
                                            <input type="number" ng-model="newCoverage.maxMaturityAge"
                                                   class="form-control"
                                                   ng-disabled="isCoverageTermDisabled('VALUE')"
                                                   ng-required="!isCoverageTermDisabled('VALUE')"
                                                   ng-pattern="onlyNumbers"/>
                                        </div>
                                    </div>
                                </div>
                                <h3>Coverage Maturity</h3>

                                <div>
                                    <button ng-click="addMaturityRow()">Add Row</button>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <td>Partial Maturity Year</td>
                                            <td> Guaranteed Survival Benefit</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="newMaturityAmount in plan.maturityAmounts">
                                            <td>
                                                <input type="number" ng-model="maxMaturityAge"
                                                       class="form-control"
                                                       ng-pattern="onlyNumbers" ng-required="true"/>
                                            </td>
                                            <td>
                                                <input type="number" ng-model="guaranteedSurvivalBenefit"
                                                       class="form-control"
                                                       ng-pattern="onlyNumbers" ng-required="true"/>

                                                <p class="help">Guaranteed periodic survival benefit Amount
                                                    (Percentage Of Sum Insured)</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    {{plan.maturityAmounts}}
                                </div>
                            </div>
                        </div>
                        <p class="pager" style="line-height: 70px;">
                            <button type="button btn-primary" class="btn btn-default"
                                    ng-disabled="!coverageForm.$valid" ng-click="addCoverage()">Add
                            </button>
                        </p>
                    </div>
                </form>
            </div>
            <div class="step-pane sample-pane" data-step="6">
                <h4>Benefit Configuration</h4>

                <form name="benefitForm">
                    <div class="row">
                        <div class="control-group required col-md-6">
                            <label class="control-label">Coverage</label>

                            <div class="controls">
                                <select ng-model="newCoverage.coverage"
                                        ng-options="item as item.coverageName for item in selectedCoverages track by item.coverageId"
                                        class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="control-group required col-md-6">
                            <label class="control-label">Benefits</label>

                            <div class="controls">
                                <select class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="control-group required col-md-6">
                            <label class="control-label">Limit Defined</label>

                            <div class="controls">
                                <select class="form-control">
                                    <option>Per Incidence</option>
                                    <option>Per Day</option>
                                    <option>Per Year</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group required col-md-6">
                            <label class="control-label">Limit Type</label>

                            <div class="controls">
                                <select class="form-control">
                                    <option>Amount</option>
                                    <option>Percentage of Plan Limit</option>
                                    <option>Percentage of Coverage Limit</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group required col-md-6">
                            <label class="control-label">Maximum Limit</label>

                            <div class="controls">
                                <input type="text" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="footer" th:include="fragments/common :: footer">
</footer>
</body>
</html>