<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:include="fragments/common :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body style="padding-top: 70px;">
<div th:include="fragments/common :: bodyHeader" th:remove="tag"/>

<div class="modal fade" id="coverageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="reload()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Coverage</h4>
            </div>
            <form class="form-horizontal"  id="createCoverage" novalidate="true">
                <div class="modal-body">
                    <div class="alert alert-success" hidden="true" id="alert"></div>
                    <div class="alert alert-danger" hidden="true" id="alert-danger"></div>
                    <div class="form-group" style="margin: auto;">
                        <label for="coverageName" class="col-sm-3 control-label">Coverage Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="coverageName" required="true" maxlength="50" class="form-control" id="coverageName"  onkeypress="resetError(this)"/>
                            <span hidden="true" style="color: darkred;font-size: 10px">Please check if it is empty or exceeded more than 60 character</span>
                        </div>
                    </div>
                    <div class="form-group" style="margin: auto;margin-top:10px;">
                        <label for="description" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" name="description"  required="true" maxlength="150" class="form-control" id="description"   onkeypress="resetError(this)"/>
                            <span hidden="true" style="color: darkred;font-size: 10px">Please check if it is empty or exceeded more than 150 character</span>
                        </div>
                    </div>
                   <div class="form-group" style="margin: auto;margin-top:10px;">
                        <label class="col-sm-3 control-label">Benefit(s)</label>
                        <div class="col-sm-9">
                            <select id="selectedBenefits" class="form-control" multiple="multiple">

                                <option th:each="benefit :${benefits}"  th:text="${{benefit}}" th:value="${{benefit}}" ></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="createUpdate"></button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="reload()" id="cancel-button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="alert-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body">
                Are you sure to inactivate the coverage?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="inactivate('abcd','confirm')">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<div class="container" style="padding-top: 0px!important;">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-6"><span th:text="#{listOfCoverages}">List of Coverages
                        </span></div>
                        <div class="col-lg-6"><button type="button" class="btn btn-warning btn-sm" style="float: right" onclick="openCoverageCreateModal()">
                            Create
                        </button></div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered" id="coverage-table" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th th:text="#{coverageName}">
                                Coverage Name
                            </th>
                            <th th:text="#{description}">
                                Description
                            </th>
                            <th th:text="#{benefits}">
                                Benefits
                            </th>
                            <th  th:text="#{actions}">
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="coverage : ${coverages}">
                            <td th:text="${{coverage}}" ></td>
                            <td>The policy may be structured to payout may be on the policyholder undergoing a surgical
                                procedure.
                            </td>
                            <td style="text-align:center">
                                <div class="bs-example">
                                    <p class="popover-examples">
                                        <a href="#" class="btn btn-primary btn-xs" data-toggle="popover">Benefits</a>
                                    </p>
                                </div>
                            </td>
                            <td style="text-align:center">
                                <button type="button" class="btn btn-primary btn-xs" th:onclick="'openCoverageUpdateModal(&quot;'+${coverage}+'&quot;)'">Update</button>
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#alert-modal" th:onclick="'inactivate(&quot;'+${coverage}+'&quot;,&quot;save&quot;)'" >Inactivate</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer" >
                    <ul class="pagination" id="logs-pagination-default"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-main="/pla/js/viewCoverages.js" src="/webjarsjs" th:src="@{/webjarsjs}"></script>
<footer class="footer" th:include="fragments/common :: footer">
</footer>
</body>
</html>