<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head th:include="fragments/common :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<div th:include="fragments/common :: bodyHeader" th:remove="tag"/>
<script>
    requirejs(['main'], function () {
        require(['/pla/js/productclaim/createproductclaim.js?t=11221'], function () {
            angular.bootstrap(document, ['createProductClaim']);
        });
    });
</script>

<div class="container ng-cloak" ng-Controller="CreateProductClaimCtrl">
    <div class="row">
        <div class="col-lg-10" style="right:100px;position:absolute;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-4" ng-hide="mode == 'update' "><span th:text="#{createProductClaim}">Create Product Claim
                        </span></div>
                        <!-- <div class="col-lg-4" ng-show="mode= 'update' "><span th:text="#{updateProductClaim}">Update Product Claim-->
                        <div class="col-lg-4" ng-show="mode == 'update'"><span th:text="#{updateProductClaim}">Update Product Claim
                        </span></div>
                    </div>
                </div>
                <div class="panel-body ng-cloak">
                    <form novalidate="true" class="css-form" name="productClaimForm">
                        <nth-alert></nth-alert>
                        <div class="row">
                            <div class="form-group control-group required col-md-6" style="margin: auto;margin-top:10px;" >
                                <label class="control-label">Line of Business</label>
                                <select class="form-control input-sm" ng-model="mapping.lineOfBusiness" name="lineOfBusiness" id="lineOfBusiness" ng-disabled="mode=='update'||mode=='view'" ng-required="true" ng-change="getPlan()">
                                    <option value="">--Select One--</option>
                                    <option value="GROUP_LIFE">Group Life</option>
                                    <option value="INDIVIDUAL_LIFE">Individual Life</option>
                                    <!--<option value="GROUP_HEALTH">Group Health</option>-->
                                </select>
                            </div>

                            <div ng-hide="mode=='update' || mode== 'view' " class="form-group control-group required col-md-6 " style="margin: auto;margin-top:10px;">
                                <label class="control-label">Plan</label>
                                <select class="form-control input-sm" ng-model="mapping.planCode" ng-options="plan.planId as plan.planName for plan in businessPlans" ng-change="getCoverageClaimType()">
                                    <option value="">--Select One--</option>
                                </select>
                            </div>

                            <div ng-show="mode=='update' || mode== 'view'" class="form-group control-group required col-md-6 " style="margin: auto;margin-top:10px;">
                                <label class="control-label">Plan</label>
                                <input type="text" class="form-control input-sm" name="planCode" ng-disabled="mode=='update'||mode=='view'" ng-model="mapping.planName" ng-required="true"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-8 " style="margin: auto;margin-top:10px;">
                                <label class="control-label">Coverage-Claim Type Mapping</label>
                                <table class="table table-bordered" style="margin-top: 10px;margin-bottom: 0px">
                                    <thead>
                                    <tr>
                                        <th>Coverage</th>
                                        <th>Claim Type</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="coverageClaim in coverageClaimType">
                                        <!--<td>{{CoverageSample}}</td>-->
                                        <td>{{coverageClaim.coverageName}}</td>
                                        <td ng-if="allSelect">
                                            <!--<div ng-dropdown-multiselect="" options="example1data" selected-model="example1model"></div>-->

                                            <button type="button" class="btn btn-default bs-select" name="checkBenefits" id="checkBenefits"  ng-model="coverageClaim.claimTypes" max-length="0"
                                                    ng-required="true" ng-disabled="mode== 'view'" data-all-none-buttons="true"  data-html="1" data-multiple="1" placeholder="Select Claim Type" ng-options="claimType.claimType as claimType.description for claimType in claimTypes" />
                                                <!--Action <span class="caret"></span>-->
                                        </td>
                                        <td ng-if="!allSelect">
                                            <select class="form-control input-sm" ng-model="coverageClaim.claimTypesIL" name="checkBenefits" ng-change="setClaimTypes(coverageClaim,coverageClaim.claimTypesIL)" id="checkBenefitsIL" ng-options="claimType.claimType as claimType.description for claimType in claimTypes" ng-disabled="mode=='view'" ng-required="true">
                                                <option value="">--Select One--</option>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12" style="text-align: center;margin-top:10px;">
                                <button type="button" class="btn btn-default" style="float:right;"
                                        ng-hide="mode == 'update'  || mode == 'view' " ng-click="submitProductClaim()">Save
                                </button>

                                <button type="button" class="btn btn-default" style="float:right;"
                                        ng-show="mode== 'update' " ng-click="updateProductClaim()">Update
                                </button>

                                <a class="btn btn-default" th:href="@{/core/productclaimmap/openviewproductclaim}" style="float:left;">Cancel</a>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .form-control {
        font-size: 12px;
        padding: 5px;
    }

</style>
<footer class="footer" th:include="fragments/common :: footer">
</footer>
</body>
</html>
