<nth-alert></nth-alert>
<div class="row" disable-all-fields="viewType=='view'">
    <div class="col-lg-12" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-3"><span>Create {{override}} Commission
                        </span></div>
                </div>
            </div>
            <div class="panel-body">
                <ng-form name="productForm">
                    <div class="row">
                        <div class="form-group col-md-6 required">
                            <label class="control-label">Product</label>
                            <select class="form-control input-sm" id="productName" ng-model="commissionDetails.planId" ng-required="true">
                                <option value="">--Select One--</option>
                                <option th:each="plan:${plans}" th:text="${plan.planDetail.planName}" th:value="${plan.planId}" ></option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 required">
                            <label class="control-label">{{override}} Commissions Available For</label>
                            <select class="form-control input-sm" id="commissionsAvailableFor" ng-model="commissionDetails.availableFor" ng-required="true" th:if="${commissiontype=='Override'}" ng-disabled="viewType!='create'">
                                <option value="">--Select One--</option>
                                <option th:each="desig:${designation}" th:value="${desig}"
                                        th:text="${desig.description}"
                                        th:if="${!(desig.toString().equals('AGENT')) and !(desig.toString().equals('BROKER'))}"></option>
                            </select>
                            <select class="form-control input-sm" id="commissionsAvailableFor" ng-model="commissionDetails.availableFor" ng-required="true" th:if="${commissiontype=='Normal'}" ng-disabled="viewType!='create'">
                                <option value="">--Select One--</option>
                                <option th:each="desig:${designation}" th:value="${desig}" th:text="${desig.description}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 required">
                            <label class="control-label">From Date</label>
                            <p class="input-group">
                                <input type="text" class="form-control input-sm" ng-click="open($event)"  datepicker-popup="dd/MM/yyyy"
                                       ng-model="fromDate"  datepicker-options="fromDatePickerSettings.dateOptions" min-date="fromDatePickerSettings.tomorrow"
                                       is-open="fromDatePickerSettings.isOpened"  close-text="Close" show-button-bar="false" ng-required="true" ng-disabled="viewType!='create'"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-sm" ng-click="open($event)" ng-disabled="viewType!='create'"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                            </p>
                        </div>

                        <div class="form-group col-md-6 required">
                            <label class="control-label" style="display: block">{{override}} Commission Calculated</label>
                            <label class="radio-inline">
                                <input type="radio" name="commissionCalculated"  ng-value="'POLICY_FEE'" ng-model="commissionDetails.premiumFee" ng-required="true" ng-disabled="viewType!='create'"/> Premium - Policy Fee
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="commissionCalculated"  ng-value="'INVESTMENT_FEE'" ng-model="commissionDetails.premiumFee" ng-required="true" ng-disabled="viewType!='create'"/>Premium - Policy Fee - Investment Premium
                            </label>
                            <div ng-show="productForm.commissionCalculated.$invalid &amp;&amp; productForm.commissionCalculated.$dirty">
                                <small class="error" ng-show="productForm.endYear.$error.required">
                                    Please select One.
                                </small>
                            </div>
                        </div>
                    </div>
                </ng-form>
                <ng-form name="addCommissionForm" ng-show="viewType=='create' || viewType=='update'">
                    <h4>Add Commissions</h4>
                    <div class="row">
                        <div class="form-group col-md-2 required">
                            <label class="control-label ">Policy year Expressed As</label>
                            <select class="form-control input-sm" name="commissionTermType" ng-model="addCommission.commissionTermType" ng-required="true">
                                <option value="">Please Select</option>
                                <option value="SINGLE">Single</option>
                                <option value="RANGE">Range</option>
                            </select>

                        </div>
                        <div class="form-group col-md-2 required">
                            <label class="control-label ">Policy Year1</label>
                            <input type="number" name="startYear"  class="form-control input-sm" ng-disabled="!addCommission.commissionTermType" id="policyYear1"
                                   ng-model="addCommission.startYear"  ng-required="true" ng-change="yearErrorStatus=null" min="1"/>
                            <div ng-show="addCommissionForm.startYear.$invalid &amp;&amp; addCommissionForm.startYear.$dirty">
                                <small class="error" ng-show="addCommissionForm.startYear.$error.number">
                                    Please enter a valid number.
                                </small>
                                <small class="error" ng-show="addCommissionForm.startYear.$error.min">
                                    Please enter a valid number.
                                </small>
                            </div>
                            <small class="error" ng-show="yearErrorStatus=='FROM_YEAR'">
                                Commission already defined for the specified Policy Year.
                            </small>
                        </div>
                        <div class="form-group col-md-2 required" ng-if="addCommission.commissionTermType=='RANGE'">
                            <label class="control-label">Policy Year2</label>
                            <input type="number" name="endYear" class="form-control input-sm" id="policyYear2" ng-disabled="!addCommission.commissionTermType"
                                   ng-model="addCommission.endYear"  ng-required="true" min="{{addCommission.startYear+1}}" ng-change="yearErrorStatus=null"/>
                            <div ng-show="addCommissionForm.endYear.$invalid &amp;&amp; addCommissionForm.endYear.$dirty">
                                <small class="error" ng-show="addCommissionForm.endYear.$error.min">
                                    Policy Year {{addCommissionForm.endYear.$viewValue}} should be greater than Policy Year {{addCommission.startYear}}.
                                </small>
                                <small class="error" ng-show="addCommissionForm.endYear.$error.number">
                                    Please enter a valid number.
                                </small>
                            </div>
                            <small class="error" ng-show="yearErrorStatus=='TO_YEAR'">
                                Commission already defined for the specified Policy Year.
                            </small>
                        </div>
                        <div class="form-group col-md-3 required" >
                            <label class="control-label">{{override}} Commissions In %age</label>
                            <input type="text" name="commission"  class="form-control input-sm" id="commissions" ng-disabled="!addCommission.commissionTermType"
                                   ng-model="addCommission.commissionPercentage"  ng-required="true"  ng-pattern="numberPatternWithDecimal" placeholder="upto four decimal value"/>
                            <div ng-show="addCommissionForm.commission.$invalid &amp;&amp; addCommissionForm.commission.$dirty">
                                <small class="error" ng-show="addCommissionForm.commission.$error.pattern">
                                    Please enter a valid number.
                                </small>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <button type="button" class="btn btn-default btn-sm " ng-disabled="addCommissionForm.$invalid" ng-click="addCommissionDetails(addCommissionForm)"  style="margin-top:21px;">Add</button>
                        </div>
                    </div>
                </ng-form>
                <table class="table table-striped table-bordered" ng-show="showtable">
                    <thead>
                    <tr>
                        <th>From Year</th>
                        <th>To Year</th>
                        <th>Commissions In %age</th>
                        <th ng-show="viewType=='create' || viewType=='update'">Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="commission in commissionDetails.commissionTermSet" >
                        <td><span>{{ commission.startYear}}</span>
                        </td>
                        <td><span>{{ commission.endYear}}</span>
                        </td>
                        <td><span>{{ commission.commissionPercentage }}</span>
                        </td>
                        <td ng-show="viewType=='create' || viewType=='update'">
                            <button class="btn btn-default btn-sm" ng-click="deleteCurrentRow($index)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-lg-12" style="text-align: center;margin-top:3px;" ng-if="viewType=='create'">
                        <button type="button" class="btn btn-default" style="float:right;" ng-disabled="productForm.$invalid || !commissionDetails.commissionTermSet[0] ||isSaved" ng-click="saveCommission()">Save</button>
                        <button type="button" class="btn btn-default" style="float:left;" ng-click="back()">Cancel</button>
                    </div>
                    <div class="col-lg-12" style="text-align: center;margin-top:3px;" ng-if="viewType=='update'">
                        <button type="button" class="btn btn-default" style="float:right;" ng-disabled="productForm.$invalid || !commissionDetails.commissionTermSet[0] ||isSaved" ng-click="updateCommission()">Update</button>
                        <button type="button" class="btn btn-default" style="float:left;" ng-click="back()">Cancel</button>
                    </div>
                    <div class="col-lg-12" style="text-align: center;margin-top:3px;" ng-if="viewType=='view'">
                        <button type="button" class="btn btn-default" style="float:right;" ng-click="back()">Back</button>
                        <button type="button" class="btn btn-default" style="float:left;" ng-click="back()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>