<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head th:include="fragments/common :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<div th:include="fragments/common :: bodyHeader" th:remove="tag"/>
<script>
    var interval = setInterval(function(){
        if(require.defined("basic")){
            requirejs(['/pla/js/commissions/viewCommissions.js'],function(){
                $(document).ready(function(){
                    $('#commission-table').dataTable({
                        "fnDrawCallback":function(){
                            $( "input[type=radio]" ).on( "click", function(){
                                viewCommission.getTheItemSelected(this)
                            });
                        }
                    });
                });
            });
            clearInterval(interval);
        }
    }, 300);
</script>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-10">
                            <span th:text="#{listOfCommissions}" th:if="${commissionType=='NORMAL'}">List of Commissions</span>
                            <span th:text="#{listOfOverrideCommissions}" th:if="${commissionType=='OVERRIDE'}">List of Over-ride Commissions</span>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-default btn-xs" onclick="viewCommission.openCreatePage()">Create</button>
                            <button type="button" class="btn btn-default btn-xs" id="commission-view" disabled="disabled" onclick="viewCommission.viewCommission()">View</button>
                            <!--<button type="button" class="btn btn-default btn-xs" id="commission-update" disabled="disabled" onclick="viewCommission.updateCommission()">Update</button>-->
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered" id="commission-table" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th th:text="#{product}">
                                Product Name
                            </th>
                            <th th:text="#{designation}">
                                Designation
                            </th>
                            <th th:text="#{fromDate}">
                                From Date
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="commission:${commissionList}">
                            <th><input type="radio" th:value="${commission.commissionId}" name="commissionId"/></th>
                            <td th:text="${commission.planName}"></td>
                            <td th:text="${commission.availableFor.description}"></td>
                            <td th:text="${#dates.format(commission.fromDate, 'dd/MM/yyyy')}"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<footer class="footer" th:include="fragments/common :: footer">
</footer>
</body>
</html>
