<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
        >
<head th:fragment="headTag">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META HTTP-EQUIV="Expires" CONTENT="-1"/>
    <title></title>

    <link href="http://cdn.jsdelivr.net/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.css"
          th:href="@{/webjars/datatables/1.10.5/css/jquery.dataTables.min.css}" rel="stylesheet" />
    <link href="http://cdn.jsdelivr.net/css/sticky-footer-navbar.css"
          th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet" />
    <link href="http://cdn.jsdelivr.net/webjars/ng-tags-input/2.1.1/ng-tags-input.css"
          th:href="@{/css/ng-tags-input.bootstrap.min.css}" rel="stylesheet"/>
    <!--sub-menus in the navbar css-->
    <!--sub-menus in the navbar css-->
    <link href="/static/css/common.css"
          th:href="@{/css/common.css}" rel="stylesheet" />
    <link href="/static/css/cssmenu.css"
          th:href="@{/css/cssmenu.css}" rel="stylesheet"/>
    <link href="http://cdn.jsdelivr.net/bootstrap-datepicker/1.3.1/css/datepicker3.css"
          th:href="@{/webjars/bootstrap-datepicker/1.3.1/css/datepicker3.css}" rel="stylesheet" />
    <link href="http://cdn.jsdelivr.net/webjars/org.webjars/fuelux/3.3.1/css/fuelux.css" th:href="@{/webjars/fuelux/3.3.1/css/fuelux.css}" rel="stylesheet"/>
    <script th:src="@{/js/webjars.js}"></script>
    <script th:src="@{/webjars/requirejs/2.1.15/require.min.js}"></script>
    <script>
        define('basic', ['datatables', 'bootstrap'], function (datatables) {
            $("#cssmenu ul li>a").click(function(event){
                event.preventDefault();
                var windowHref = window.location.href;
                var clickedHref = $(this).prop('href');
                if(windowHref===clickedHref){
                    window.location.reload();
                }else{
                    window.location.href = clickedHref;
                }
            })
        });
        require(['basic']);
        requirejs.config({
            waitSeconds:0,
            paths:{
                'main':'/pla/js/main',
                'fuelux': '/pla/webjars/fuelux/3.3.1/js/fuelux.min',
                'directives': '/pla/js/common/directives',
                'services':'/pla/js/common/services',
                'checklistmodel': '/pla/js/common/checklist-model',
                'commonModule': '/pla/js/common/commonModule',
                'bt_datatable': '/pla/js/common/bootstrap-datatables'

            },
            "shim": {"checklistmodel": ["angular"],
                "directives": {deps: ['angular', 'fuelux', "datatables"]},
                "fuelux":{deps:['jquery','bootstrap']},
                "services":{deps:['angular']}},
            "packages": []
        })
    </script>
</head>
<body>
<div th:fragment="bodyHeader" >
    <style>
        .dropdown-menu>li>a:hover{
            background-color: #C7C7C7!important;
        }
    </style>

    <!-- Fixed navbar -->

    <div id='cssmenu'>
        <ul>
            <li><a th:href="@{/home}"><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span><span>Home</span></a></li>
            <li class="has-sub">
                <a href="javascript:void(0)"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Core</a>
                <ul>
                    <li>
                        <a th:href="@{/core/agent/listagent}">Agents</a>
                    </li>
                    <li><a th:href="@{/core/benefit/listbenefit}">Benefits</a>
                    </li>
                    <li>
                        <a th:href="@{/core/coverages/view}">Coverages</a>
                    </li>
                    <li><a th:href="@{/core/team/view}">Team</a></li>
                    <li><a th:href="@{/core/plan}">Plan</a></li>
                    <li><a th:href="@{/core/proposal}">Proposal</a></li>
                    <li><a th:href="@{/core/branch/view}">Branch Manager</a></li>
                    <li><a th:href="@{/core/region/view}">Regional Manager</a></li>
                    <li><a th:href="@{/core/commission/list/NORMAL}">Commission</a></li>
                    <li><a th:href="@{/core/commission/list/OVERRIDE}">Over-ride Commission</a></li>
                    <li><a th:href="@{/core/premium/listpremium}">Premium</a></li>
                    <li><a th:href="@{/core/mandatorydocument/view}">Mandatory Documents </a></li>
                    <li class='last has-sub'><a href="#">General Information</a>
                        <ul>
                            <li class='last has-sub' ><a href="#">Product Line Information</a>
                            <ul>
                                <li><a th:href="@{/core/productlineinformation/openview}">View</a></li>
                                <li><a th:href="@{/core/productlineinformation/openupdate}">Update</a></li>
                            </ul>
                            </li>
                            <li class='last has-sub'><a href="#">Organizational Level Information</a>
                            <ul>
                                <li><a th:href="@{/core/organizationinformation/openview}">View Organizational Level Information</a></li>
                                <li><a th:href="@{/core/organizationinformation/openupdate}"> Set Organizational Level Information</a></li>
                             </ul></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:void(0)"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Quotation</a>
                <ul>
                    <li><a th:href="@{/quotation/grouplife/listgrouplifequotation}">GroupLife </a></li>
                    <li><a th:href="@{/quotation/individual/createindividuallife/quotation}">Individual Life </a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:void(0)"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Proposal</a>
                <ul>
                    <li><a th:href="@{/core/proposal/listgrouplifeproposal}">GroupLife </a></li>
                    <li><a th:href="@{/individualLife/proposal}">Individual Life </a></li>
                </ul>
            </li>


            <li class='last' style="float:right">
                <a href="#" class="menu-button" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Log off</a></li>
        </ul>
    </div>
</div>
<footer class="footer"  th:fragment="footer">
    <div class="container">
        <p class="text-muted"></p>
    </div>
</footer>

</body>

</html>
