<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="en" >
<head th:include="fragments/common :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<script>
    requirejs(['main'], function () {
        require(['/pla/js/grouplife/policy/printPolicy.js?t=11221'], function () {
            angular.bootstrap(document, ['printPolicyGl']);
        });
    });

</script>

<div class="container ng-cloak" ng-controller="printCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span th:text="#{printPolicy}">View/Save Policy Documents</span>
                    <span style="float:right;font-weight: bold">Policy Number:{{policyNumber}}</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table style="width:100%">
                            <tr>
                                <th style="margin-right: 10px;">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-success btn-xs"
                                                    ng-disabled="!documentsIdList.length > 0" ng-click="printPolicy()">View/Save
                                            </button>
                                            <button type="button" class="btn btn-success btn-xs"
                                                    ng-disabled="documentsIdList.length > 0" ng-model="selectedAll" ng-click="printAllPolicy()">View/Save All
                                            </button>
                                        </div>
                                    </div>
                                </th>
                                <th></th>
                                <th>
                                    <div class="row" ng-if="approvedEndorsement.length >0 ">
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-success btn-xs"
                                                    ng-disabled="!approvedDocumentsIdList.length > 0" ng-click="printApprovedPolicy()">View/Save
                                            </button>
                                            <button type="button" class="btn btn-success btn-xs"
                                                    ng-disabled="approvedDocumentsIdList.length > 0" ng-model="selectedAll" ng-click="printAllApprovedPolicy()">View/Save All
                                            </button>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-md-6">
                                        <div class="row" style="margin-top: 10px">
                                            <div class="col-md-6">
                                                <div class="form-group required">
                                                    <label class="control-label">Documents</label>
                                                    <input type="hidden" name="documents" class="form-control input-lg"
                                                           ng-model="printPol.documents"
                                                           value="{{printPol.documents}}"/>

                                                    <div ng-repeat="allDoc in mulSelect">
                                                        <div class="action-checkbox">
                                                            <input id="{{allDoc.documentCode}}" type="checkbox"
                                                                   value="{{allDoc.documentCode}}"
                                                                   ng-model="allDoc.Selected" ng-checked="printPol.documents.indexOf(allDoc.documentCode) > -1"
                                                                   ng-click="toggleSelection($event,allDoc.documentCode)"/>
                                                            <label for="{{allDoc.documentCode}}"></label>
                                                            {{allDoc.documentName}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="col-md-6">
                                        <div class="row" ng-if="approvedEndorsement.length >0 ">
                                            <div class="col-md-6">
                                                <div class="form-group required">
                                                    <label class="control-label">Endorsement</label>
                                                    <input type="hidden" name="documents" class="form-control input-lg"
                                                           ng-model="printPol.documents"
                                                           value="{{printPol.documents}}"/>

                                                    <div ng-repeat="allDoc in approvedEndorsement">
                                                        <div class="action-checkbox">
                                                            <input id="{{allDoc.endorsementCode}}" type="checkbox"
                                                                   value="{{allDoc.endorsementNumber}}"
                                                                   ng-model="allDoc.Selected" ng-checked="printPol.documents.indexOf(allDoc.endorsementCode) > -1"
                                                                   title="{{allDoc.endorsementType}} {{allDoc.effectiveDate | date : 'dd/MM/yyyy' }}" ng-click="toggleApprovedSelection($event,allDoc.endorsementId)"/>
                                                            <label for="{{allDoc.endorsementCode}}"></label>
                                                            {{allDoc.endorsementUniqueNumber}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .bootstrap-tagsinput {
        width: 100%;
        border: none;
        box-shadow: none;
        margin-bottom: 0px;
        padding: 0px;
    }

    .table > tbody > tr > td {
        padding: 3px;
    !important;
    }

    .table tr td:nth-child(1) {
        width: 7%;
        background-color: rgba(189, 186, 179, 0.32);
        color: #a19ba1;
        font-weight: bold;
    }

    .table tr td:nth-child(2) {
        width: 95%;
    }
</style>


<footer class="footer" th:include="fragments/common :: footer">
</footer>
</body>
</html>
