body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
}

.bs-callout-info {
    border-left-color: #1b809e!important;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.required .control-label:after {
    content: " *";
    color: red;
}
.panel-primary > .panel-heading {
    background-color: #088ccd;
}
.required .control-label:after {
    content: " *";
    color: red;
}
.css-form input.ng-invalid.ng-touched {
    border:1px solid #FA787E;
}

input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

input.ng-valid.ng-dirty {
    background-color: #78FA89;
}
