body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
}

.bs-callout-info {
    border-left-color: #1b809e;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.required .control-label:after {
    content: " *";
    color: red;
}