<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head th:include="fragments/common :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:include="fragments/common :: bodyHeader" th:remove="tag"/>
<script>
   requirejs(['main'],function(){
         require(['/pla/js/mandatoryDocuments/createMandatoryDocument.js'],function(){
            angular.bootstrap(document, ['createMandatoryDocument']);
         });
   });
</script>

<div class="container ng-cloak" ng-Controller="CreateMandatoryDocumentController">
    <div class="row">
        <div class="col-lg-12" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-3"><span th:text="#{createMandatoryDocument}">Create Mandatory Document
                        </span></div>
                    </div>
                </div>
                <div class="panel-body ng-cloak" style="padding-top:5px">
                    <form  novalidate="true" class="css-form">
                        <notification ></notification>
                        <div class="row">
                            <div class="form-group col-md-6 required">
                                <label class="control-label">Defined For</label>
                                <div class="radio" style="margin:0px">
                                    <label style="margin-right:30px"><input type="radio"  name="definedFor" value="plan" ng-model="createMandatoryDocument.definedFor" ng-change="getDefinedOption()"/>Plan</label>
                                    <label><input type="radio" name="definedFor" value="optionalCoverage" ng-model="createMandatoryDocument.definedFor" ng-change="getDefinedOption()"/>Optional Coverage</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6 required" >
                                <label class="control-label">Product Name</label>
                                <select class="form-control input-sm"  ng-model="createMandatoryDocument.planId" ng-options="plan.planId as plan.planName for plan in newPlanList | orderBy:'name'">
                                    <option value="">----Select one----</option>

                                </select>

                            </div>
                            <div class="form-group col-md-6 required"  ng-show="showOptionalCoverage">
                                <label class="control-label">Optional Coverage</label>

                                <select class="form-control input-sm"  ng-required="true" ng-disabled="!createMandatoryDocument.planId" ng-model="createMandatoryDocument.coverageCode" ng-options="optionalCoverage.coverageId as optionalCoverage.coverageCover for optionalCoverage in optionalCoverageList| orderBy:'coverageCover'">
                                    <option value="">----Select one----</option>

                                </select>
                            </div>
                            <div class="form-group col-md-6 required">
                                <label class="control-label">Process</label>
                                <select class="form-control input-sm"  ng-required="true" ng-model="createMandatoryDocument.process" ng-options="process.id as process.name for process in processList | orderBy:'name'">
                                    <option value="">Select Process</option>
                                    <option value="Enrollment">Enrollment</option>
                                    <option value="Re-Instatement">Re-Instatement</option>
                                    <option value="Claim">Claim</option>
                                    <option value="Endorsement">Endorsement</option>
                                    <option value="Surrender">Surrender</option>
                                    <option value="Assignment">Assignment</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 required">
                                <label class="control-label">Mandatory Documents</label>
                                <div>
                                    <button type="button" class="btn btn-default bs-select" ng-model="createMandatoryDocument.documents" data-all-none-buttons="true" data-html="1" data-multiple="1"  ng-options="mandatoryDocument.documentCode as mandatoryDocument.documentName for mandatoryDocument in mandatoryDocList | orderBy:'documentName'"   >
                                        Action <span class="caret"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12" style="text-align: center;margin-top:3px;">
                                <button type="button" class="btn btn-default" style="float:right;" ng-disabled="(!createMandatoryDocument.definedFor || !createMandatoryDocument.mandatoryDocuments || !createMandatoryDocument.process )&amp;&amp;(!createMandatoryDocument.planId)&amp;&amp; (!createMandatoryDocument.optionalCoverageId)" data-placement="top-right" data-container="notification" data-duration="5" bs-alert="alert"  ng-click="saveMandatoryDoc()">Save</button>
                                <a class="btn btn-default" style="float:left;" th:href="@{/core/mandatorydocument/view}">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .form-control {
    font-size: 12px;
    padding:5px;
    }
    .btn{
    font-size:12px;
    }
</style>
<footer class="footer" th:include="fragments/common :: footer">
</footer>
</body>
</html>
