<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head th:include="fragments/common :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<div th:include="fragments/common :: bodyHeader" th:remove="tag"/>
<script>
    requirejs(['/pla/js/mandatoryDocuments/viewMandatoryDocument.js'],function($){
    });

</script>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-6"><span th:text="#{listOfMandatoryDocuments}">List of Mandatory Documents
                        </span></div>
                        <div class="col-lg-6"><a type="button" class="btn btn-default btn-xs" style="float: right;margin-left:5px;"
                                                 th:href="@{/core/mandatorydocument/opencreatepage}">
                            Create
                        </a></div>
                        </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered" id="mandatoryDocument-table" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th th:text="#{planName}">
                                Plan Name
                            </th>
                            <th th:text="#{optionalCoverage}">
                                Optional Coverage
                            </th>
                            <th th:text="#{mandatoryDocuments}">
                                Mandatory Documents
                            </th>
                            <th th:text="#{process}">
                                Process
                            </th>
                            <th th:text="#{actions}">
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="mandatoryDocument : ${listOfMandatoryDocument}">
                            <td th:text="${mandatoryDocument.planId}"></td>
                            <td th:text="${mandatoryDocument.coverageId}"></td>
                            <td style="text-align:center" class="pop" >
                                <button href="#" class="details-box btn btn-primary btn-xs" rel="popover"  data-content="" > Mandatory-Documents
                                    <div class="popover-body" style="display:none;">
                                        <ul  type="square"   th:each="documents : ${mandatoryDocument.documents}"  >   <!-- -->
                                            <li style="text-align:left;font-size:12px;" th:text="'&diams;&nbsp;'+${{documents.documentCode}}+','"   ></li> <!-- -->
                                        </ul>
                                    </div>
                                </button>
                            </td>
                            <td th:text="${mandatoryDocument.process}"></td>    <!--th:href="'/pla/core/team/redirecttoupdatePage?documentId='+${mandatoryDocument.documentId}+''" -->
                            <td><a class="btn btn-default btn-xs" th:href="'/pla/core/team/redirecttoupdatepage?documentId='+${mandatoryDocument.documentId}+''">Update</a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <ul class="pagination" id="logs-pagination-default"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer" th:include="fragments/common :: footer">
</footer>
</body>
</html>
