<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head th:include="fragments/common :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body class="fuelux ng-cloak" style="overflow-x: hidden;">

<div th:include="fragments/common :: bodyHeader" th:remove="tag"/>
<script>
    requirejs.config({
        paths: {
            angucomplete: 'http://ghiden.github.io/angucomplete-alt/js/libs/angucomplete-alt',
            ilquotation: '/pla/js/quotation/individualLife/quotation.js?t=1221'
        },
        "shim": {"ilquotation": ["angular", 'angucomplete']}
    });
    require(['ng-tags-input', 'checklistmodel', 'angular-ui-router'], function (a, b) {
    });
    requirejs(['main'], function () {
        require(['ilquotation', 'jquery'], function (app, $) {
            angular.bootstrap(document, ['individualQuotation']);
        });
    });

</script>
<div class="container-fluid" ng-controller="QuotationController" id="quotationForm">
    <nth-alert></nth-alert>
    <form novalidate="true" name="quotationForm">

        <div class="wizard fuelux-wizard" id="planSetUpWizard" selected-item="selectedItem">
            <div class="alert alert-danger" role="alert" ng-if="serverError">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{serverErrMsg}}
            </div>
            <ul class="steps" style="margin-left: 0">
                <li data-step="1"><span class="badge badge-info">1</span>Basic Details<span class="chevron"></span></li>
                <li data-step="2"><span class="badge">2</span>Proposed Assured Details<span class="chevron"></span></li>
                <li data-step="3"><span class="badge">3</span>Proposer Details<span class="chevron"></span></li>
                <li data-step="4"><span class="badge">4</span>Plan Details<span class="chevron"></span></li>
                <li data-step="5"><span class="badge">5</span>Premium Information<span class="chevron"></span></li>
            </ul>

            <div class="actions">
            <span style="font-weight: bolder;margin-right: 15px;color: #999">Quotation ID :<span
                    style="font-size: 13px;color: #3a87ad;">{{quotation.quotationNumber}}</span></span>
                <button type="button" class="btn btn-default btn-prev">
                    <span class="glyphicon glyphicon-arrow-left"></span>Prev
                </button>

                <button type="button" class="btn btn-default btn-next" ng-disabled="!stepsSaved[selectedItem]"
                        data-last="Complete" id="wizardStep">Next<span
                        class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
            <div class="step-content">
                <div class="step-pane active" data-step="1">
                    <ng-form id="step1" name="step1" novalidate="true">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group required">
                                    <label class="control-label">Agent ID</label>
                                    <div data-angucomplete-alt="" id="ex5" placeholder="Search Agents" pause="500"
                                         selected-object="selectedAgent" disable-input="uneditable"
                                         remote-url="/pla/core/agent/search/" field-required="true"
                                         initial-value="selectedAgent.title"
                                         remote-url-data-field="" title-field="agent_id,first_name,last_name"
                                         minlength="3"
                                         input-class="form-control form-control-small"
                                         match-class="highlight">
                                    </div>
                                    <div class="error" ng-messages="step1.title.$error" ng-if="step1.title.$dirty">
                                        <small ng-message="autocomplete-required">Please enter title.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group required">
                                    <label class="control-label">Plan</label>
                                    <div data-angucomplete-alt="" placeholder="Search Plan" pause="500"
                                         selected-object="selectedPlan" disable-input="uneditable"
                                         remote-url="/pla/core/agent/searchplan"
                                         remote-url-request-formatter="remoteUrlRequestFn" field-required="true"
                                         initial-value="selectedPlan.title"
                                         remote-url-data-field="" title-field="plan_name" minlength="2"
                                         input-class="form-control form-control-small"
                                         match-class="highlight">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bs-callout  bs-callout-info" style="margin-bottom: 7px">
                            <div class="row">
                                <p><Strong>Proposed Assured Details</Strong></p>
                                <div class="col-lg-6">
                                    <div class="form-group required">
                                        <label class="control-label">Title</label>
                                        <select class="form-control input-sm" name="title" ng-required="true"
                                                ng-model="proposedAssured.title" ng-disabled="uneditable"
                                                ng-options="title as title for title in titleList">
                                        </select>
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label">Surname</label>
                                        <input type="text" class="form-control input-sm" name="surname" ng-required="true"
                                               ng-model="proposedAssured.surname" ng-maxlength="20"
                                               ng-pattern="onlyText" ng-disabled="uneditable"/>

                                        <div class="error" ng-messages="step1.surname.$error" ng-if="step1.surname.$dirty">
                                            <small ng-message="required">Please enter Surname.</small>
                                            <small ng-message="maxlength">Only 20 characters are allowed.</small>
                                            <small ng-message="pattern">Only alphabets are allowed.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group required">
                                        <label class="control-label">First Name</label>
                                        <input type="text" class="form-control input-sm" ng-pattern="onlyText"
                                               name="firstName" ng-required="true"
                                               ng-model="proposedAssured.firstName" ng-maxlength="20"
                                               ng-disabled="uneditable"/>
                                        <div class="error" ng-messages="step1.firstName.$error"
                                             ng-if="step1.firstName.$dirty">
                                            <small ng-message="required">Please enter FirstName.</small>
                                            <small ng-message="maxlength">Only 20 characters are allowed.</small>
                                            <small ng-message="pattern">Only alphabets are allowed.</small>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label">NRC</label>
                                        <input type="text" class="form-control input-sm" name="nrcNumber" ng-required="true"
                                               ng-disabled="uneditable"
                                               ng-model="proposedAssured.nrcNumber"
                                               ng-pattern="/^[0-9]{6}\/[0-9]{2}\/[0-9]{1}$/"/>

                                        <div class="error" ng-messages="step1.nrcNumber.$error"
                                             ng-if="step1.nrcNumber.$dirty">
                                            <small ng-message="required">Please enter NRC.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-default btn-sm"
                                        onclick="window.location='/pla/individuallife/quotation/searchForm'">Cancel
                                </button>
                            </div>
                            <div class="col-sm-6" style="float:right">
                                <button type="button" class="btn btn-default btn-sm" style="float: right"
                                        ng-click="saveStep1()" ng-hide="uneditable" ng-disabled="step1.$invalid">Save
                                </button>
                            </div>
                        </div>
                    </ng-form>
                </div>
                <div class="step-pane" data-step="2">
                    <ng-form name="step2" novalidate="true">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Agent ID</label>
                                    <input type="text" class="form-control input-sm" name="agentId" readonly="true"
                                           ng-model="agent.agentId"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Title</label>
                                    <input type="text" class="form-control input-sm" name="title" readonly="true"
                                           ng-model="proposedAssured.title"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Surname</label>
                                    <input type="text" class="form-control input-sm" name="surname" readonly="true"
                                           ng-model="proposedAssured.surname"/>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label">Date of Birth</label>
                                    <div class='input-group date'>
                                        <input type="text" class="form-control input-sm"
                                               datepicker-popup="" view-enabled=""
                                               ng-required="true"
                                               is-open="launchdob1"
                                               max-date="todayDate"
                                               ng-model="proposedAssured.dateOfBirth" name="dob"/>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm" view-enabled=""
                                            ng-click="launchProposedAssuredDOB($event)">
                                        <i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                    </div>
                                    <div class="error" ng-messages="step2.dob.$error" ng-if="step2.dob.$dirty">
                                        <small ng-message="required">Please enter Date of Birth.</small>
                                        <small ng-message="date">Invalid Date.</small>

                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label">Sex</label>
                                    <select class="form-control input-sm" view-enabled=""
                                            ng-model="proposedAssured.gender"
                                            ng-required="true">
                                        <option value="MALE">Male</option>
                                        <option value="FEMALE">Female</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="email" class="form-control input-sm" view-enabled="" name="email"
                                           ng-model="proposedAssured.emailAddress"/>

                                    <div class="error" ng-messages="step2.email.$error" ng-if="step2.email.$dirty">
                                        <small ng-message="email">Invalid Email.</small>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label style="text-align: left">Is Proposed Assured the Proposer?</label>
                                    <label style="padding-right: 5px">
                                        <input type="radio" name="sameProposer" ng-required="true" view-enabled=""
                                               ng-value="true"
                                               ng-model="proposerSameAsProposedAssured"
                                               ng-disabled="proposer.surname!=undefined"/>Yes</label>
                                    <label>
                                        <input type="radio" name="sameProposer" ng-required="true" view-enabled=""
                                                  ng-model="proposerSameAsProposedAssured" ng-value="false"/>No</label>
                                    <div class="error" ng-messages="step2.sameProposer.$error"
                                         ng-if="step2.$dirty">
                                        <small ng-message="required">Please indicate whether Proposed Assured is the
                                            Proposer.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group required">
                                    <label class="control-label">First Name</label>
                                    <input type="text" class="form-control input-sm" name="firstName" readonly="true"
                                           ng-model="proposedAssured.firstName"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">NRC</label>
                                    <input type="text" class="form-control input-sm" name="nrcNumber" readonly="true"
                                           placeholder="xxxxxx/xx/x"
                                           ng-model="proposedAssured.nrcNumber"/>

                                    <div class="error" ng-messages="step2.nrcNumber.$error" ng-if="step2.$dirty">
                                        <small ng-message="required">Please enter NRC.</small>
                                    </div>
                                    <div class="error" ng-messages="step2.nrcNumber.$error" ng-if="step2.$dirty">
                                        <small ng-message="pattern">Please enter NRC.</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Age Next Birthday</label>
                                    <input type="text" class="form-control input-sm" name="age"
                                           ng-model="proposedAssuredAge" readonly="readonly"
                                           validate-dob=""/>

                                    <div class="error" ng-messages="step2.age.$error" ng-if="step2.$dirty">
                                        <small ng-message="invalidMinAge">Minimum Entry Age For Proposed Assured is
                                            {{plan.planDetail.minEntryAge}} years.
                                        </small>
                                        <small ng-message="invalidMaxAge">Maximum Entry Age For Proposed Assured is
                                            {{plan.planDetail.maxEntryAge}} Years.
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label">Mobile Number</label>
                                    <input type="text" ng-maxlength="10" ng-pattern="onlyNumbers" view-enabled=""
                                           class="form-control input-sm" name="mobile" ng-required="true"
                                           ng-model="proposedAssured.mobileNumber"/>

                                    <div class="error" ng-messages="step2.mobile.$error" ng-if="step2.mobile.$dirty">
                                        <small ng-message="required">Please enter Mobile Number.</small>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label">Occupation</label>
                                    <select class="form-control input-sm" name="occupation" ng-required="true"
                                            ng-model="proposedAssured.occupation" view-enabled=""
                                            ng-options="occupation.description as occupation.description for occupation in occupations"></select>

                                    <div class="error" ng-messages="step2.occupation.$error"
                                         ng-if="step2.occupation.$dirty">
                                        <small ng-message="required">Please enter Occupation</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-default btn-sm"
                                        onclick="window.location='/pla/individuallife/quotation/searchForm'">Cancel
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <input type="submit" class="btn btn-default btn-sm" style="float: right;clear:both"
                                       ng-click="saveStep2(step2)"
                                       ng-disabled="isSaveDisabled(step2)" value="Save"/>
                            </div>
                        </div>
                    </ng-form>
                </div>
                <div class="step-pane" data-step="3">
                    <ng-form name="step3" novalidate="">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group required">
                                    <label>Title</label>
                                    <select class="form-control input-sm" name="ptitle"
                                            ng-model="proposer.title" view-enabled=""
                                            ng-disabled="proposerSameAsProposedAssured" ng-required="true"
                                            ng-options="title as title for title in titleList">
                                    </select>

                                    <div class="error" ng-messages="step3.ptitle.$error" ng-if="step3.ptitle.$dirty">
                                        <small ng-message="required">Please enter Title.</small>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label">Surname</label>
                                    <input type="text" class="form-control input-sm" view-enabled=""
                                           name="surname" ng-required="true"
                                           ng-model="proposer.surname" ng-pattern="onlyText" ng-maxlength="20"
                                           ng-disabled="proposerSameAsProposedAssured"/>
                                    <div class="error" ng-messages="step3.surname.$error" ng-if="step3.$dirty">
                                        <small ng-message="required">Please enter Surname.</small>
                                        <small ng-message="maxlength">Only 20 characters are allowed.</small>
                                        <small ng-message="pattern">Only alphabets are allowed.</small>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label">Date of Birth</label>
                                    <div class='input-group date'>
                                        <input type="text" class="form-control input-sm"
                                               datepicker-popup=""
                                               ng-disabled="proposerSameAsProposedAssured"
                                               ng-required="true"
                                               is-open="launchdob2" view-enabled=""
                                               validate-dob=""
                                               max-date="todayDate"
                                               ng-model="proposer.dateOfBirth" name="dob2"/>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm" view-enabled=""
                                            ng-click="launchProposerDOB($event)">
                                        <i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                    </div>
                                    <div class="error" ng-messages="step3.dob2.$error" ng-if="step3.dob2.$dirty">
                                        <small ng-message="required">Please enter Date of Birth.</small>
                                        <small ng-message="invalidMinAge">Minimum Entry Age For Proposer is 18 years.
                                        </small>
                                        <small ng-message="invalidMaxAge">Maximum Entry Age For Proposer is 60 Years.
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label">Sex</label>
                                    <select class="form-control input-sm" name="gender" ng-model="proposer.gender"
                                            ng-required="true" ng-disabled="proposerSameAsProposedAssured"
                                            view-enabled="">
                                        <option value="MALE">Male</option>
                                        <option value="FEMALE">Female</option>
                                    </select>

                                    <div class="error" ng-messages="step3.gender.$error" ng-if="step3.$dirty">
                                        <small ng-message="required">Please enter Sex.</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="email" class="form-control input-sm" name="email"
                                           ng-disabled="proposerSameAsProposedAssured" view-enabled=""
                                           ng-model="proposer.emailAddress"/>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group required">
                                    <label class="control-label">First Name</label>
                                    <input type="text" class="form-control input-sm" name="pfirstName"
                                           ng-disabled="proposerSameAsProposedAssured"
                                           ng-pattern="onlyText" ng-maxlength="20" view-enabled=""
                                           ng-model="proposer.firstName" ng-required="true"/>

                                    <div class="error" ng-messages="step3.pfirstName.$error"
                                         ng-if="step3.pfirstName.$dirty">
                                        <small ng-message="required">Please enter FirstName.</small>
                                        <small ng-message="maxlength">Only 20 characters are allowed.</small>
                                        <small ng-message="pattern">Only alphabets are allowed.</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">NRC</label>
                                    <input type="text" class="form-control input-sm" name="nrcNumber"
                                           ng-disabled="proposerSameAsProposedAssured" view-enabled=""
                                           ng-pattern="/^[0-9]{6}\/[0-9]{2}\/[0-9]{1}$/"
                                           ng-model="proposer.nrcNumber" ng-required="true"/>

                                    <div class="error" ng-messages="step3.nrcNumber.$error" ng-if="step3.$dirty">
                                        <small ng-message="required">Please enter NRC.</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Age Next Birthday</label>
                                    <input type="text" class="form-control input-sm" name="age" ng-model="proposerAge"
                                           readonly="true"/>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label">Mobile Number</label>
                                    <input type="text" ng-pattern="onlyNumbers" ng-maxlength="10"
                                           ng-disabled="proposerSameAsProposedAssured"
                                           view-enabled=""
                                           class="form-control input-sm" ng-required="true"
                                           ng-model="proposer.mobileNumber"
                                           name="mobile"/>

                                    <div class="error" ng-messages="step3.mobile.$error" ng-if="step3.$dirty">
                                        <small ng-message="required">Please enter Mobile Number.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-default btn-sm"
                                        onclick="window.location='/pla/individuallife/quotation/searchForm'">Cancel
                                </button>
                            </div>
                            <div class="col-sm-6 action-panel">
                                <button type="button" class="btn btn-default btn-sm" style="float: right;clear:both"
                                        ng-click="saveStep3(step3)"
                                        ng-disabled="isSaveDisabled(step3) &amp;&amp; !proposerSameAsProposedAssured">Save
                                </button>
                            </div>
                        </div>
                    </ng-form>
                </div>
                <div class="step-pane" data-step="4">
                    <ng-form name="step4" novalidate="">
                        <div class="row"> {{step4.$error}}
                            <div class="col-sm-6">
                                <div class="form-group required">
                                    <label>Plan</label>
                                    <div data-angucomplete-alt="" id="plan" placeholder="Search Plan" pause="500"
                                         selected-object="selectedPlan" disable-input="uneditable"
                                         remote-url="/pla/core/agent/searchplan"
                                         remote-url-request-formatter="remoteUrlRequestFn" field-required="true"
                                         initial-value="selectedPlan.title"
                                         remote-url-data-field="" title-field="plan_name" minlength="2"
                                         input-class="form-control form-control-small"
                                         match-class="highlight">
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label">Policy Term</label>
                                    <policyterm term-type="plan.policyTermType"
                                                proposedAssured="proposedAssured"></policyterm>
                                </div>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Optional Cover</th>
                                        <th>Optional Cover Sum Assured *</th>
                                        <th>Optional Cover Term *</th>
                                        <th>Premium Waiver</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="rider in planDetailDto.riderDetails">
                                        <td>{{rider.coverageName}}</td>
                                        <td>
                                            <coverage-sumassured></coverage-sumassured>
                                        </td>
                                        <td>
                                            <coverage-term></coverage-term>
                                        </td>
                                        <td>
                                            <input type="number" ng-model="rider.waiverOfPremium"
                                                   class="form-control input-sm" view-enabled=""/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group required">
                                    <label class="control-label">Sum Assured</label>
                                    <sumassured ng-model="planDetail.sumAssured"></sumassured>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label">Premium Payment Term</label>
                                    <premiumterm plan="plan" proposedAssured="proposedAssured"></premiumterm>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-default btn-sm"
                                        onclick="window.location='/pla/individuallife/quotation/searchForm'">Cancel
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-default btn-sm" style="float: right"
                                        ng-click="saveStep4(step4)" ng-disabled="isSaveDisabled(step4)">Save
                                </button>
                            </div>
                        </div>
                    </ng-form>
                </div>
                <div class="step-pane" data-step="5">
                    <ng-form name="step5" novalidate="">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>{{premiumData.planName}}</label>
                                    <input type="text" class="form-control input-sm" readonly="true"
                                           ng-model="premiumData.planAnnualPremium"/>
                                </div>
                                <div class="form-group" ng-repeat="rider in premiumData.riderPremiumDtos">
                                    <label>{{rider.coverageName.coverageName}}</label>
                                    <input type="text" class="form-control input-sm" readonly="true"
                                           ng-model="rider.annualPremium"/>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Total Annual Premium</label>
                                    <input type="text" class="form-control input-sm" readonly="true"
                                           ng-model="premiumData.annualPremium"/>
                                </div>
                                <div class="form-group">
                                    <label>Semi-Annual Premium</label>
                                    <input type="text" class="form-control input-sm" readonly="true"
                                           ng-model="premiumData.semiannualPremium"/>
                                </div>
                                <div class="form-group">
                                    <label>Quarterly Premium</label>
                                    <input type="text" class="form-control input-sm" readonly="true"
                                           ng-model="premiumData.quarterlyPremium"/>
                                </div>
                                <div class="form-group">
                                    <label>Monthly Premium</label>
                                    <input type="text" class="form-control input-sm" readonly="true"
                                           ng-model="premiumData.monthlyPremium"/>
                                </div>
                                <div class="form-group">
                                    <label>Total Premium</label>
                                    <input type="text" class="form-control input-sm" readonly="true"
                                           ng-model="premiumData.totalPremium"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-default btn-sm"
                                        onclick="window.location='/pla/individuallife/quotation/searchForm'">Cancel
                                </button>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>

        </div>
    </form>


    <form id="quotationSearchForm" action="/pla/individuallife/quotation" method="POST">
        <input type="hidden" name="quotationId" ng-value="quotationId"/>
    </form>

</div>
<style>
    .bs-callout-info {
        border-left-color: #1b809e !important;
    }

    .bs-callout {
        padding: 20px;
        border: 1px solid #E4E2E2;
        border-left-width: 5px;
        border-radius: 3px;
    }

    .fuelux .checkbox-custom:before {
        font-family: "Glyphicons Halflings" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        line-height: 1;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        border: 1px solid #adadad;
        border-radius: 4px;
        color: #fff;
        content: " ";
        font-size: 12px;
        height: 18px;
        left: 0;
        padding: 1px 0 0 1px;
        position: absolute;
        top: 3px;
        width: 18px;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .form-group > label {
        margin-bottom: 0px !important;
    }

    #createAgentForm input.ng-invalid.ng-touched {
        border-color: #FA787E;
    }

    #createAgentForm button.ng-invalid.ng-touched {
        border-color: #FA787E;
    }

    #createAgentForm select.ng-invalid.ng-touched {
        border-color: #FA787E;
    }

    #createAgentForm.ng-submitted input.ng-invalid {
        border-color: #FA787E;
    }

    #createAgentForm.ng-submitted button.ng-invalid {
        border-color: #FA787E;
    }

    #createAgentForm.ng-submitted select.ng-invalid {
        border-color: #FA787E;
    }

    .red-text-color {
        color: #ce4844 !important;
    }

    .background-red {
        background-color: #ce4844 !important;
    }
</style>

<script id="plan-sumassured.tpl" type="text/ng-template">
    <div ng-switch="plan.sumAssured.sumAssuredType">
        <div ng-switch-when="SPECIFIED_VALUES">
            <select class="form-control input-sm" ng-model="planDetailDto.sumAssured" name="sumAssured"
                    ng-options="value.text as value.text for value in plan.sumAssured.sumAssuredValue"
                    ng-required="true"></select>
        </div>
        <div ng-switch-when="RANGE">
            <input type="number" view-enabled="" class="form-control input-sm" min="{{plan.sumAssured.minSumInsured}}"
                   name="sumAssured"
                   max="{{plan.sumAssured.maxSumInsured}}" ng-model="planDetailDto.sumAssured" ng-required="true"/>
            <div class="error" ng-messages="step4.sumAssured.$error">
                <small ng-message="min">Sum Assured cannot be less then {{plan.sumAssured.minSumInsured}}.</small>
                <small ng-message="max">Sum Assured cannot be more than {{plan.sumAssured.maxSumInsured}}.</small>
                <small ng-message="invalidMultiple">Invalid Multiples.</small>
            </div>
            <div class="error" ng-messages="step4.invalidMultiple.$error" ng-if="step4.$dirty">
                <small ng-message="invalidMultiple">Invalid Multiplier
                </small>
            </div>
        </div>
        <div ng-switch-when="INCOME_MULTIPLIER">
            <input type="number" view-enabled="" class="form-control input-sm" min="0"
                   max="{{plan.sumAssured.incomeMultiplier}}"
                   name="sumAssured"
                   ng-model="planDetailDto.sumAssured" ng-required="true"/>

            <div class="error" ng-messages="step4.sumAssured.$error" ng-if="step4.$dirty">
                <small ng-message="max">Sum Assured cannot be greater than {{plan.sumAssured.incomeMultiplier}}.
                </small>
            </div>
        </div>
    </div>
</script>
<script id="coverage-sumassured.tpl" type="text/ng-template">
    <div ng-switch="getSumAssuredType(rider)">
        <div ng-switch-when="SPECIFIED_VALUES">
            <select view-enabled="" class="form-control input-sm" ng-model="rider.sumAssured" name="sumAssured"
                    ng-options="value.text as value.text for value in coverage.coverageSumAssured.sumAssuredValue"
                    ng-required="true"></select>
        </div>
        <div ng-switch-when="RANGE">
            <input type="number" view-enabled="" class="form-control input-sm"
                   min="{{coverage.sumAssured.minSumInsured}}"
                   name="sumAssured"
                   max="{{coverage.sumAssured.maxSumInsured}}" ng-model="rider.sumAssured" ng-required="true"/>

            <div class="error" ng-messages="step4.sumAssured.$error">
                <small ng-message="min">Sum Assured cannot be less then {{coverage.sumAssured.minSumInsured}}.</small>
                <small ng-message="max">Sum Assured cannot be more than {{coverage.sumAssured.maxSumInsured}}.</small>
            </div>
        </div>
        <div ng-switch-when="DERIVED">
            <input type="number" view-enabled="" class="form-control input-sm" min="0"
                   max="{{coverage.sumAssured.maxLimit}}"
                   name="sumAssured"
                   ng-model="rider.sumAssured" ng-required="true"/>

            <div class="error" ng-messages="step4.sumAssured.$error" ng-if="step1.$dirty">
                <small ng-message="max">Sum Assured cannot be greater than {{coverage.sumAssured.incomeMultiplier}}.
                </small>
            </div>
        </div>
        <div ng-switch-when="INCOME_MULTIPLIER">
            <input type="number" view-enabled="" class="form-control input-sm" min="0"
                   max="{{coverage.sumAssured.incomeMultiplier}}"
                   name="sumAssured"
                   ng-model="rider.sumAssured" ng-required="true"/>

            <div class="error" ng-messages="step4.sumAssured.$error" ng-if="step1.$dirty">
                <small ng-message="max">Sum Assured cannot be greater than {{coverage.sumAssured.incomeMultiplier}}.
                </small>
            </div>
        </div>
    </div>
</script>
<script id="plan-policyterm.tpl" type="text/ng-template">
    <div ng-switch="plan.policyTermType">
        <div ng-switch-when="SPECIFIED_VALUES">
            <select class="form-control input-sm" view-enabled="" ng-model="planDetailDto.policyTerm" name="policyTerm"
                    ng-options="value.text as value.text for value in policyTerms()" ng-required="true"></select>
        </div>
        <div ng-switch-when="MATURITY_AGE_DEPENDENT">
            <select class="form-control input-sm" view-enabled="" ng-model="planDetailDto.policyTerm" name="policyTerm"
                    ng-options="value.text as value.text for value in policyTerms()" ng-required="true"></select>
        </div>
    </div>
</script>
<script id="plan-coverage.tpl" type="text/ng-template">
    <div ng-switch="getCoverageTermType(rider)">
        <div ng-switch-when="SPECIFIED_VALUES">
            <select class="form-control input-sm" view-enabled="" ng-model="rider.coverTerm" name="policyTerm"
                    ng-options="value.text as value.text for value in policyTerms" ng-required="true"></select>
        </div>
        <div ng-switch-when="AGE_DEPENDENT">
            <select class="form-control input-sm" view-enabled="" ng-model="rider.coverTerm" name="policyTerm"
                    ng-options="value.text as value.text for value in policyTerms" ng-required="true"></select>
        </div>
    </div>
</script>
<script id="plan-premiumterm.tpl" type="text/ng-template">
    <div ng-switch="plan.premiumTermType">
        <div ng-switch-when="SPECIFIED_VALUES">
            <select view-enabled="" class="form-control input-sm" ng-model="planDetailDto.premiumPaymentTerm"
                    name="premiumTerm"
                    ng-options="value.text as value.text for value in premiumTerms()" ng-required="true"></select>
        </div>
        <div ng-switch-when="SPECIFIED_AGES">
            <select view-enabled="" class="form-control input-sm" ng-model="planDetailDto.premiumPaymentTerm"
                    name="premiumTerm"
                    ng-options="value.text as value.text for value in premiumTerms()" ng-required="true"></select>
        </div>
        <div ng-switch-when="REGULAR">
            <input type="number" class="form-control input-sm" readonly="true"
                   ng-model="planDetailDto.premiumPaymentTerm"
                   name="premiumTerm"/>
        </div>
        <div ng-switch-when="SINGLE">
            <input view-enabled="" type="number" class="form-control input-sm" ng-required="true"
                   ng-model="planDetailDto.premiumPaymentTerm"
                   name="premiumTerm"/>
        </div>
    </div>
</script>
<footer class="footer" th:include="fragments/common :: footer"></footer>
</body>
</html>
