<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="en" >
<head th:include="fragments/common :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
<body>
<div th:include="fragments/common :: bodyHeader" th:remove="tag"/>
<script>
    require(['moment'], function(moment) {
    });
    requirejs(['main'],function(){
    require(['/pla/js/team/assignTeam.js'],function(){
    angular.bootstrap(document, ['assignTeam']);
    });
    });
</script>
<div class="container ng-cloak" ng-Controller="AssignTeamController">
    <div class="row">
        <div class="col-lg-8" style="left:230px;position:absolute;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-2"><span th:text="#{assignTeam}">Assign Team
                        </span></div>
                    </div>
                </div>
                <div class="panel-body ng-cloak">
                    <form  novalidate="true" class="css-form">
                        <notification ></notification>
                        <div class="row">
                            <div class="form-group col-md-6" style="margin: auto;margin-top:10px;">
                                <label class="control-label">Team Code</label>
                                <div class="controls readonly" ng-model="assignTeam.teamCode"  >{{assignTeam.teamCode}}</div>
                            </div>
                            <div class="form-group col-md-6" style="margin: auto;margin-top:10px;">
                                <label class="control-label">Team Name</label>
                                <div class="controls readonly" ng-model="assignTeam.teamName" >{{assignTeam.teamName}}</div>

                            </div>
                            <div class="form-group col-md-6" style="margin: auto;margin-top:10px;">
                                <label class="control-label">Region Name</label>
                                <div class="controls readonly" ng-model="assignTeam.regionCode" >{{assignTeam.regionName}}</div>
                            </div>
                            <div class="form-group col-md-6" style="margin: auto;margin-top:10px;">
                                <label class="control-label">Branch Name</label>
                                <div class="controls readonly" ng-model="assignTeam.branchName">{{assignTeam.branchName}}</div>
                            </div>
                            <div class="form-group col-md-6" style="margin: auto;margin-top:10px;">
                                <label class="control-label">Current TeamLeader</label>
                                <div class="controls readonly"  ng-model="assignTeam.currentTeamLeaderName" >{{assignTeam.firstName}}  {{assignTeam.lastName}}</div>
                            </div>
                            <div class="form-group col-md-6" style="margin: auto;margin-top:10px;">
                                <label class="control-label">Current TeamLeader From</label>
                                <div class="controls readonly" >{{assignTeam.fromDate}}</div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 required" style="margin: auto;margin-top:10px;">
                                <label class="control-label">Team Leader</label>
                                <select class="form-control input-sm"  ng-model="assignTeam.employeeId" ng-change="getNewTeamLeader(assignTeam.employeeId)" ng-options="teamLeader.employeeId as teamLeader.firstName + ' ' + teamLeader.lastName for teamLeader in teamLeaders | orderBy:'firstName'">
                                    <option value="">----Select TeamLeader----</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 required" style="margin: auto;margin-top:10px;" >
                                <label class="control-label">Team Leader From</label>
                                <p class="input-group">
                                    <input type="text" class="form-control input-sm" ng-click="open($event)" min-date="selectedDate" datepicker-popup="dd/MM/yyyy" ng-model="assignTeam.teamLeaderFrom"  datepicker-options="datePickerSettings.dateOptions" is-open="datePickerSettings.isOpened"  close-text="Close" show-button-bar="false" />
                                     <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                     </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-12" style="margin: auto;margin-top:10px;" >
                                <button type="submit" class="btn btn-default" style="float:right;" ng-disabled="(!assignTeam.employeeId || !assignTeam.teamLeaderFrom)"  data-placement="top-right" data-container="notification" data-duration="5" bs-alert="alert" ng-click="submitAssignTeam()">Save</button>
                                <a class="btn btn-default" style="float:left;" th:href="@{/core/team/view}">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .form-control {
    font-size: 12px;
    padding:5px;
    }

</style>
<footer class="footer" th:include="fragments/common :: footer">
</footer>
</body>
</html>
