<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:include="fragments/common :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="padding-top: 70px;" >
<div th:include="fragments/common :: bodyHeader" th:remove="tag"/>
<script>
    require(['moment'], function(moment) {
    // alert(moment().format('dddd, MMMM Do YYYY, h:mm:ss a'));
    });
    requirejs(['main','angular-file-upload'],function(){
         require(['/pla/js/premium/createPremium.js'],function(){
             angular.bootstrap(document, ['createPremium']);
         });
    });
</script>

<div class="container ng-cloak" style="padding-top: 0px!important;" ng-Controller="CreatePremiumController">
    <div class="row">
        <div class="col-lg-12" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-3"><span th:text="#{createPremium}">Create Premium
                        </span></div>
                    </div>
                </div>
                <div class="panel-body ng-cloak" style="padding-top:5px">
                    <form  novalidate="true" class="css-form">
                        <notification ></notification>
                        <div class="row">
                            <div class="form-group col-md-6 required">
                                <label class="control-label">Defined For</label>
                                  <div class="radio" style="margin:0px">
                                    <label style="margin-right:30px"><input type="radio"  name="definedFor" value="plan" ng-model="createPremium.definedFor" ng-change="getDefinedOption()"/>Plan</label>
                                    <label><input type="radio" name="definedFor" value="optionalCoverage" ng-model="createPremium.definedFor" ng-change="getDefinedOption()"/>Optional Coverage</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6 required" ng-show="showProduct">
                                <label class="control-label">Plan Name</label>

                                <select class="form-control input-sm"  ng-required="true" ng-model="createPremium.planId">
                                    <option value="">Select Plan Name</option>
                                    <option value="Product A">Product A</option>
                                    <option value="Product B">Product B</option>
                                    <option value="Product C">Product C</option>
                                    <option value="Product D">Product D</option>
                                </select>

                            </div>
                            <div class="form-group col-md-6 required" ng-show="showOptionalCoverage">
                                <label class="control-label">Optional Coverage</label>
                                <select class="form-control input-sm" id="optionalCoverage" ng-required="true" ng-model="createPremium.coverageId" ng-disabled="!createPremium.planId">
                                    <option value="">Select Optional Coverage</option>
                                    <option value="OptionalCoverage A">OptionalCoverage A</option>
                                    <option value="OptionalCoverage B">OptionalCoverage B</option>
                                    <option value="OptionalCoverage C">OptionalCoverage C</option>
                                    <option value="OptionalCoverage D">OptionalCoverage D</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 required">
                                <label class="control-label">Premium Expressed As</label>
                                <div class="radio" style="margin:0px">
                                    <label style="margin-right:30px"><input type="radio"  name="premiumExpressedAs" value="Certain Specified Values" ng-model="createPremium.premiumExpressedAs"/>Certain Specified Values</label>
                                    <label><input type="radio" name="premiumExpressedAs" value="Rate (per thousand" ng-model="createPremium.premiumExpressedAs"/>Rate (per thousand)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">


                            <div class="form-group col-md-6 required">
                                <label class="control-label">Rate Expressed As</label>
                                <div class="radio" style="margin:0px">
                                    <label style="margin-right:30px"><input type="radio"  name="rateExpressedAs" value="Per Month" ng-model="createPremium.rateExpressedAs"/>Per Month</label>
                                    <label><input type="radio" name="rateExpressedAs" value="Per Year" ng-model="createPremium.rateExpressedAs"/>Per Year</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6 required">
                                <label class="control-label">From Date</label>
                                <p class="input-group">
                                    <input type="text" class="form-control input-sm" ng-click="open($event)" min-date="selectedDate" ng-required="true" datepicker-popup="dd/MM/yyyy" ng-model="createPremium.fromDate"  datepicker-options="datePickerSettings.dateOptions" is-open="datePickerSettings.isOpened"  close-text="Close" show-button-bar="false" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                </p>
                            </div>


                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Download Template</label>
                                <div>
                                  <!--  <a href="http://localhost:6443/pla/downloadTemplates/UI Contracts.xls" target="_blank" download="UI Contracts.xls">
                                        <img border="0" src="/pla/images/xls-icon.png" />
                                    </a>
                                   <a href="http://localhost:6443/pla/downloadTemplates/UI Contracts.xls" target="_blank" download="UI Contracts.xls">
                                        <img border="0" src="/pla/images/CSV.png" />
                                    </a>-->
                                    <button  type="button" class="btn btn-default" ng-disabled="(!createPremium.definedFor || !createPremium.premiumExpressedAs || !createPremium.rateExpressedAs || !createPremium.fromDate || !createPremium.multiSelect)"  ng-click="getDownloadedTemplate()">
                                        Download Template
                                    </button>
                                </div>
                            </div>
                            <div class="form-group col-md-6 required">
                                <label class="control-label">Influencing Factors</label>
                                <div>
                                    <button type="button" class="btn btn-default bs-select" ng-model="createPremium.multiSelect" data-all-none-buttons="true" data-html="1" data-multiple="1"  ng-options="value.name for value in mulSelect" >
                                        Action <span class="caret"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 required">
                                <label class="control-label">Upload</label>
                                <div >
                                    <label class="input-sm" style="border:1px solid #ccc;width:330px;" >{{files[0].name}} </label>
                                    <div class="btn btn-default" style="display:inline;float:right;" ng-click="uploadFile(files)"  ng-disabled="(!createPremium.definedFor || !createPremium.premiumExpressedAs || !createPremium.rateExpressedAs || !createPremium.fromDate || !createPremium.multiSelect || !files || !verified)" >Upload</div>
                                    <button type="button" class="btn btn-default" style="display:inline;float:right;margin-right:5px;" ng-disabled="(!createPremium.definedFor || !createPremium.premiumExpressedAs || !createPremium.rateExpressedAs || !createPremium.fromDate || !createPremium.multiSelect || !files )" data-placement="top-right" data-container="notification" data-duration="5" bs-alert="alert" ng-click="verifyPremiumData()">Verify</button>
                                    <div class="btn btn-default" style="display:inline;float:right;margin-right:5px;" ng-file-select=""  ng-model="files"  >Browse</div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="text-align: center;margin-top:3px;">
                                <button type="button" class="btn btn-default" style="float:right;" ng-disabled="(!createPremium.definedFor || !createPremium.premiumExpressedAs || !createPremium.rateExpressedAs || !createPremium.fromDate || !createPremium.multiSelect || !files || !uploaded )" data-placement="top-right" data-container="notification" data-duration="5" bs-alert="alert" ng-click="savePremium()">Save</button>
                                <a class="btn btn-default" style="float:left;" th:href="@{/core/premium/listpremium}">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .form-control {
    font-size: 12px;
    padding:5px;
    }
    .btn{
    font-size:12px;
    }

</style>
<footer class="footer" th:include="fragments/common :: footer">
</footer>
</body>
</html>