<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en" ng-app="AngularApp">
<head th:include="fragments/common :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="padding-top: 70px;" >
<div th:include="fragments/common :: bodyHeader" th:remove="tag"/>

<div class="container" style="padding-top: 0px!important;" ng-Controller="DownloadErrorFileController">
    <div class="row">
        <div class="col-lg-12" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-3"><span th:text="#{downloadErrorFile}">Download Error File
                        </span></div>
                    </div>
                </div>
                <div class="panel-body" style="padding-top:5px">
                    <form  novalidate="true" class="css-form">

                        <div class="row">
                            <div class="form-group col-md-6 required">
                                <label class="control-label">Product Name</label>

                                <select class="form-control input-sm" id="productName" ng-required="true" ng-model="downloadErrorFile.productName">
                                    <option value="">Select Product Name</option>
                                    <option value="Product A">Product A</option>
                                    <option value="Product B">Product B</option>
                                    <option value="Product C">Product C</option>
                                    <option value="Product D">Product D</option>
                                </select>

                            </div>
                            <div class="form-group col-md-6" >
                                <label class="control-label">Product Code</label>
                                <div class="controls input-sm" style="border:1px solid #ccc;width:535px;" ng-model="downloadErrorFile.productCode" > </div>
                            </div>
                            <div class="form-group col-md-6 required">
                                <label class="control-label">Optional Coverage</label>

                                <select class="form-control input-sm" id="optionalCoverage" ng-required="true" ng-model="downloadErrorFile.optionalCoverage">
                                    <option value="">Select Optional Coverage</option>
                                    <option value="OptionalCoverage A">OptionalCoverage A</option>
                                    <option value="OptionalCoverage B">OptionalCoverage B</option>
                                    <option value="OptionalCoverage C">OptionalCoverage C</option>
                                    <option value="OptionalCoverage D">OptionalCoverage D</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 required">
                                <label class="control-label">Start Date</label>
                                <p class="input-group">
                                    <input type="text" class="form-control input-sm" ng-click="open($event)" ng-required="true" datepicker-popup="dd/MM/yyyy" ng-model="downloadErrorFile.uploadedDate"  max-date="'2015-06-22'" datepicker-options="datePickerSettings.dateOptions" is-open="datePickerSettings.isOpened"  close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                </p>
                            </div>
                            <div class="form-group col-md-6 required">
                                <label class="control-label">File</label>

                                <select class="form-control input-sm"  ng-required="true" ng-model="downloadErrorFile.file">
                                    <option value="UI Contracts.xls">File A</option>
                                    <option value="UI Contracts.xls">File B</option>
                                </select>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="text-align: center;margin-top:3px;">
                                <button type="button" class="btn btn-default" style="float:right;" ng-disabled="(!downloadErrorFile.productName || !downloadErrorFile.optionalCoverage || !downloadErrorFile.uploadedDate || !downloadErrorFile.file )"  ng-click="downloadErrorFilePremium()">Download</button>
                                <a class="btn btn-default" style="float:left;" th:href="@{/core/premium/view}">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .form-control {
    font-size: 12px;
    padding:5px;
    }
    .btn{
    font-size:12px;
    }

</style>
<footer class="footer" th:include="fragments/common :: footer">
</footer>
</body>
</html>