<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head th:include="fragments/common :: headTag">
    <meta http-equiv="Content-Type" content="number/html; charset=UTF-8"/>

</head>
<body>
<div th:include="fragments/common :: bodyHeader" th:remove="tag"/>

<script>
  requirejs(['basic'],function(){
        requirejs(['/pla/js/generalInformation/viewOrganizationalLevelInformation.js'],function(){
        });
    })
    requirejs(['main'],function(){
        require(['/pla/js/generalInformation/updateOrganizationalLevelInformation.js'],function(){
            angular.bootstrap(document, ['updateOrganizationalLevelInfo']);
        });
    });
</script>
<div class="container ng-cloak" ng-Controller="UpdateOrganizationalLevelController" ng-show="updateOrganizationinfo">

    <div class="row">
        <div class="col-lg-12" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-6"><span th:text="#{updateOrganizationalLevelInformation}">Update Organizational Level Information
                        </span></div>

                    </div>
                </div>
                <div class="panel-body ng-cloak">
                    <form  novalidate="true" role="form" name="forms.form1">
                        <div class="row">
                            <notification1></notification1>
                            <div class="" style="margin: auto;margin-top:10px;">
                                <label class="control-label" style="padding-left:10px;">Modal Factors - to be applied in case Premiums are mentioned on a per year basis.</label>
                            </div>
                            <div class="form-group col-md-4 required" ng-repeat="modelFactorItems in organizationInformation.modelFactorItems">
                                <label class="control-label" ng-bind="getFieldName(modelFactorItems.modalFactorItem)"></label>
                                <p class="input-group" >
                                    <input type="number" class="form-control input-sm" min="1" onkeypress="return isNumeric(event)" ng-model="modelFactorItems.value" value="{{modelFactorItems.value}}" ng-required="true"/>
                                </p>

                            </div>

                        </div>

                        <div class="row" >
                            <div class="" style="margin: auto;margin-top:10px;">
                                <label class="control-label"  style="padding-left:10px;">Discount Factors - to be applied in case Premiums are mentioned on a per month basis.</label>
                            </div>
                            <div class="form-group col-md-4 required" ng-repeat="discountFactorItems in organizationInformation.discountFactorItems">
                                <label class="control-label" ng-bind="getFieldName(discountFactorItems.discountFactorItem)" ></label>
                                <p class="input-group" >
                                    <input type="number" class="form-control input-sm" min="1" onkeypress="return isNumeric(event)" ng-model="discountFactorItems.value" value="{{discountFactorItems.value}}" ng-required="true"/>
                                </p>

                            </div>
                            <div class="form-group col-md-4 required" >
                                <label class="control-label" ng-bind="getFieldName(organizationInformation.serviceTax.tax)"></label>
                                <p class="input-group" >
                                    <input type="number" class="form-control input-sm" min="1" onkeypress="return isNumeric(event)" ng-model="organizationInformation.serviceTax.value" value="{{organizationInformation.serviceTax.value}}" ng-required="true"/>
                                </p>

                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-lg-12" >
                                <button type="button" class="btn btn-default" style="float:right;" ng-disabled="(!forms.form1.$valid)"   data-placement="top-right" data-container="notification1" data-duration="10" bs-alert="alert"   ng-click="submitOrganizationLevelInfo()">Save</button>
                                <a class="btn btn-default"  style="float:left;" ng-click="reloadPage()" >Cancel</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container ng-cloak" ng-Controller="CreateOrganizationalLevelController" ng-show="createOrganizationinfo">
    <div class="row">
        <div class="col-lg-12" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-6"><span th:text="#{createOrganizationalLevelInformation}">Create Organizational Level Information
                        </span></div>
                    </div>
                </div>
                <div class="panel-body ng-cloak">
                    <notification ></notification>
                    <form  novalidate="true" role="form" name="forms.form1">
                        <div class="row">
                            <div class="" style="margin: auto;margin-top:10px;">
                                <label class="control-label" style="padding-left:10px;">Modal Factors - to be applied in case Premiums are mentioned on a per year basis.</label>
                            </div>
                            <div class="form-group col-md-4 required" ng-repeat="modelFactorItems in organizationInformation.modelFactorItems">
                                <label class="control-label" ng-bind="getFieldName(modelFactorItems.modalFactorItem)"></label>
                                <p class="input-group" >
                                    <input type="number" class="form-control input-sm" min="1" onkeypress="return isNumeric(event)" ng-model="modelFactorItems.value" value="{{modelFactorItems.value}}" ng-required="true"/>
                                </p>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="" style="margin: auto;margin-top:10px;">
                                <label class="control-label"  style="padding-left:10px;">Discount Factors - to be applied in case Premiums are mentioned on a per month basis.</label>
                            </div>
                            <div class="form-group col-md-4 required" ng-repeat="discountFactorItems in organizationInformation.discountFactorItems">
                                <label class="control-label" ng-bind="getFieldName(discountFactorItems.discountFactorItem)" ></label>
                                <p class="input-group" >
                                    <input type="number" class="form-control input-sm" min="1" onkeypress="return isNumeric(event)" ng-model="discountFactorItems.value" value="{{discountFactorItems.value}}" ng-required="true"/>
                                </p>
                            </div>
                            <div class="form-group col-md-4 required" >
                                <label class="control-label" ng-bind="getFieldName(organizationInformation.serviceTax.tax)"></label>
                                <p class="input-group" >
                                    <input type="number" class="form-control input-sm" min="1" onkeypress="return isNumeric(event)" ng-model="organizationInformation.serviceTax.value" value="{{organizationInformation.serviceTax.value}}" ng-required="true"/>
                               </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-12" >
                                <button type="button" class="btn btn-default" style="float:right;" ng-disabled="(!forms.form1.$valid)"   data-placement="top-right" data-container="notification" data-duration="5" bs-alert="alert"   ng-click="createOrganizationLevelInfo()">Save</button>
                                <a class="btn btn-default"  style="float:left;" ng-click="reloadPage()" >Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>