<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
      xmlns="http://www.w3.org/TR/REC-html40" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<body>
<div>
    <p class=MsoNormal style='margin-top:0in;margin-right:-.25in;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;tab-stops:-.5in'>
        <span lang=EN-GB style='font-size:10.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:EN-GB'>
            Date : ${emailContent.currentDateTime}
        </span>
    </p>
    <p></p>

    <p class=MsoNormal style='margin-top:0in;margin-right:-.25in;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;tab-stops:-.5in'>
        <span lang=EN-GB style='font-size:10.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:EN-GB; color: red'>
            ${emailContent.salutation}  ${emailContent.firstName}  ${emailContent.surName}
            <span style='mso-spacerun:yes'> </span>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:0in;margin-right:-.25in;margin-bottom:
0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;tab-stops:-.5in'>
        <span lang=EN-GB style='font-size:10.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:EN-GB; color: red'>
             ${emailContent.address1} ${emailContent.address2}
            <span style='mso-spacerun:yes'> </span>
    </p>

    <p class=MsoNormal style='margin-top:0in;margin-right:-.25in;margin-bottom:
0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;tab-stops:-.5in'><span lang=EN-GB style='font-size:10.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:EN-GB; color: red'> ${emailContent.town} ${emailContent.province}
        <span style='mso-spacerun:yes'> </span>
    </p>
    <p></p>

    <p class=MsoNormal style='margin-top:0in;margin-right:-.25in;margin-bottom:
0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;tab-stops:-.5in'>
        <span style='font-size:10.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:EN-GB;'> Policy Number :  </span>
        <span lang=EN-GB style='font-size:10.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:EN-GB; color: red'>${emailContent.policyNumber}
            <span style='mso-spacerun:yes'> </span></p>
    <p class=MsoNormal style='margin-top:0in;margin-right:-.25in;margin-bottom:
0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;tab-stops:-.5in'>
        <span style='font-size:10.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:EN-GB;'> Plan :  </span>
        <span lang=EN-GB style='font-size:10.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:EN-GB; color: red'>${emailContent.plan}<span style='mso-spacerun:yes'> </span>
    </p>
    <p class=MsoNormal style='margin-top:0in;margin-right:-.25in;margin-bottom:
0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;tab-stops:-.5in'>
        <span style='font-size:10.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:EN-GB;'> Claim Number :  </span>
        <span lang=EN-GB style='font-size:10.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:EN-GB; color: red'>${emailContent.groupHealthCashlessClaimId}
            <span style='mso-spacerun:yes'></span>
    </p>

    <span style='mso-spacerun:yes'> </span></p>
    <p></p>
    <p class=MsoNormal style='margin-top:0in;margin-right:-.25in;margin-bottom:
0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;tab-stops:-.5in'>
        <span lang=EN-GB style='font-size:10.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:EN-GB; font-weight: bold'>Subject : Claim  Rejection<br/><span style='mso-spacerun:yes'>
        </span><br/></span>
    </p>

    <p class=MsoNormal style='margin-top:0in;margin-right:-.25in;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;tab-stops:-.5in'>
        <span lang=EN-GB style='font-size:10.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:EN-GB'>Dear, </span>
        <span lang=EN-GB style='font-size:10.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:EN-GB; color:red'>${emailContent.firstName} ${emailContent.surName}</span>
    </p>

    <p class=MsoNormal style='margin-top:.1in;margin-right:-.25in;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;tab-stops:-.5in'>
        <span lang=EN-GB style='font-size:10.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:EN-GB'>This communication is with reference to the Claim dated  ${emailContent.claimIntimationDate} for</span>
        <span lang=EN-GB style='font-size:10.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:EN-GB;color:red;'> ${emailContent.firstName} ${emailContent.surName}
        <br/><span style='mso-spacerun:yes'> </span><br/></span>
    </p>

    <p class=MsoNormal style='margin-top:0in;margin-right:-.25in;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;tab-stops:-.5in'>
        <span lang=EN-GB style='font-size:10.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:EN-GB'>
            On scrutiny of the documents submitted by you, it has been observed that xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.<br/>
        </span>
        </span><br/><br/></span>
    </p>

    <p class=MsoNormal style='margin-top:0in;margin-right:-.25in;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;tab-stops:-.5in'>
        <span lang=EN-GB style='font-size:10.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:EN-GB'>In view of the above, we regret to inform you that the claim is not payable under the Policy Exclusion.</span>
    </p>

    <p class=MsoNormal style='margin-top:0in;margin-right:-.25in;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;tab-stops:-.5in'>
        <span lang=EN-GB style='font-size:10.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:EN-GB'><br/>
            In case of any discrepancies in the information mentioned above or any other query, please feel free to contact us.<br/>
            Our Customer Services Executive will be glad to assist you.<br/>
            You can also write to us at xxxxx@xxxxx.co.zm<br>
            <span style='mso-spacerun:yes'></span><br/><br/>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:0in;margin-right:-.25in;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;tab-stops:-.5in'><br/>
        <span lang=EN-GB style='font-size:10.0pt;font-family:"Tahoma","sans-serif";mso-ansi-language:EN-GB'>We aim to serve you better.<br/><span style='mso-spacerun:yes'></span>
        </span>
    </p>

    <p class=MsoNormal style='margin-top:0in;margin-right:-.25in;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;tab-stops:-.5in'>
        <span lang=EN-GB style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:EN-GB'><o:p>&nbsp;</o:p></span>
    </p>

    <h1 style='margin-top:0in;margin-right:-.25in;margin-bottom:0in;margin-left:
.25in;margin-bottom:.0001pt'><span lang=EN-GB style='font-size:10.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Yours Sincerely,<o:p></o:p></span></h1>

    <p class=MsoNormal style='margin-right:-.25in;text-align:justify;tab-stops:-.5in'><b style='mso-bidi-font-weight:normal'>
        <span lang=EN-GB style='margin-top:0in;margin-right:-.25in;margin-bottom:0in;margin-left: .25in;margin-bottom:.0001pt'></span></b>
        <span lang=EN-GB style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
mso-ansi-language:EN-GB'><o:p></o:p></span>
    </p>

    <h1 style='margin-right:-.25in'>
        <span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";margin-top:0in;margin-right:-.25in;margin-bottom:0in;margin-left: .25in;margin-bottom:.0001pt'>MANAGER - GROUP HEALTH<o:p></o:p></span>
    </h1>
</div>
</body>
</html>